<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	AWjkrh1Wu6/p62fY0pTYMaNTb7nQl6Cg01U4H0Rk2hfB/xnwE6PEAYK2hTUCoeFFVI+Q
	l9JDO7Igflqh8YdcbbVfzvpaplBF6Hy09TIL4ETZIbTyS3Q1Blbdqa6zEm/6B8L+P9z/
	U+emvdpJNTJHBd6uyYA8kzip11UvZZ6SwQOHRntQKW5lVnxdk2XF9RegevPy8yLwfe2N
	CHgQN9iULd64NjYJMbraCD83M33r4fFAtA9imeLmgk0um1WKlIyeoIUQ2GTbIEGOW+LD
	RdFb+MrqLO79Q4fq0UUKNMHz1kyVoqxBy0oTQZ1yX4v7TFcfBUQffM6y864YvlFqZY4y
	QA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQD0oO30kd5sTdmhKnE8/1HkX2fTvFGOuofW2oY7xpUH8R0yVIXr/VZB4O0ziNmm
	EFgCMQDmVC4MRntimd4n3u39CFc+dzMB/qeoxkamKRWyGhMhSllgBu2GawLG9SRFfG9p
	R18=
	</data>
</dict>
</plist>
