<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	oo67xmC+XBAYKorvy4R5iFmiMdXATVadyauSRu8Sb6Ku1IQuGL7m5iNQm5PQuxOBSAC8
	EPhNVvR8hE5tfqaHTjb7ajNYEawvpQrsZBMQIG7FhmeAnfcAZxWT3GqNfQgXfdgGVv+1
	yco2Q+qGm82iXwQndGMZ7nsDFAkkUyBxvPQp+jWqyuNpsvxK75sTql+eUNApRjFEORFq
	Mz2E+BpkkKl4HmlyPbzmT/BXkTKI659OcjLyZVzHlm8Iv0d5j3dlwgwD8reA6udTq+w9
	g2retb5xtBap/m7sSP9q+HUMRg4hueAF4BYdBxAYKUUJ7IYyKjzpOdXBY+zut8ZmuJSP
	bQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMBbaisxm4pz1cxIOtAf5thduc7MVfde0aZnckt4aFZORdGquMa/pX8xg/fGTRI18
	awIwXcWXA7yxPaCykLi6NXBiXlY0yhQdgYfnQ6i5wjfcEpvsXVSryN30UenPigPiWz5E
	</data>
</dict>
</plist>
