<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	AAxFk+1mxhbFilWD6q+HV0pfaia/JU0fo1lAIOajimmViVHPxQVdZfxY2OpGYmOQXjB0
	XiDCJI7ZyDa7MTj5QgPaIeGkZZdF75ikRj8f2UdtxKiE2BitVEnGilvae+Z0pCg3LPyG
	23zGROwWQ7qK23Hu8UAr7l2UaNtTJLMYpkI80n44jJK72BHCxfSFVXDyK0NzrbUCXDe2
	uXvmUIFNYsjwaSCvhXQQWwE+lzFHsLEof50nxKO/K0YRFNuDZMm2DzegbfuDyOfhM1BS
	isJDxzjhfMEgQOidqBe/1+4GN/9axduQiipeLrJHg3dTAicOtn6HLzOydHFLXoqOhtA3
	Mw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMExaHwaQ8xo34BNiECrr/1fxz0xijGqi/3iJG34qE4y+FtNK7YROdmycQatSe+rn
	NgIwZRQwciOjDb6AEenUH4+Xo/SttM83f0cH5cp9fV0bBk5cWvFWtdDSwbrambjxk/oY
	</data>
</dict>
</plist>
