<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	E+8vvmot2b+lgZbf7UE0I3nUEH09NtAtZAis8efZDqoeNxjjmQUnPsPV9uLUtPYUqORb
	mvi+OCyo5PSG3YpGBZDbHBGjoxpY4mLnkedyGHKHIfikRqYZNt6KJfOQ5tv9Bmq8Enmn
	UwqiMfGYUlI0w8qBph1clJOh+M82yqjBD36jK6IkazLXTJm7NBhYyDk96zi5H1HfN7Zi
	rEszC3aiS9YcJrAoqfLfRPtC/byB8JRizYHC8VVGtqxXKtT5O1Uhx2Nlm2xMmRv2YRxk
	in0lqzKgyIrYjNL7DluWhWd3y1Qoh2YU/1dU2Sgwnj17TCHTa2F5QuoFLmvIeqxNKcwl
	tQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMCJQsZRqwc+lqX7BRTinzt8isVZgcGYsfSPBn4Ux6oWnxtYC5I12STvpEz1VjM3b
	5wIwNpdtYFtQQSX6Vs1e7QyRtDIrDTSxyi+TpQsgEZUnpSkBn4nhuQ4312wjKqAqbZWm
	</data>
</dict>
</plist>
