<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	PzdjuA/Cgh4/ePkmVllOCBnuxIxF2WkpuddyoTBSvH9oby78FhW3oKQLG/OOLUTMSU4d
	iD5P5q5ZGiqKMo78g/o8E8i8Ru7s/CJ11Qk/AeG2/GUWSnPW50upYsvIXtD+5dLbG6Bn
	9RxzFRROiXAbOSCBHDf+uI/rEU5/LliOEaSU5pko9IzMQC4V71CErMBa120XS5bqozA0
	dfcepIcVuxsYsuzAHFfQLSSp5cci8e21d9APcxDgMPAw/Tua/vrvyjFFGUyrElf4AGTS
	soh8pMsVSJOZM2KyuagU96stSmbcOlkyGeothfmTDHChYxJEhnC9vNS7+Bk0+z7DZb6A
	rg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMGmyJIIHs3N+5diPydE+nMNAkVFkC16nv285iMPVpuAQKzK695NKFHOwoBDv8+yX
	BwIxAKq9Z3Hy5VIqodS+RWR3+pw7nDbMNjsKZ14al8Xdny8A8M3IospBkDiAvvxLQjz6
	dw==
	</data>
</dict>
</plist>
