<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	Abrf1xSkph5cu4j3UuSfJurHT8sywRjWiAsRL9jOudtTXQ2u5fbtEFjemXNneVUIJsko
	Vvbz3ewLXdaEXsIQhHpJdx99UzcOE7YpavEMZwZOWYW+Qp8JqjdqCuIQMVEEVqJ04RjW
	ufh9oTltWmQNdKSVydTTySOAV2k3WiZBV40r2ypMluLaHqiTPyRYDA8t3VU8m1wReVyH
	VBg5n7ZcabLip03oHEfFizBA/YEOwL5ARWt8Zb85C1BngehpgEu25i0c0rnOEkxgbh4S
	8RDnLZ27qlZA/gb0teH1fJsGiDUgLDYrkQuPQ13jZqGRpWusEVzXofSFogWzc2d4Dml2
	Kg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQDNx6HV4tKfn8QjwtcAU+3eW7OKSazFWcFKPmsJz4L+2/F+3Tqz2NIKGfMMmV5Q
	ruICMQCfyNigfq64HG2rmLQQchyg+nFHV17XQllNbKbaFuRUmfUUSvPwFWxq0niW02gA
	cMU=
	</data>
</dict>
</plist>
