<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	2eqPFotbEObHTmEJGvRulb2eXoaRO5ds8n//pkfZdqZ4bEEB6euGc+Q+/BiBOwZKDxSg
	Nknq6CXOO5riITgcfDDqTPC73ig1Klf+VgtjoAk+KRFgXJjvZXkpwWh8ZOYXdMy3r6Io
	Dy53sOMqao1LPPz/B0G/uXgA3JNbNP46/PAxQhHhSZwl70R8PjeDPhxYo6idIgx5Xk4g
	MNTqsBOXrxfh8ImwefSB+W/Du7z68O7vTFPQV/wQC8oEXPYgbiukdNSNeqMSyLVLNbyu
	DmMetjWkBpRaPVcjevmlwTznj9WDtV6kQkJ3k9U2MXyxeMFBq8h9eGtXBBjt5xJh/K88
	rA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQCtnlRtFq3gGUdCO91vA4PEh008/4eSrcLGMKdkncTBEnUwGGKYmH7+eCT2K536
	QeACMC+sADDo6sFKGw6NyaasZ7NhFUkCG2decJZJDAgHlWmLngPzYnHSPXLzpZTEg8V6
	aQ==
	</data>
</dict>
</plist>
