<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	zqFk1K0Tz9dZ94Q+oWIjZWYCpEET0sT3BtLnZxH3LmA0pwJ3H2WnT0rOK/pgSI3jrCxF
	cBIAkcpZeTmcJCDOFFVP4dCdtceMYg275vhrznaLz40cpgEjYyegan+BefDjp8W5Mjga
	9fAilWYkMJRWR44J3pKQntA41mm9NJKV54vOG0BY+LfaoMc8oIybkhBPaWgHoINGlXG4
	lh0HTvt1MWPAaW+frWXynU/f9yElo1VCVK9NhUq97j6JmgGTjNoFh+zymI8/fd7ECDe0
	HyIv8TqZXCuilxplz4hXW/SVp+RgUl8Xs1g0bN2zXaJwq2EUMzu6VSFVUq18zHJPRhV7
	Ug==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMExdGuJKufTdbWoRPYRIxzC0x8+iWp+DGjVHjXuCYjbmuCaWpL/bXPM2GQ22khn4
	ogIxAL9uucFpEefFLYt63yemWEZSv5VZN4wdbYJ3xn8rPBho9aLij7hs+LnA0dMjUrsd
	rw==
	</data>
</dict>
</plist>
