<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	4iNq3cUX8X43lhUj/QafTS0faOPN010VKDqAgXyGWBkAtKKInFK+kfM5aq9ljbHRcXzo
	kKFN/JIwjXjlxySR7IBPwBl4H86/XdFI6OHRLtygwSYagbtextupEkEorWO49PzQ+Cpz
	UpN49qlEjVkRMF2IWJDU+j+dpsyh+NZyJyRIW9gJn+AhXznnFNlGKmgRIxrJhYwSJKSm
	bmKMvnqsW49FpuGqAI5HKoLBTssXcG2XZJBHjVudfH2bf/+8hVI1LBcadllMr7HHr+lK
	QFMYVWis4YTjwXBlt03psiOUGvq46Pj0o5pTfRdupCTP8ENv+QBZULej9Nz3VyllNJ+L
	Ew==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMELjVkkks97nwARwoP1mR799rN/waY+cQg5jQ3edqSZrffAC7Ko+t33/QjQmj8fb
	tAIwTAAY/kn4uZ9Ndi43/SUdgr8dXlA880spmtv5cq4OXjHkkfQB5BHZSI732RDspzkQ
	</data>
</dict>
</plist>
