<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	lOyV+2lpgDhQzGxtxPaIUxI/OlEKq7N6z+MBrpjkOAR5iIyESMfc0+ZsMQBhR2e4/Mjp
	hQhNVYwGwjYZTFCoYAIyEbc581Qy33bMolOPfwHkZLGLKuuJ/+1CaBzcAwikG+vdnMNv
	yIm4YSZzt3UYbdLJgBW0ijfFhy8ILNqDo2jMJytJd07K6+O3Ljl8GXwY1o3MwOhITyw+
	oDsMn4kgOd/MlV0J9unedCnHO628dztlL/My5a+JQeUQ/AgZKYvuOk478VoQ7e3qBntu
	Yt3Axw6HAXzr1YI54grcH4SPnrS0HbuW2wx/V1Qgyp30Q/NQDwUBvgrAOHbMYKVQkND8
	RA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQDxslz9lr/PnKKyj2yxTUT39EsDrmHjNloibPVEXEmAHjWMtnPMeGCMqKeMFcKC
	8Y4CMQC14YNBEhNKKgsFGw8OJHdmjq13hP9yZzLeNxF/7adEZlPiEcODzUfW+NWKawL0
	gZI=
	</data>
</dict>
</plist>
