<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	QoKrAtA/lyCN3uG4j66zabKeuQO6ia0zhb0pG+gXutYUCIGclp+XoiaSht0M1bbj03N7
	IqInRzxcf+hRAYrXwN8Ptnn/QtpHrUPyFjVF/FNE6tZqkTUNvfWgftgX0sNvF4Kgs+hd
	Za8wEz/VLnQw5K03UOdgyNTGeOKlYYnKw5lU3Q56vPijytGg3oOcs9ricqgMeIwx66/N
	lRk9ZjSCGPNXZSWj2JJJxbIQMrfDgmAKguCbzHxngj2TtlZGUmgUgtPNMzYWsY3b5A40
	09yDGuUrqxUuNlasAg7w1OBLHwW5Gc84MT6XjIt/6zt52Vlx7UySZwSV6rTdF0L4UbOe
	Hw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQDfCbdTqznHjBiw9ffh81i81nZ/KOuS1Cu9HN+lH8cnrltXhchOOlr4GiY1wUyJ
	Lx8CMCYtlUwPq7J3tx4QKM/4Yr/GrKyR1Sp4j/AtaackTsrMRBoWPI9lpv7ykj2uHkJT
	7w==
	</data>
</dict>
</plist>
