<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	AWD4rj2A7sn8IabVDQB9kNz5E9Ap7FnZ3loAQ1Nxrm9kOewOfpXZvvVwLPncfhxTrnRm
	Ow9OfgxwP5zRGvSmI1L64Lx8baJrdjo/3uomsClkYA6fuQmib5QYyz07uXpIiergoTTW
	szA1djthd6tIImaqZLBRbMfITJ2Dujxa5Vjtqqzi9i77CE2MLMhhKKHTlJYE5oqHQ3Ip
	VWGRg1a+wEhZwmgKs3nAl5xXAA0pN4EYl1FTBfeePic0c3jRVhBDRR1GPaFGZ3odtJyV
	bUXa9Ao+veZ3pERm4ZYFKLgT342QDPY00CDcksTsKxs1G2zf/b69/uJSDPeuzKTNRnaQ
	wA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQCxr37QAR67n3z8VJyBqcNcY8+FwQDYEkWwlmHPzvbihwTGldBtO5aT5lPMO6MU
	FckCMBpf/33JieE6XT4UUYnBgqe9HYfG3Bu3oWMTS9f1Fg+Wm2pG5Nlx+lK4dCBnsqN/
	nw==
	</data>
</dict>
</plist>
