<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	Chpe5rJ+uvX8qNVSLaTbNBW3YMq3vXFrs1Qg8073nRBna+8/co6+DP+GZavLzYHnqL+N
	pI8QSJnFa03+/atPUEP9qLNTSCmYbjDbQPvql8H72pFQ3pCFtbLJFHH2tLa95VgT9YmZ
	hx+Q6SBwM/OcMbKUFrajqDib+KyLL27sflR7mUKoU9F7PvZa4xaEiVEUX78eITngTYyF
	cJZI/6iSHqSJx395Jih5vUJ8YZzegtN1R1kA4RX6FDibroCy+Qzy+c+La0BpPjvrnjOU
	aT/kDHpaY3rOy4+ayGMllPzh3CZlrM+TVacZZp0qzfameMlpVpa9r+D/BtXS/OHvQ9Qk
	8Q==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQCE1KuAe8A0qOA6kyOZ23lmdCdxv+JywY7GUC1GEQHGyY/BkCslu8ZrI03l0tBd
	FHgCMQCCtlLHIJRX4InlxZ8hPopLNA4x5X/PmHaw1FAyB/zM50ZFv71vMaJF9Cb7yz0U
	k2E=
	</data>
</dict>
</plist>
