<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	ngykr24yWaufCMh1ZdlKIkh5zUF6J1vwRj7w34WOhXr7+Fk52l6hKTjqld14At7Odmqw
	0m8a5n49uvGVngejqDhMcwY/dBabKfnDi2zyhJsb6HbV7vjyR1rWvasoIGUGJdWZqoE7
	EijYD6OBy62+OMvviQbp2viiD7GHYQ3r9HwUa6g9Hcn5KOg3nzQRPddDRCf54OY3ykAn
	Xv1LLu7xhiqgEfkKKvxon8lrAnKH5jHHqf7AMhSo/8c7pYcPY+qtbbnA9ufuBaEFgedJ
	2Tp+XJfAu6f7fa70wmWYwqWKC7UdWfgOLVTpatHchQ2I4Zr7Dl9yrTY37oU/Zn7JCYlW
	0A==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQCFllSWH8ReUb58mhcMB4i8cyJVDKm6pUjhgiIwcKo9w9zPEs4u/Zvam2rXKDXN
	7HQCMQD8y6OM2AFL8Gicy24ajzyhRaOakWo05lz7GO06S6gDwwIWiZnVLTIFV1FlfW4A
	Ggc=
	</data>
</dict>
</plist>
