<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	kL5On10AaAJQZ0fK6Jm+43J3bigqag7hnhed5xPaMO41FmJsqaFkqKh5EzAIwnyVLZB5
	arKQiZsJI3MHFwUdeJOv30n9JDKcGArrcgehF1mSJsiWO0KkpsA+htknJOzGJG+O52LP
	ufQDXMBqpk30MtaxsxD3bMOTdWw1v4YxwxL425iHqbV+9AX1XGn4j/4BQ/16A0T94hjG
	Z+MZXEem7++CHcb4iu5hdeyeI4mRgCYHkNDBSB0TYMWysevXEphf58MIUWcOABv/Y+lW
	wPRVNcCSA8b1eTsAELY4HpKhENtgCGYOQZGC5IhR47ZgnKOeHqH77cHIEjw8lx0MGI93
	Bw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQCTH8DT46NEfLo0FZdRffHt3VmDMGh8BzcXLkZsobCOm6BC0zh8npU4AfAwpaWh
	/QoCMQD78XV7Sv1c3O5VAn9gu0eX7FIEqoU3oRw22gOidDkc4vFtYW7Ala4A6UUsqMbI
	lT4=
	</data>
</dict>
</plist>
