<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	QII259plqrhKzjdjhDsMXm6aRuyFAQlJ9BtXfCSkBDldZSfbupfkdo4vfDXe81VKTFlZ
	fqD/tJi7QQsibRVGiHNuP82r+qbpFhgNnqwqcUMOc4lYBaSX+ahKDChi1xc9clASBVRo
	SMxdn/ybmadcu3CIjUanG9sqSfuKetXgc61G8x9xhtDvsE5CLh5dQsP0ZM2pt6AtVj8v
	Ry91r8GcYDleRn3V1Ydm8wIV09bzYknD4AP4Luq+sRXY6gxR+VRSfoKKGIjbUKRXHSVw
	yh9viJQp00hmpfshcB92riUpi2pbTT+ws+rHu1Jxan20cuL0m837ZdaPUg2jnkbR8/f+
	AA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMAEWB9RuOaJSPrt5rXPsT+/btZT8HX/3WaxKya2X7m6xSr1ePMAIxajDOjHfyhuR
	6gIxALu6bwXbn+MkK8VPeT9tMAIL7J4O9rFkn69vQe2scNuJy92AK7on+9cDgY5doMGG
	Nw==
	</data>
</dict>
</plist>
