<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	s5BxApbgzje2QHd8ty/SyZvZ62aBgztDld7VXvTbfELxx4fy92T3l7piMWi/i61DH0gp
	fl3B/tU4wx1YxQ/M5klwv+DpP5f3VH5dVX+F1W5Toiul2srPSrOtlyuWzUPegrmipX8F
	Kxe0RoPUaFO0iXgyzLvijClBqX6jp+TW9GPLvVdvcISmJMOqfnCFQlqkjiT9aIaOX4Bc
	LTe3VPidOJjgfPhlqdXFykBEl8XQHq1RzfF0r1IZWWBsLxHiAuqxuHBZ9EvRb5HKmblr
	cY0YY0Y+3qUaPh2AuxcgVVakHPdMOHnRt5qJ2c0ZNUk7QuLiYdNHLnF7yUqcLQkbcYfq
	yQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMBHNZigDhc0XJFq/Xk8jM3ZNqKXfJdChOMYVg5qrQ/TzEqZm2Xr8AKthDgr23n69
	9gIxAPZxams0uPwQeuS5gfVv96ANxTD6N7oDaPoGicon+Gk5QWVF1LnwDOZwq71bBGgI
	Yg==
	</data>
</dict>
</plist>
