<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	DTRXVlyYSACIHwVcIy2Ogaow5Kbjg1yIcekZMijN2cBBJbsJ50dXBSIi4aDaDwr3eptV
	j1A5Q+UqHnSIQd6jR0NbsoTw/7yPOMy7SvLJDOdf/gPKdlAq60VVNz9IZxa5MM4M5Hx0
	Wwv5/cygXf4+88EWQhnB2jTFFI/AMSiKYhoJOJSI8/5B5341NHaYZjxSdwlfydHJbMYi
	xe8gTjrKiEtUOYkmblyJGM6SquOCRRGQUOP8XGytKTuLFjcwJLBSJb8olSV+G33FXQtR
	uis8559trW8slWB/U9KLSTI+8uuR2OEAJQwgnXdvM3wtuLMxq6LbE7781B0G8RXXZ3Gq
	0g==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMAyoPjF0s2JOeAY9k5cZ+7yjad1lmUbEvTHrpcBG6Pffjk7TaduM4B020kJ4vs0O
	iwIwVHPhBbGfbRKRbw1tvdtGeTMiTfD2etn1Z+va4HVluzRxeqaQ1SfBNofLeXjT11Ts
	</data>
</dict>
</plist>
