<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	JNo7KMm1JKF8Y4BrrQXCCuQb67M0vQMw12iPC64xSqaVLVp81V/z0BDwDo1cKFfDFZMS
	GA7yn+WkmFkoJurj2iLxXyIVbuMaS89IFDjhM3BIxu4lABnrJ5SSuDYmqw7BNCWucBNK
	ZtS3yCRYTcPetpA4aj5FuHq1yIs2hyirM8HLk/VAjwmfV8AYm7Jf3b1IBv8XqYhcD8Xs
	ynaweDFkyzAdRf0bqCNdyLmIwKxm/tX7dYWZpWUTOWLsdvoYvUqEXN9cVDJOxMGGwR3W
	D+CXmw+17Rho3JaO2mfCeIXre5OGGxEZ5H5R5KlJGM2ImwAvE0+aabxtbYx8cCN/pEfk
	vQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMAeOU27+g9/sDgGJadAmb2KsrWkB1vVEob+3t9bGzogLkEc9yvVb3TBNg/Sm1Nn2
	OAIxAJSnh1BJRp39YkbVIE8fI67gpu46etSC/XigSOOBGfjvTs8/OfYzSDN68ndQ9hus
	6Q==
	</data>
</dict>
</plist>
