<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	h7vKFvBcf5EZrSQKD/+6RWZWPUxmTbjskNS1nBakZZpZq78eZl+kYPFap9KLcpmUspfa
	b0YMKg0VvtjH34cXwDpbHgAIaM09TiGMshUuIX+bEu9lHNa9RUZH3bKxeUinoO/vKxR6
	jg4ZEN7G5U/aC5rejQnZGexHGFItU8AEjy8HkD9/yoyJ4jEJJqbNItFoBYod8JOIukuN
	7XZWVsRBx+RI96zpKpPtUxP/SZaatvY8w1agXfAtKwQ+ILXCC4GJPaJXXK5l2AP7K9q+
	FaGWwpIHtelRMpnU+th1B+v50wSfJwoLJan+rkfTFKg0smFElz0LmnXuDoRx77Fg0jr6
	Ow==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQCd7pzGFZ55a+WsET8VU3skZcaXVcm9pj/4+HPMo4pgMyW2VIKmqn9+SY6zj2UG
	Ix4CMBDewRh98ljCjQw6ykhKw74geeJ6H7QIUrPBVjDWcrnGh05v+d81DceCqe0nA/sD
	+Q==
	</data>
</dict>
</plist>
