<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	PskA2Ea3vexBWBHTOmRglYf7BKhy+M5yPwOX1Eb/ZPL4tbJqTtoJYfslLU+iCS9mlNSZ
	pJmsQdo11wNBYtHh800bkllgY1QUimroUBMlOnSCnMpxGjlyWtIjjgqIaYUJLUzDmF1O
	13NE8wN7XzwDVsJ/Dhr6zSZwh+1buZXeKn6H9KtP4nycbQ46/wLWu80i4wChz8kdgu19
	bkBf6ai8DIqkpSo7dSaV11gPsF/zyQNJ4eU8jb79nvjrHerWlE8WMGmV0stmE63tw8LZ
	f4l/rqI/9A2lQKVGrUQZo5/WGjy7e7WWR5DQO/eKxpFH+onf1+Jwhhyv12vVUZaDNcg6
	iA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMBE3a1lT73E47Pdog31v5QUyPkZdGAZa3x75NQX5kfrQ1AtFeYXaAW55Ux8R+Nbi
	6gIxALITtWZBdvn1zTxdBPw6Y0Z5tmPUAwEi2wzf9QOuTBZU0NUEUQ6WC7xig0KWtb3U
	gQ==
	</data>
</dict>
</plist>
