<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	oFxc36N9L14TcjHtJRM04CXUBEZhVmCgGJgp3QhilJ7i9rttQYmX2iWHz15+yH1kSdaU
	u1olHGhWGhHC4F22SIhcSKeN/jAshQk8slb3m/SEcnl6XWWDPKdWUEzOJbYDgr+7F4fj
	twqXSCKfCgtJ0DB8Dr5ryHHJLO1a/DdZeFhDsYCPLrGKhVobR30bKsK1cyqpHps2m/IJ
	fmEKFmEjEYfXPVERM8HUcagCcMRXjJ+dr1FUwWAwoFjBpJfZ1FYF95M+d0hGn9GHfGu0
	UERZe10gctsyTZvQB7yBEJMdoJ3SHtwRkjelUNBUFR84YorWDgq0CoVVAFok0eXwUwPk
	uw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQD8wxW8fEMVAxdfYB5c8DWQQG8y2f5y31mxDK2eY1QhQQABWEDuq9A7vo6T4XcO
	HwQCMQCNZk5/GIYOVVMeJ3dy0vDsYVxBRxOXqAoCOXxiTOp3cyosY+HQGSb1CirwZeqQ
	0lk=
	</data>
</dict>
</plist>
