<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	nV3WRnya130ceCGsBKOV5YT9a0nsXUcmRYM0ShzQts25grueU/ynNN3iRUhRV9K/AKvu
	ZtRFeADrmzoL94fSy/7/psVhyQuQ12EyZzBK2xcLVVNmxhBFfi2rsz9cQC4UMBYnXgrD
	tEFRcD/caANi6Kj2Ra+9jxOanLbaMB8xy6uPdC9+z8r6r4oaA8/w16JUq9/2Hga3k8pd
	SDUlmViIKrDazfZpW3hpC5p2hCrHdIm5X7ZfL1wselZEtFNuxXECRda38ZqHDnVPq0mB
	Y30tmTPIAIiicm8Cy7flqDYxUb/PVJHLNc7pRDg0FdIWc4wGUI+JWdTXrDQXWfUZDefu
	rw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQCZXvW5GLFOCOgofzFJu63YWEiXN4wTe0DWjikSRYpDRncesjhDyKXJ+PLHEyBo
	pi8CMBe0okmbsIe9LyMi+LkX8pOIE4mnUw+8ClC/jcXv5akkmQ3x6EYL53MLUlgJE+6h
	sA==
	</data>
</dict>
</plist>
