<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	dZuOYVrZ0godooPwV4EUMyPuwmtI2JU6/GaEJ5Gvmc4ZjHYK63+SZjf3mfCpQEyf2DQw
	IbnxDwbLUgRgeXu+6alxCs1EGBs7wfi9RI6C/G3yTesLu3i+rkIpO9E7WIE9CSJZBQmx
	xBMB2L1PYgWENQNQ1HbPgaAGuOlGnLklx1sjRQqprTQYv6EN31sUBgtwOcPQLm9zMxec
	y77RBltXHLLt9viNAt2CiTYvG5BoY/FrkDzqPkf7kppo9h3WMu+7qdW3fJdLx0FByxOC
	SZfaJhrjBRYN20vwFrwCTUylmQEBaFNMrtFBlW6J7uvB+QicA6/s2gk4cKoZoyuAZYUk
	Hg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQD/voEQGaR21VuTfwTTp1SYtuLBzS8acdt7zwldnQEv5/SRrNMvJbiXZJnEMz0A
	FK8CMQDLhNR5VReCHg0Lidrlc71nRlYXV/K5ltHDIrGxVmYEE4XiEMXsGtlMT/V0YalC
	aHo=
	</data>
</dict>
</plist>
