<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	dg0Vz6HUbkurnwOYMoRMCGpCEtT/DaMXT4PlD7r8D5IlsyswMtgJrBrZvWlW4vj6pUKp
	WnXcG+wtP2woioiepFctEdYBRnpuzY0WMcuKr7SaMi4o4yXEwjZNHTmEwAZ4tnI9p+x9
	VvhbN7Li/D8i0udK+VNPQGOX0ogM1d/cpj3Wqoeh91vcFIsD0gYYDUWRK5eHEUrvoK2s
	kkA72zaMZ/35T9OQqrbsFW5KoIPgvEmolBfzMoJvwbqs98/h53YkYxmBBrLTjw4qPIe5
	5YdMMPezuTOdr1cWlwHRZGWHqHZeR+0LCxWdJHPz2VUDGfBdxV3xlxI5sdlfJiKAl4dR
	HA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMC3ig6ysNxR3bE3kk62G6n0UW6+qRl26ri8SMYnpK10QXc3ZRRumOCMLxn2mnb1R
	xAIwXDoxvBKOe1vW+36j+FxjVULI0rfT8yg6LaxDzhfUjaQy/q4DlZcEdDjijLURnJDg
	</data>
</dict>
</plist>
