<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	4zGZHLhY98zf99c9dF2M59Q7+6+XM1hNQhmwJTetzGioffxJQfEDtJchmmJWlT5y/vid
	fsmxeYjPUjY7wAYON8cgKMWmMjgJafhvhjEXUxKHbWv0xBFsFPuYme0lIYvYXdeZYo+P
	0gjxOAH6j7oi/C68LaBQK4zi4ZZ70Tj9rIyIx8mAGz+PmAuWkZrUmhFJwnDTPndCl/Of
	RBfBpstxC7eMlo5q5yCQcK7PWLpFjsOogClJKfo1o6IrOJT9md/FcmhWVc/1JcT05l5v
	PFK3awqPpMpO/ldQg0x28qUkYeAanuUCrXPyG9V/A0g399BwTG6tu+h9o5p3fLMthDsh
	yg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQCClK84OiSF0e4JP5uYKshCLV7TXgClzAFKhMXK+fFKxvx8DNBiNEtpuFLYVbAt
	xDoCMQCshOhXJx0h0M7a8vofW7SkldPSbjc+OlddaoHVXgnbBiGYkuBSgnBjd01Ybk7x
	RNI=
	</data>
</dict>
</plist>
