<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	qV1cgAcb0FQ3R0ySpGIJBLQ5GPJggP171BhqgoSJY7ZfRj17YUf5w97pjc6qbp3ZpPjs
	Hpgg8z1m5BZXb8NtmRzwDvHlj3JSWY5AqcGL8HiNsQaoT92021XuUVn/LpvOHIqFXbGI
	PgTYoVrI1Gan4wu2NOEcA6/yzZeHmQtyUaoOZjEfVmHum7w9ryB0JSq7Rr9sJIqrQHOw
	rcC2R7rjwXaRD417C/2Lv1O05bAu0jhcXiaZRJjLezAKoeQfua/iazav/mO0bdx67Q0p
	iEDRhKNO9GctzELJlIfokk4VLbDmMxpvgcaFKUmka6h2SQviIoH8nclFU9CTpGdzq7JA
	MA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMCtWTK+CBDJxv83t13oxAUq7h4rqmjKYcNX0qZEex1gVXim1TsOrPsBJ9Jb6LHHD
	0gIxANgd4kr0HXjec0zCz5/9PCYSNGBIcWWpZaevYsY5QGvBO5jEZijMm7ny1WJwVzNK
	Wg==
	</data>
</dict>
</plist>
