<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	YacgekqV5m/NTLYqBvXrxhJoZJAEw8mU74ZfHPPXkmqa8nyxrFdUeVcEuB5cwRin4+vi
	y7OOJHA5nyfBaaFPrQo+9V/M4QsnA7S2BoDx7KWWsooFIEq7IGgI0Ac5H5fbOO+37/60
	KuUYuW1FsETh9xQ23W44jMRyxYyKeIVC5JHtRH1KdtY4G/sUczlG+nhCzR+03FouvlpJ
	KU+TySTpo+oiwzk489OmrkqzF2Ed2vgU6kKIf8BEUp3HGfJ3RTX78sQz16xhOYXJd1ba
	gXRAi6Oa7HwPYsjtv1TFvVD2kLvkQI457JMn6fG60P3wj8fnl21JKgxUineOPB2S3Ss9
	OA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQDZydmwoG7RkAizNOAueDZKubWkfAdDU1aB/Iqu4rtZZgdaoB2DDn6pwie7yt8M
	qSQCMHr3N6gA9BEdBhyeLkJPYRgh/Lu14RVn9O5hrFfJq1wYoNkfWiZIbzbUSfckJhx5
	vg==
	</data>
</dict>
</plist>
