<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	LLHZ/v2+18lzE/DvSKj7+egFtReErhnuIfLGuHjoIUuC5ZDgC5u0Wa3Y/XEKGrKeok9i
	XSQC6iJrTXJMKw6+okFmJsTyrQ0MfuXLD2RBsFBWLCIUrDAVLYODr9JrCoCX5GHjf6iZ
	OxozavN7WhXGdz6NuvHRYSeZuEe445pbOr/0WU351nt632rm/3WdymINsEGiOf1wnJII
	S96Tg0oCFj1cI26wmKV0D+mVOvBKJnS7f5OHEcApnA+dNqz3Uf2sslawGfg+fLGGdgkM
	zKRcQ6WbLhuxxhpkdh9/7Vrm67DGudw4rStNaWdswgTSJatiuGc2PQG1TuCPWbtEZXQe
	5Q==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMBD1QjEYAnhBOUGJHlb+VYmezpyLikYsfViyYh9HsDz7CZXALQ1ex5LF2izrUlyy
	NgIxAMCznFjKOdfkxepG5gY04Oa+OquBYy0n79ypInDd7Z42zcYKtWmxrq/QgRck+Oix
	pg==
	</data>
</dict>
</plist>
