<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	awKulpTiwhBywncl+TcBY7UVLWDy2FfRRdYCsveAEQcU/Kqb9m54IB6br1iDxWB16/lz
	JphX6O6enclLm+5LKAkt5bNKjK5NeHdgNN2CKHe+bTZ2uh6569j3OttXRyiiGnTXbTkh
	tn6WU2N3bSnIP97wXdZh8XcaoauFWJJv3F1SB8vp2lkMNGNzhTX2qifyGlFLH/VhR9Kr
	+d73M9DKHUM5IjZNxJcfZ5BpGiLyKLad6T8MD3E/cns4qVgAnfZq0PBTwvkdb1fwCpBA
	REQYtLskpt4O8g+mrtLfvtJDdmCIqHvBWsBLhQmIwUz81tZH939QZT6Ajnq+IXhgYHx+
	uw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMByz+/8JKJnr43t4jujQ9egREOiv+SmA96bT+NriAUS+UGEZZbYfuDCDmyk+PShr
	PQIxAI38y/wicA/or0AD2UPNB4CsFxGaQiq0r2PCFVDLGd+S18quYMd4xl36BdzJXP1M
	zA==
	</data>
</dict>
</plist>
