<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>overrides_V53_V54_V57.der.pri2</key>
	<data>
	VFuo2lhCcjProFK50U0QKMcot95CZzK92JA1OMW1ISnDtaIi96GZzoCAWvuRd2VAUkHj
	nCw6tbN8qmD3is4O7ewDFmK46+NFb6WRR8tpaMAwZ4qANDu+LkDWUnLVPwev7sydNRwg
	ueoRzcWYFD//N9qXhbUSrOWxtjBewFrtoSBxyg3sRrLELQsypCP7CF4q3+8DJsCbkjYk
	pk4ohtjxfj2TIueEJCCO+yCNqv+X0Lq7y0Aox3ZkVXXWdG3zQlKtjGI3bahwY0JJbG6N
	xdV1Cs/9CpQKXwkrryc0mDLHe9vHLoQzYfTZKl5MDW3cJX49sPqi/zGqKdkegshH/8JN
	hw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQCMFVx/TFJlabfPGnu0gLmWWcTZlYK6JKN+Fi2f959Jp1IbrS5/qnUnyWrdk3D7
	RuECMC3x3jLIBueWjBZLDKSNRuOQZ3/Cm1hJpb/wQRKGQu878PeX4RLEIiLkUtomt8cn
	4w==
	</data>
	<key>overrides_V53_V54_V57.der.pri3</key>
	<data>
	MGYCMQDnsQv7vtLgW9L4wsxxrTjbf8qevlOSHoDbFMf2vXYPwLUFAfXe3x0ga1r5KPZU
	FuwCMQCXmlggGp9ock8Nx6mhhW0c/ZTCiPsVGTBzszktyiBuZWxuGimL+iBV0jdTwhRC
	ssU=
	</data>
	<key>CBSignature2</key>
	<data>
	clvEn5hd5PrwBpxGepqNwUS9lIyZymoBvYvBIyPSfen7+7Y++IMO+oIzOJxlFl8KQ1oP
	DxwbZ8W+y12r5/G4YfPpOuugaA58UqtoTVwkfiQD/3xCgJZZIPaxwpEujPHhn00Cw4lE
	LZ9kbDtKUIceOIcK73VNXKVnw8TKHgLJS7Wux7SOzx448c1T4HxiTcIS/fJdtgwL3AyV
	uLSo7yBBAwHsb36CasTS0nz3hhNpgSn+Nbzbr94APdusiAjGpVIMzxPt3XEMxUvdX45H
	gailIVhT+w776AeLHYIIyrUQgglBsRhmRZaIdKh53+7/flnezSxl2R1/ZORST1ExwBkZ
	Zw==
	</data>
</dict>
</plist>
