<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	2DGOjHftGQVWKIlzl5IKa+3WCnvPiUPeE8N7zQ6HKq+8aBTT/kTSzy7+r6+JQU4+Jrm6
	lbLopo/peuPGuG2fnoD3VqWUj2PXuEg8rj81nbJBfYnpG3+Ls0++9HfcKuVTjtj4qrna
	o96VqdNLGlDtXQiu3rxLK6eFW3LiJu+m7KL86E7eXeFTXMpms40PFZlvkFU34Xkm6IAb
	imfxrRgBFQRCTM/rKTImBXza3/kH05odUgg5/acGIdgo/1evgYOmdQCTogJ5N9NTJABD
	0Nm7FxeS4m4JGoVf2lcGz7G3l01lkui/+cZvGHb7VlwGt79q1FgiTgpVafsb5DNieVAE
	1w==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMEcNHwFB2HDXZNPg17m6/sz9mvfsqFhnXcfZW4WLUsk2INcf4Bay1eEVCXCUhQ/j
	RAIxAOMzyFRh1khaCnhy33Wn7BgJpq/A/Db3bP13PmSvFNZEekDAdXCxcSp1aqozF9Ws
	Fg==
	</data>
</dict>
</plist>
