<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	u/Jme1feBtPVIOnlAWxziYspFVvFawCeqJaHCNfJenexnbuuZmA5Q1L2r0Bq86fBNYpc
	/tnvb/wV0Oe3CB1NdMiSrtr5Z5aJS5h3Ao4+GAYC4+ICzX2piQ+BdSY5WtCLa/b32oRZ
	o+/riAtZZaRekgCt1PO4PJ0IugYQwW7aLsQuwSXXo9NOES8PDOsuoNFldB2eCpQZd4R2
	xLqmHMijhXmWNHCp0ITx58u6bqsXtPzcnhTg62UUB2XYGOhMzHLmGNKpDabbdRkRGcrj
	6NAbcH1PoMpGr0hvJcSo1SlFfENY1/p+eiuMoSn+JD45wf6okIHNPtuPnaod6Fkwcc2T
	kw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQDMMZMDyzkYVbpZ1QlocLPs2nHkzP7t0RWAa3Lt6pcNAyV34oe1lnyGl2SsJ/In
	nfQCMQDj+InJ2i80X0AyxIiDBNEfhLF6wkmx2/4OXzzYhlxya013bDVwgx52wD3Q0eNn
	ZXU=
	</data>
</dict>
</plist>
