<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	J/hkLZFUdxPMak6sgyTczrQJ8h5p7KL5UMSjfHIIyTxzX/lTdqkxvecxSHrwT1Aq3Rzk
	SFC0JxpUyzXdFedJnoKHS+1dT+6o/GXFZ788xAwtTHNi4jP2zY46jcn/tB08t9C7N0Zx
	pQ99PKtGtwRCBMCwZ/gIXva5XmYTugc/EhwRTzy2S0IqpRYya36Bxg4KavVtuXhllrGJ
	N7lPYHazDRr2MzXRy68nBhTatavHEhJtJwFZJ0/Nc6I8ih+bp/pD+o94Hqc+jeJyID9O
	B0ArGZruBJezvVMezBiY37iOD/0sC7Vi51aO/WWB8c3WW3p41RCTANswzJ3NQenuPoRU
	+A==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMEfTRd3oND0hbUP6AOZ00rkb/H8dLVJf9ePbFy9euzfK69IjXHAzxRICarEMpJEA
	qwIwde26JEjjmf/nl6gMRhs1MuUTaqWcWDoSpcZ7aDgWQRA9Wt6NMky/bF5EdU9H46Fu
	</data>
</dict>
</plist>
