<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	2dngRemHgc0OYMN1fFO1tNcOaidi4lY3XxVyfC8PVii8tcKof+m7fDfp2Q3yRqnl3aKR
	S40V2IwQKlbY4Zi+nb1EeMJqm3bG5GmU2A7+ARg+Q8R7iEN8Xlp6rjcKGD5bHfBmk+k6
	KQqBzUbYfQUaJf3xJueLkum4y3artIihWcPqSo2m98XiaIUCVtC058MZzNN+Rzn5zyN7
	tnK6dJyyss5TOSRMxXH9E0G2zE0tXIkPZO0DnlKHaut/dhKt5VR4xmRblr8Uc5ZDIJWf
	uUsrgGDtIuDBP5b767vPGkqysQNp1gdSBit6lrjo4TpcUbvMn3uSSlyOtsd3e4xx92a/
	qw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMCUkcvcTHZQWOACcZLMW5Ew5mEvY2K8l6HzKr1Xn0Wc4+SW1x8jPPtOBilXh86Uz
	kQIwSFwIQb5OTuLg7hmROqjaDo/8AVe7Tak3s784GISqAvsGLiNtcYLXZQkMgMWrPSPg
	</data>
</dict>
</plist>
