<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	gENIrOvKo1SGQGpGRniUXq8Yxp48uTz0u+3s23m5xLpqGrcW6icRML1d6dTq+KXW2D0a
	qGsBn9+j+FEmKdm93blb5HW2KXYsGiLQYRtJ0uWfY6BbnY0PbI4/zDcCIkfGuQadOJg/
	j3PZEgKtDULjLD7a+5J9XyfGYbs9PEjZg4bQgmaYnWYlvP/NgdKa9Msi1ztqPagipJ3h
	I8JIOQZbdsuIVMsFfX7CoAegCDp9j1pyuQEezveP8MEQ6jImgRfGC2ArbEqiVyUaK7Bj
	Lx3YdpH9B5UY3OWN8xy37y8eVpn5XybExfLBZzvGA8GtT4lL9WIgLgYEHlU9pJwM+9LY
	qQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCL3hWwdWDzS1KpC5immOonkel65B0WJnjlhRVttxuTvRLRICpMw6bhpr2jnhknBCh
	AjEAxvG/bO247Gd+hLmu5T3JsxfNCurhg5UY9BnYt2X8hqDMl10yf2reinno7iMbkA14
	</data>
</dict>
</plist>
