<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	v6Y1xzfrlhoiuBzEzhKp/SbEWl067mV3UKt34ZOC0Gnx03IgHLDVVCq64ysakJ+pTqoo
	rLUVKCev7n6vwpKwwvYiiEB5ukPtUmf7Rpyhp9p4qMrwRzmqFV949ttDk9m5n8X6/zGV
	CYb7hjZgrUyNf3KVDr+6WaKSbhAKtsEAATC8wBZ+OkSu6E35w+YCkIDB16VmXyMGKA25
	RGAC4BcjP375nd3TR9kvkfpWXPpJm/yS1AHoG93L+phqOMmu7G8q40Dst4TVogxwDYtu
	1WlwG9rCK523NOqluouhSm4uNG7Epv9j9wr8mRum/5NVjMkT3WD2iR3mF7ajllbQbsR9
	xw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQC6wy0/d0NXcgLSriT/JnYYRrPk7gwua4LsIHt3CikFmL+nx82r0PcI94x7VlD+
	UYwCMQDdBRlQRIqXeVWyctZSpKeJsntxtB9jKfehbrn7fDx0eN8m7IONcpc2zXOSAiVZ
	2bg=
	</data>
</dict>
</plist>
