<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	XDT7v9QgvybeYfQUpbaU7W60QBtgOiJNyk99Eq0Wghc2xjQGEm/0vTWtsC2ovQf61g6U
	kVuZoIbTUEzCxzxX2UUoW2WZBDLyY2/nxIRydn4xi7fnVZldIPmij2HTD9TwZ80uuidm
	4cxEZnqRx1QqYWmRb2uAA5nlEjjfy30xkYkHV65ZrOgA7MbRg+YKAF3CSPUt/yLDMsmj
	oSwuHYYDZJYyBJuQYWJHRuxIgBFDuMEOwmmuW8yDlODXkcH6myxUtajmDwKvwQ3roHAb
	YGGozx7epGJq45jnmi7x01uBkmJXdt88Mf7lsC2GXbZ3nWxGKc1/bT+Jftabc8nUJpkp
	DA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQCgrk+NZmxQBpnKSsXt7aJLObE/xcfJ1KPMTKXQ4t/BQ9yfPQ68QxiWWWtBcnw9
	95oCMFst/Rk//k9kvH8+Ft7gR6due7VqK1XaB4jBfRWTnrOISyWy+yxo0wMwzS8Y52Ti
	3A==
	</data>
</dict>
</plist>
