<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	PS5SgP223dYGyqYsSPXloCmeMBjAC9hqZf06IRz05zldtarJPJ3gEVPbwZO5LI+BHifp
	GwG4ooytvla1EsVNvgX6D/b6sipojj8KAO9vvs9JwVcuPelcdiw08mboVO6Q1xZJYYiG
	I7Fmyb+SQqUZAg6DLbftrUguUmw2j4tLryTYU4KzvkdPcsy3gEFSpwk/Gb810knRGWsd
	XxQaxl3SGUxqmasHbVP7MK6QSL6+LBOGgnGEZDqFXtZS77aLavvhBsWCi5p4FP9oqr+L
	eZGK+oufCmDWj+x2YbvMRvHwjhinw9BzxIuQO4zLdwXuH9Oa75tMcNUuGGWO761TLj75
	Uw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQDd2pto/RP/YscSk6DaPrWdpeXs7eI/yHZ4Q2+tuOmuEspDKxPuEny3dzM/qLgU
	F8YCMAWwE4LruSFho6EfsKCstqX4QLZHBbprJU3UYLfsJnRf5xGn9hcRSMjyFI7FjFag
	OA==
	</data>
</dict>
</plist>
