<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	Bx8qIVcqjiTgRUT49rgCbJ43ShQ8mejVdsAcOPDGEEh+pyfIlPGR4XZjPlpa/DB1mihj
	YjYDW0L8TyZ5w5E+uaIvcNBcaUcyltOBtZ8I6LhR91wDsiOji9z4uSwP8E6EvRmIZtZJ
	hvywN+hsj0pkap0eJIyp6PCTQftVnnihcPvP2qws4vIPyqV/fdb0ye4ZvPDBCVQ6fame
	4oVUJHMF5O/KF/sflQnWP7UsxDpfAWIJf2+tCkbpX9Zn5L1zEO6w4FvgX9Ayf5oiCn/Q
	bpXeR8Kwlp71rPLHrnwckScS+QGvs++TUrE6qSNq67LYujgundCgszRZra5MwfWrKM60
	4A==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQD/3CIdV2rB+sUUGt9yVtAPoZBjeWSpwHbZdPuYN1TANuVlwKN2BuvsnS1sjvdZ
	yh8CMF7+R+mv3YM1O0uiggqNSf99as1DrdtubWr+CAeE0ke2QBi65yNE5NfIuzcTW3eT
	UA==
	</data>
</dict>
</plist>
