<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	jc0ySwWzGsrGCAzLTLFJ3MQv6LgQmrwZboik6DzAeP5hpHZL3q/RWG/z/BWx/NgXz2iZ
	pYZRzOJE1WXjwYyix02dwae5KdKRSvUyalYPcR6+g0hyl1hjWOsiv4+JaL4PB6ip+Vck
	GaEv8AqGLogNV07V60v53uahYIMYiH9HucICrLnAb+YiXVvhHTiIS9kqotx94PR0HK/q
	ill1Z04JKh9DNP944FR5HLZCKlQdFhKiFO+EBUByZgSo3JEBqElgWkPtSTr/FCxm8v5E
	b3Cw/vQfayeU1WGkivYpnrR0frAZVp/dDJ9aRGlqn6VEOAhzk73IhlMIM7cZlaXINPzc
	Nw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQC9EoM3RY24FCIsmk76RpNR3LqpYCSlpjOx/zla9dCtlfjTmgHkEcCOf3TEHZDW
	+u0CMFob8fkUMo91xPgICA/iNOnnvUppXEVbBN83M45Wlp9r7O3wuawfGKfl0bbK/u+m
	0A==
	</data>
</dict>
</plist>
