<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	CfB5XVUWTWt+orle9XBLGWfb6GHqNhASqYmi+CW+3G3xPgzBMAJv8fgUbbjntoXT2/eS
	58qlY5Fj3HVBASjyiJXnFGFkCiOXxxp8z8HNiImfMSygwCSaAJkOzpc0++XpizuzTVij
	pS6n6pHvUVFWz4t1jp2piwNPJKNl5QeDd1ttIZZUeqjKlTE76H7qQLJiEll/QVqNMQFf
	yTRCy5DchyJq6EpUZfml23k323Cwz+iUsmLGBxfHlygP4Ahq2OnIkgFJsUMfh3f3sQcN
	nUBghumGfjJoYwlMHqtwu1rv8C4cWxy1VAuLsu2ohpW7KLCmt8Oy/H6gJomMeZCJ5dLY
	Fw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMArqJVNwnCGg9Q9Js8bD3VQhpGDFWyFXhYxJkGdz4NI/qI38aBLGQaZD0EcLHUnv
	DgIwRWNanUVGJxa3khxxKKNCRBqRepS8OCTkpQBnf6LybcJAJATkeN3akz89hoNlxZMS
	</data>
</dict>
</plist>
