<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	Cq7ShaZlp6GPfQXPPoBdXKIt7/Z8rfh7VcJQ2VkqnsapUQTe1O7tpvcBue/JLyBedO+t
	ha91lW4UF4gLU0w6Mcq5gQm54sXH2aqRxRv70zNi1OJAXiULjpNRQfAoZdGA2ojBTwEQ
	2C3XgTmsC044bGJxd019++vBthMuSKOiLQK9UKcShDTG0fkazbBHIFpOe8aYP+senWEd
	pSZnrkpLGUrmdjNPCXbFySVR6wt07gp1WzbmPlFKmqHjEg6oFuZ62iv5cvMnUz3qASnF
	8GrT2Tanbmz4/lCsu6i+SPSTBKGsfg6TpC1MXA8+KeEuG4LXRJezz/6im69OCpUuFYvu
	3g==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQDFiYIlzjj9qaAtBSO9staoEfrdfN5l2XrNKLNIV/zfTclw+Iv6O0yh6C/lXzH1
	kw0CMAUrSkdE8TKxBCRMzbmWSJm7IhLyhI1LQjrGHMtyjZZa0TyrG0V5CR+wOR+PSrft
	wA==
	</data>
</dict>
</plist>
