<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	z6noyzrd1EheXbGTrB6oVj8J8wG5ePze14KjDlDxGWbQPZdOd6DH9TvU1pxDf8ai1APJ
	Luj49D736OuVJr/oUG0crDN/ePdFe4Desz5dV/B3ZMd+ASmOUOsWoMzOkDr6nVxFYsUH
	svc4VfJkLF3vN4K0LtucIPZPd4dEAHda9hUq08qHtaDi+oz8VfknUbjXLcMs0NQS/TSg
	/ajhKKFVVcQeKuKfBuxP22s1MFofXUusmMGwY5WStB7toPjfLNbW49FDStYyVlbvarAw
	zwxepFkqB2hYxfg77R6J9L64jC0I+dQ4iOoM0VKOdfK/yk9olokLOvkTyv2KtyKjnpEY
	ZA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMFEdASeL3fDWWFSFKq0HUolITBYwpw1HIBYAE0VsxripOahhRIitw9IyP/2wkvmY
	OgIwTiTxGIW+lltIyUgfQzaCo9K7ykiotcO2mqeDbuiHlo4o4PM+Ek8DxIkAodppDjXd
	</data>
</dict>
</plist>
