<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	gxnLsJTTz2dvqSPWtbFlkQrtsgFfi+m0mvOyNoFqxD0QZStQbGc3NtcknPePQEn+1YT+
	Mg19gEKkb3guVt9VlGLy2+RXfz89YY79kWfiuSbvXP/NCQBX9R2VRSZfj+NFhgf6iWGW
	oTZvqfPGtsPW9gFcl2S9XdqNGa9geiEcQllIfqUJar/KM72gW65PvD3rHba0YYH8SwYJ
	kuo3nHkcy6jYiRrrcp903tyJofkC/jcZj35DA617CF1qa12I7R7LEydXfJCO5s/2zDyn
	oQhcfOQWVgS6WcFFzp5/UiHudRXKXeA5x8T5dl1YaYvB1VerTFx/zJ3OWBG8KjL8WAMi
	Mw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQDa5LleZ305bLVes7BD+r/PJ8lUwAD3xx9sTSfxo3zXkM/fHVZB6mDJPaev8pnk
	jngCMQCgK2hvq2K6Z55ALCK+Fc8VpswnCvxYXdaWwb4DwwADHD/fH8Htddnzilu7TBHA
	FtU=
	</data>
</dict>
</plist>
