<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	tbwZuUQtAlyAoIwKJqU3OfJ4qLRQEbo3FSYCSvfKSDmg6PlaNS0yah2KQJ+7JnvKGNBt
	/PQnDRNGPjcfJ0f40xBH0DNM0QUqTxjnWEcFqBw3NWKCUcOOlNIm3aXijEOe2W04wvs7
	xLmeS2swxNnqzyTYZKjocBrbUG+eTnpfc9bN7Zty8LNY0oU/1b2hng303gpje1bcCpEk
	/wszUyuQCc+tjBQMuOfakNKSDH6gIXgWTnlAS2gQObgqJPa7maQdyXPFovCCi6Y+jYVD
	0IBRqgmCRF2Tm5rNV7A6nGzkE8wNnt8FTN5PGVWP0HDbZPSWpqb/rwglBGZNxPOeGdAK
	sQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQDiAOSLyDbV9nmkiGiWxFFTjSJbgwFj/FuWbZh08ovizh0Z5M3jOUB3HpNLQkPt
	qiwCMCUQCUlqTKXxrHxOyulD4xZelWD4jNLGGISSU1KqLgVPfiC9Wskt6fijKi3HW2Kj
	ZA==
	</data>
</dict>
</plist>
