<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	P0VHTizFmN3iUQik7eNctRmLIR9gEfQwqa10NTfMzqzgD5lrCfKNHlsxVR/i8zAODhWW
	xsALlAs8cweKUHiYbLIiq8WQsspfquCga13HCOszOxuIQYFhLCqCxd+TxOlQfrPaiPM/
	uK/EhGi4qLMbg8DaL2wNvoyMga/rRwnKek+KRZcpduY1M+hgZ4Dd3zvsDT4a/Oy06kNO
	hh1F2rYbtY3zbS2SfKiXQPUkM4qlp+d0DE6t3NjpsnZKKT12v2eh8oRoH8RVYzqCt0gA
	TVLpsMovcZbT/klvCjvmpDzUGo9ujaQMhEOQNugSemfwHnuVUIWBxV9ZYaOASPVCNiIS
	ZQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQCbdf6MYLy8KGvoQHkQj174DqpJabALDH4EL31rGuwZ3Wis/ydJDLhaGViglwqA
	B4ACMQDMcPyaQEcuaZditBD1T/Cvo+usVT/Wlbj1kI7/JSxYLI5dt6xwDDSyhJRMAxKD
	7ho=
	</data>
</dict>
</plist>
