<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	QPR5KY8q8lL9smMw7py3USZdlGIs5IYZYsAOZrpugjSHZGLSzVIeKGTmuGJbxIoSmEhr
	oBYKBmkAKEd7Kkmp7eqgxLZOD8otQsuVczexwrMBKRF85LujeD4RQZQ855XnkH7uKJ5X
	XxvemF6+v531HBnsaneq6yC7/rC7eKefztMHLIbdLipZd6aCA98GutAnY1UKUfleCh87
	ETbokmVVRrUGEqiXNTuY26LGIPTcxKL8jTka9G92S2EGp/zna7mg5lwqjCno0d3nYZua
	hejUpxuAURUOqro4gE4Oo6whZdY6gJCAeB3SjPY6GNVlBakA6XckhYsF2T2UtwTBQUzX
	Iw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMASBweV3+HevRreErGUNIvyykbbJzAwHk73o0BZfMLXVw6LwT641QoKOli2xU/fK
	7wIxAP5cgDFyMmYCzbefrlM31rozcU2l1bcCZ4gIwTpHuMkjBPmf+x+GjtmRrAQyiXiq
	qg==
	</data>
</dict>
</plist>
