<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	dtO0RhvsbmaIrtXlBjssUTzzGP1y30atZYI/ct3vUU+/vMszIAratPOdhGomRowir05C
	8RZHFVUDxRf5MVWDw4cjSywqDSnBbL1T7QcPwW7dt7PpL1YZMAheaTu4BnxkVw4zg/lU
	Vgeon3cLYVtv3jY5jwkH1kphvJUqsWvWTQ/iJnIk7nXjxDZJDmCj+pDpJHD7nuido3jB
	M5BuUoX2fG04dYY8iR3nT58uoz//YZVGiwxSOcC/qsxORhOFCA9ACnv5vHI7sa0f3hZi
	Gvw/flWy+Q2PJDC3gGNURv8W6o7parXJAry8CsRENx7W/aUsF8t30aecz04G2C6Y0BpX
	lA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMFX7DOkN/VQ2r5yjaPsdOsIZeRmZQmOcK7vhRzBcBWV029ab/cRfWKLpcrdv8iIZ
	AAIxAK0LwazQuR0AqpGk9Mhhkkj6u4jZ2DssY91tIEtylbNUjNS9l9Sb7WVq/skwdnM6
	2w==
	</data>
</dict>
</plist>
