<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>overrides_V53_V54_V57.der.pri2</key>
	<data>
	jpRgTpuGNpObTOMkf0wTLWNVFBjOX9wfoS57iWKe1F9m7sYkwd+hCGcBxKiU7EWX4GjW
	UNQvP01AvBiwveFLah6Qyu54Hy2j+DShDTr3IHWpD4jPVffYFV6r7KZGO1ySt29t1F4k
	f7YW0gbMdHxNQTvH/ocU2nBH/4Qi1/GbYlJHeq88N4TRCM14M75wcPsZbTLCrhoj8841
	sGQYqunfHZ5kUXpnjajq3YzawRWMZKuqJ+Y+EqieZxUAY5nTgv5CIyqh6n2ZqNTn35Kh
	RDzHdV78tnT3/blkmR1DGAJH3qmUGu1ttE+iaKQtkuFh3Db0mQ02RA6evI6MAKGgyGZ5
	4Q==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMG1smLqcCTRFHPB3s/lS8gA5yfaw82ZAz+rs4azfvG/ZxxM/dAiJyC9ikoK0U1/A
	RQIxAPzd+a5VVgCMD0cwd8y4s99485bENqTNSd+toNm8UM32XjRMVmGVwxyz2IXCKVX0
	FA==
	</data>
	<key>overrides_V53_V54_V57.der.pri3</key>
	<data>
	MGUCMBtKqw35yBo7I+h+6krpFzmDnHHVWCAjAKZrNB0/g0keDUzp7ntANm4Ft4V/0RTt
	bgIxANGTrkHikmh2ZbfoJo1f7eG0t7NwO6AUl+y1R4/eV5bEyvqG/goFtqUS6C30/i88
	ug==
	</data>
	<key>overrides_mvno1_V53_V54_V57.der.pri3</key>
	<data>
	MGUCMQC4iNV/lFhMOG/AxxB8MCaUqMZVo6+d+U1eJ4gRqpukdn3WzNWupEY/7NUwzYIy
	tGUCMGpe8NRretLgC6PHnSZJDvVISuxw7BNFPlKcJN54DMWuEgZDKbGPAeUOhudMbqAR
	VQ==
	</data>
	<key>CBSignature2</key>
	<data>
	izd3CNReKo+wf+F2dmM5GB8Ls2OFJN9ecH8rsNRRWeAi1KX9qrYRExaEs5c6ikU3JVT9
	WYZFWtuZDlDPCkpXrLYqvYDnx9cz2jFSD0/P/Fho3iuxhwDkvnyn0oxVQOeoOioQGMVS
	cwFviyUvAPPDiCr09V8KcRI3+0W4BobKGtAdqJ6B4V4vDPBYQGkEBL+aIPBVSmtf7uNs
	/jdUftIb1O891sw3WJ2m6QWPiABlg0ClvUgk+dqLPR9rDa6yzXKVtt0KmwlxCdvGwBq6
	UJmPwdy0x3DRnG2bstP8budxZOx3a3MRJu1cB4W4DfY10qYpNBLqy8AGj75qtrivzquh
	xw==
	</data>
	<key>overrides_mvno1_V53_V54_V57.der.pri2</key>
	<data>
	agvf6sd3PvUBb8lyGphZ4mOhptFmYRQw7v4TG0r1sP6oCP3tj2zZdfbQ0GagiJC4NVZ8
	iYpd5VMzYpIB8YiJWNq+CNfBKS4QC3VFXxOEzFN3+JPz/KDIGISqd43YsVrwNHaZcVZM
	MxCUnh3AYam/bhFFI7cqFhICm3U/OKA9fwyVRSFR7xrRlMankkkEehsQfbzPh8i4eI/3
	t2dEryeLX2EtcffYdPrB8c0KMq5pPlouShKkP0y9jDb+X78X3qDHb+6rB041qgZElJ0k
	n0NKuypEE0dsxqsNEGW9/GOczNZ93aXrUrkz6FDG4Jo7V6f8mpPHu34I5AI1ltHhh+1w
	1Q==
	</data>
</dict>
</plist>
