<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	MSA8TuxoAHMMB4kOYwlDAjpFMqzT2c6KgnF9xTPS+yK1Vo04ZXhsoPLfEr6VI+wktoVM
	DMO9VqeiLBWqvhOl9oYbj0UjZ0lCofkdhnwBbD4yrehI16D7TasqVdcc+2VJqs/Jx6fa
	Vmj1v3a5oj/IK5SMyFEQLFxSTfZ8VD/76cJHU+NNrQa4LvFzbSX+VW85aMWP+QYqLmgf
	hdJacMaulqxEFncJvBywMPixSYdyf1vNh1a0YIdagnx8w19mGqz5SYLU+zM6oQDYVhNC
	x1D+LFqDZLfzFeYsxVoOLJL3/iVRGsyGVjDl60FP6GWnedyaO5itVhT1gdIAeBaUPNx9
	fg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMG9nubH4cIRP9FqQ5b46CljUN3bTTKOba2TqLFULp87GyPiuM1w705dpJbr89jKX
	jgIwVJ+d5tScIJ7Ki8XhvxTRazsXJ8vn8aaPf5eyUGtwN5np75sU3qmCta7ikn67wuu1
	</data>
</dict>
</plist>
