<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	EP0gRb7oESMRg3m+yjP65BDKEBr71QvFVIz/UIQ1dn3P2Y93sxkFbvUGCXUiMW517L3Z
	B9Iae1w2MYRUVKvszz9KesctoTCh6hDuqGz5wARJMUKnEa5u1kmOPrJVtkNO5Tu+4bOy
	m5X3trpv7tFtx6AhoZoKwvVua6a8CIpwUDkxIpclLK5TChGd9K/ObOmegIcWf3s9oObX
	S9jSy/hgHC7mjvLoDzf00s5chU6HrzvjTqSXH7bssOxN6ftSn5azt29aYWLehHkp90o7
	njwptMUDrKRiNud+AjgENbu0v3w2a0EL8IE8IrBJIp1NKlPP6uUHgcqEHaCKXDrUzArq
	iQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQCddd/0mhiqmkTRpklUr9FBzh41fDm9MZK6Sk/TwB6YLFz4+a1+LhNztKPLJ4Di
	nawCMFBTIf5WTzm22dXcVg27w3gdUZQbv4F7mxwB4qkONdogP3q4mejp4GSr+IO++e9P
	2w==
	</data>
</dict>
</plist>
