<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	esiYVdArexu6O8xOR0e4c1Z3FRIfK1C5gDIwHX7IyV0hExpGN/aAu8W01vksIkrlYJQ5
	EFmFYNMFUDCDeDE4m+YcehobK5jr1htbeOZRPCudRNRWdWnyhTKT7OZqNIsy0w2phLb1
	lFwH6OUeji78mKQiLk3E6d4c2P4ymdF09mDphz04QdCUrxgMosG4g/lzwHZZtjBTVjUa
	f/kOWks2uogqDudKPwYAR8Ye/irxGnOCkgRhczGn2C0ZCEH4aZlB3FB0eYEbJvutupZb
	hUjeADAqZi0USDIN++8hVOFVaYWxpPpcF2X2zJiiFmpJEHhgVthq+j1yEU+N45VY3T4/
	bA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMFfRiwAWlqlWamJb5pOOXaxPJO/OvRlghNujW2OJlq2KIKnoe0Kczfz1p4gG7Q1z
	zAIwe0+fahMje6i0hy9VpxdC+FBPWi3+Ug810y1jui1RXlpGLooxh+fqPV4EulnTy7OR
	</data>
</dict>
</plist>
