<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	abMzs5boDr8LIZKnvbGphAfqZdgGHSjyExFuipNdOrzgTmZtHbYU7AcF0f63UIKFyYV7
	biRH6/XuXOsNVsqzUVGTuSBfu/VnafQTP0+yUKR34ZUm7VNxjKeVtXG6lRY4b6Upypzj
	tP5rKIDuDoTkyKjRx0y8OaMCZiSguZsGZdORtZhxQ6jSiLVNT74sj0kUadoHlIzMU47y
	HeWuQIHSdTJq9AfofNWDYyiVQ+MPNmLlTWj8wT5fJsfIr7LzCA9Xx3H60B06St8JK1XL
	1C91F8vcZlcN3x/b9Id1RWs3orIikADTqMXSvA8Ba1jKB9R3i2IItATdYOPltxNLKJu4
	xw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMB55Gf6mZJdfnuPe+Dt4SHiGsRdDBUbmO0QckrZ16GbgjKxp3Fp58kVsxXXWKxiD
	0QIwUw4cu4t1Si+16kTtnNZb7sLP0K4QZToxT/+KOPKpq5H65ZLxMfegwT3zivvN/GRE
	</data>
</dict>
</plist>
