<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	OeRryRNgfMACGf//qr2+9hdjw2Isv1HreAFR/gaGK0v2ZKDu3sNmG2pBmNntmN5MR+nW
	qQasvE6klh29z5f5VxsnfCO+Lbdb536xUVxfcx9ijw6yQyOVK+ZkPT90ew8fM+Bce+h2
	CLuAjUIFhqESwnvQ4UM0inqs9fX2a2iQiqTZQr2yhb5NBj8CnVc6XJUDyIwA1f39edxk
	2ZESsw/4kxgQ5TwuYgiJaZMplbI7emuQ4r4dwRXFwP9DYXHJ0ofHNbuPe8lsadI1QUlG
	jf+eH3IPSmAWdMgXpsAKorvurEM8QFceMou98A0OeG4S6O/K19j9vOjE2w0aOUyoVhkr
	Zw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMB37pWka1eAzis9a15SU4gzWMRowNrLj/ELcXBcicGGgamXq9P2W/1+K5AKHcKBH
	OgIwbbwAX2ssutFzO+ZwNldHD7lghodC25yPAix3LtZiMXk7lVcP/cRiqVEYb+HDekxb
	</data>
</dict>
</plist>
