<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>overrides_V53_V54_V57.der.pri2</key>
	<data>
	4rQ4Rb15bQvKMz80G4Bk/TVlrqqpsSIGcFo7fDXwRgUdvJ1FjZRG7/TZVxBoepb8mt4f
	A47TX51BfIFlnnIxp9GDsxY6d43xlKmMd1oaH0KlKo1L/pDFwoDw7iJjPUhBKEDwWb3Y
	CTNsXVaCu9KVWFr2qx18Jv19yA3MifTTSJVmNydjBC7Kf+9D0H7xYr2kHKP65S9zPUEW
	u2Q/SkOpSd5mSrqDkWDBv0OQWqKxxylEvHzsKM9NRuNYiKKRh0ktRtLzzwsKEws4icHh
	eF9vLmRXHUKgNEydyw7OM9Vb3gHEk49UBhe8OuDS8xA0VC96H5XhDCh5UoyuXEWn8NQo
	/g==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQDTObtZyOscH1+9hOURU+pe3QbuzOKANKaOJioX9IONHDYRgLS5Nl1ODF181DNw
	TrwCMFRTUj/0SiiPuTqXLuKScQ2s7gh9BhalKnLm/ODATsEjgK0VmP80aiMzJ8r+xlaA
	LQ==
	</data>
	<key>overrides_V53_V54_V57.der.pri3</key>
	<data>
	MGYCMQC6fRfI3m8e0T+kNum0N9F+Z3z2ebqmBMA4K8PFvibzzbAXs9ITE52xtgeFsgSQ
	s8YCMQDO8COOf+bNXdVX6r/tZG/96qzy8WzlCvmlBtS8qdm9gePDqzCby/D9B10SHQiE
	32I=
	</data>
	<key>CBSignature2</key>
	<data>
	w8mlb6qDAo9TKYqan6wyW7cPijKtJo6u75Fw36rUsW6LfxZGvgGLkeJ+Tu+WsWILb41j
	zIDrj8hDxAcUtbODQiarlU8yVuWDgB2I5vnS5lPmkUQq+S1TrrtL2sxDL4Q4HWrw55hj
	4MJf582eapbdAuHfcM0RMXiWjd5oNGZG6+Z2cZ+zYcCI2BJw0oneymkfEL+Aey0wKBye
	lrAwi/k6pR7pV6NG0vuMUQROsxBjS/v4exp4dAyKTCEwZ669so97Ujp3kWLFxWndHFZT
	4d5cSrmIxqm+OLl+tyknPHgJMF5dqa3ECGpXvTyAIUtXnPGZeDQw4D/6yzmI85Eukghm
	DQ==
	</data>
</dict>
</plist>
