<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	JBX/A3gxy4uEoWb46JHUI3/r6a8pvyVm+vIJIE4KLTqWsbf1vJVHS+REwPJAY8HW63eZ
	m0+hbwgo7jlyEtsAH/qzzMmpORiWsB3PIelNNG/NU9O89dBuxkNOBkKDdttp++U5OE3x
	jw5mO2EEbc/UeItMYRxeJIN/QsA5lzy7PoeV/xxPXhsrSuXUXhrQjhx4RjDERR9A2+Gx
	RKeb+kdwo8eBCWBfQ6l7K1NmKdzoA0hhKUvy3oH/yFXIEdKJX2/rZ0RWq/7NWet1g3WI
	DjxhfJAN5C+uqzRI5kgwbs5oWJpSu2yNwI8xHnsyb9sLxSjnQLAWVWaikJFWJQAo08Y3
	3Q==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMD9Hi3boETSt0V6qhA6ZBcfpR1GCTZ2kXcxu3sxaFWnXCMjIF7UYO6IbWubF/fCz
	TQIxAJ1rq4SdQPwwi0cxseWSbeD0RXFM/eg4TVZvUw1xiS6nkWS1lnU3a+Oi64ID+xdD
	Yw==
	</data>
</dict>
</plist>
