<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	Ycl2rYak7Z98xKZNTPhnkg6x0gynaAoJf5QafTWnL+VKG5WrEMapn8ZrTGWwQUyncdxl
	ytdM6h1tEIggQK/vcfT2YisgAHwUXQf48Ut8SWwJz3t1niJWHKSRPCaVDYbb8Ql594Y/
	GU7yUa2BSW4rYn8aKp/ScB2lALFW6kcS+fM+eEAJz9ZA6fAc2aBJFcseGr4N8yK0ufir
	box6tAXfJ1Erf+lVIL48bKcUmqLX+4ngnujKWeiX6unn5kp/hkRKv5egCeuNGZNscSv/
	FPUNP/RWMwseEot40jPKLuxHZwit+yx09tBODV6N4gWId1harKOhu/+L+utl+qBtVLny
	XQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMC2xS7r/A8RkBITK/FgBwmVwlIui8irY0f0xmH7uCBNtZRcAoOu+s+zwaMXe/kuK
	NwIwcJaeTyt6oe35nsiQg/rreTqHy9bVqOHmnC1YE3QrgU+rHfH/QWKnFczfqBbJiFS6
	</data>
</dict>
</plist>
