<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	QLx4463M4rOGVcnnfEwC8jK4xUZCM8nmND1+s+BQhDdwIfBF3aPd4G43FuLkKcI4v9O2
	SP4/sdx/ybX9vYrSG22O7tvxK+rkBNNoORLBWjWWuntqFjkktifWG12vE4IH59jqTtik
	rcFPIY++NrhOmUO6vBL1rgP2jCsdEMGg3gZNFPquIkQ+Fpf/ltIrMMNokJDoPAGsHrxw
	XQvHcTC+cvtW9kIhpw7v/xvyiqD/BWUENpTLfGneWk2kUvo5q16lutNZ7MfgKME6K5O7
	2ifCmvW7CR17de0YohdFu1CS41Y7CUpheInnjgzB0eEPJFPhbNcAJzHLG4s09X/y4vh/
	+A==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQD/uCRWSGnwFSOH7aX+dORcx7kSSBkG4lrZ91LtxfUUUG3Am1Pp2SW2DDrxjpqJ
	f5sCMQC9si4RaneDXS+oyyP1WvV3tHtQUHHhs73s828xcSK+iq06lYbSPFSyPHeBhpgp
	f3I=
	</data>
</dict>
</plist>
