<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	1+crwIXXANrK/lcTGcSke9OMxfphNwjh1aexsvlruZXO4dDtszS8IsLxIEnNpS894Blo
	EJz3kMbgzvJuHGR0Kfk33Mutf+uvWEm25ccFt7Q90ubE3RalIQAeYnPppR6yL7UERdNH
	VaODc2VAJVAMve7w3931lQX6smJLZ+9JtU/yAms/FPc0UidqRMqEqyc01Uun5uJFd1/u
	CFvaqSMcPPIrSxB4gSg7M22/RAArvL16AsxSTXt1DyJodKEpOC/1jdTgtI8F6KgoChFT
	ZHK0NZv4LQnDz65hShWviP887tW1Cl4UXGorResmvFddYX6gBTyQjOBm2katkb1jVveX
	9g==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQDAnZQGUNRGFigHFVuP+/kfITbcw0qlRzEBRbMaIJufI9nvr4GqbP9vvtwj3cGv
	PrUCMQDT137Ix3QCZ4LmEfjvKwriv0ANJD4+J7Fqm+Xaell8jN5l/doYDlVanGrkHWbX
	l/U=
	</data>
</dict>
</plist>
