<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	XhtVGKoQt43Adijvd4vss9mguOtuHTBin08wtEfYEbEykHYRb/ooPK6lPuypfgSJHsgo
	ssoYCJLS5YJl5DCAXPXRLSGfHqOjLnU14c6SDbBYVdTkK0K+wUWGnNJc2AWhAVDBdPa/
	NhNK5HdIBlSEGOouoD3bPHbXrbUz1sMEobaqpxBCTJeykvUa3wwueaHjETkbGRAJzCvM
	9cWSX3pUIGz74GJNgKS35acf0gWiZiqJL4fxRYZhRVY4glw6FF8uz4J6jsrlqV8WefG1
	UT+hiV5yHLTR2JHDw/ql1Wt+lrSLzqB5CtuvDqYhQp3fmHVz+6Vb/rU4NKNWamTXbcj0
	MA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQC8tAK/NFcIQ7qZs/T6dsoEz5vEN5L3bwq9nFLGEJrjYZYdJCNwfQ/jkhRv5GSF
	heQCMG5TTSp0s3qMG1ZrDep/4+suvnq+k3fV3BPswzMSvAoVMS/hPOA7XAvZ+xMwwQRa
	Fg==
	</data>
</dict>
</plist>
