<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	yjwU41GU23X8mgnqa5DhtofeQGT/IggX4sGUACpGGKpYXRax6yXcjYNp9r5hSWaaVrVO
	aGiiTGrdKG8JhWw0PwxXEMzokDqcqEVb9O/uTBh+ybs4dTcIeXaD4Xc/2j4x/iEO+lJC
	IrZ/9hjYYXJzUJK6sSXe87/+fQmmmMCSKzakw0efJwWYbCEUYWGGuAZRiwFt8R/TOdQi
	nqQKmXgFLSfAMmNERs6BeaHGHg9YMhE+P68J0QAPgauKvlv4jwRkCs+xhYAPHmLZOSk1
	Qh1ttr9ETq7GB2pGTTpmWxp1A7ZeAbg89rAAQ0QNmIZya3IZl20kyJziwKW03Ug6Wpb2
	Tw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMF1Xp4W+h48nUQjP2LhLg028vUfSDNqpAj/c81AjWAuhZwS0lhodZSReWB4vws1a
	0wIxAMpzggiwDw+A83g2/1A5YzA6lktYtnovcXXLkL/xKJl/FvEboq5mZXl59xEG0eFr
	yQ==
	</data>
</dict>
</plist>
