<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	uFM3oXlOKR2kjizXLpbKELGbx2svcp3+D65CMRv0xW6lpAdf3D9dqD0C5Hx/cwHOaVaM
	XHfA4Daz5mFosD8BqpseDM0BGSw31UEY+4/a1vcLb8ThP45sH/mnGyLecz7YR85Mmx+4
	9aDSUw34bNaGnd8n1YGObg2bT731m5PlwO+ZzCdNHxpUgWHuBEsT2INd1DjeYg5n/f0g
	4baUXuCsdKosZ8p6IkOQdnrkLvWmcxYSA4Oyu76x/gwbw8jDqdVx/lxwfnbNQ0Njv+iV
	SHpZAQo+N0toGHMgReXoesyiCg7RBitoG2o6v5MzQ+5g/ropSguXzx1dRYiwdiqZiAs5
	hg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQClE0yDVfPgwgg6XNmQjy5CCnUq9t3y24ap0WR6qXyu2RMG12AKs9DYm9OrfOUW
	HGoCMQD0tJisz49VCLx3+yIvTwMZv8AswFNviGZLV9AOb6337bOGPtRdbPkxJu5ohQda
	2ac=
	</data>
</dict>
</plist>
