<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	Sg4G5sTj8EQAmvDbjF+rwbcY00RBCowFqc0CBzB/Ze6Dwl/uS7i4rCsLFcmxFtNzWg5U
	lKmu5+LI4zXNcGxoW4BWf1tlwO38yBYui7hEzd/UCEdPQnPwNYv5eAUQlizghbeAmfZQ
	V2mBflDh0RY4FwbJg6tPg3EdlnpZJChF8Vrn1zRzDmAGpbJfgzdXYPqjHeIs6zGI07T3
	gneYI3Q3NC19c02sva7Za/fM7eYS5/4RgeO6dEklxOetes0zNtJcx4Y8zFP5isHs/tm2
	20r6MIUSok3qt3JPUad+vZjKisJLJGJo8vbptzgWEjmwZ/UGH1FXadl/U+YKNI2aG4CA
	8Q==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQDm1Ymhmy3d+9XCJJx1P+umZmUg21KtDw2XbPFrTpYUGkt4onWa6CJlgaFTcfdt
	MUwCMQCDT8fhnwUvxAz8JK81+KnTOBg8g/QV1lrxnLu9IeDcqdflHhqTMlU7nrQJhoKZ
	f1A=
	</data>
</dict>
</plist>
