<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	YH8s1k3AVz6FVR0rTobHCqOPzyVmAFftGENBK02txY9lquwN8sqO++rxoR1G79ob/9g6
	iohoBeWR7fIhSxXpn0Nv45gCL1JuGyY3ttjN+B6V2wAiYWKsjD97TfJ66KAkZb2+ZILI
	vjMre+7Ju2NVU4sjixxiBlPvzpQ3as2P1xBF+1PWyAqXeqQX/XrnsEEftv3QNVdnNBCT
	t5zbGrCTdlLixYfWl8EmbiW9s3vMIfPit5jaJliP6R2dQvbRJ16hWjT1YTtfDIrecmeX
	O71zSy5Tb18LC/XAU1tXoNCQP+ufLbNb/hT6WyD32R86B3pZWZYocMli6D1SvyV2Hiht
	cw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMEIW3QDSxrJqjHxb3eBeHTGwnJCZv560BvcoqC8T9hTRBDqObJuqixLDPwb3szuG
	KgIxALq0XJx4gfNuo5Bs1fEwGSCorEMAqAP5pmceDXjYjHVHIkXFLjn3XghAOA2Tbk3c
	NQ==
	</data>
</dict>
</plist>
