<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	hWKUE5BY6HUpcMkx9eGNqqIfLKUpBI6JzO2AN5LbDcZIJumk6rZInd1n+Q/Qzeyqbn7W
	uDBdaSjaoNnY5dlAyT3A1uhccLyKFw8dP/kqKSIYI7vfhdZ6N9UahEb9eWeOjDqf2kV3
	1KKIIkTvzQMNm6MgG2kViG1Efo34YRNXJmmgdmmyHJaFf/49d5rUJ99eYE/9dELjqEVQ
	5/x+T9yaEq21t98qRpC+6knGe+3tymCYjcGwNtTPlCwJIf//dEE8o3s8Wi/xS2dLu+4F
	weIBKkCBimKtEi2gUx73eUuZZP23bpEVSbrHTkb/pvAspbqg6hDQQUbJALlzr/Pherie
	NQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQDSVYTCGx2BcwK4rLwxxr38oQsf0KXo/nfRL+xzl+Wvf/SHWaDUuoPAMx3unWos
	89ACMQDSJO9A1cjtWabUxltiLE9RgZgeRDuUomju1AoYF/ZnFWW2DWhO9vo96qrRs0ZX
	Jfo=
	</data>
</dict>
</plist>
