<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	z+FOpkZWf1BdcllorenAUEspbN2IUrm11CfIoKbuQ3OaDy94eSnUfN+nf2GscCpqrIyg
	/Y9VCb6dPPx1UwqnVzz+enA3ev/5fSjmvuruUGZSf4I/EWARM7HmkqjBliOxmcDrfKY/
	pf2YDcIghiEZ8IX3lE/i2ZpKJeTqA8p8WH0ynGi6tFZnFWY9nS6N6anExsVLS/oHSq9o
	kaZEuLLu7hFrlyVBcrDhSdVjsghVoxGkT5Lrh7WsCUHVl0/mPE5MSGoVZ1u5zvIoNc/h
	vnSPBrL9E06RXmrEBlqd6GqMioVFFc3C2nyj1T1nVppFdE5sE/3wg9GyySLnEpbLY6KI
	3w==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQCzMkx8l+JLHDJ5vM/cqC7gl90kBFiUVG/vRQMqM1oVqXkkgvnDZNG1h7T1fobw
	5wcCMQCSTAsuZuhnClN88zDllppXkNxUX6KoQhY+NQsG3i50d6DaYZp5xofCq4096LgF
	6wc=
	</data>
</dict>
</plist>
