<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	ztQIh9PB7fyCxFv1DUIEQWgIqp9xnoYWa/UpYrugRDFrlwQ8/0C8qefAXMn5e5NqdzvK
	GA4Ek9mgPI10JcGgAUH92bvm4rFdqF9Dgozv/Xo4KG6qOKRqGLEtbdLFeGsOnAkXXjjP
	MYQFBn6BV5W+cD/IYQPL27G+EbxF+CNgsevWMSp1e96y9sOCqr2qIfW0q1WsJ8LqsnlE
	hlmJuBlhzAyc0eVVl9RN+KZV6kjywgMZ5cTOEMUSFq60ebWnbCeSs//lA5t7tbqS5mQs
	JzNFvTzJf7SqpySdlAq0NkZMrYDAH5qazFYAbd+AihSIbFMA7/ZK3bNDivIdnQOB7Na4
	Sg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMHtfD3Xbs35F/whpzPPAfEYJLlkdtx0rr24RhdPHiZf3lOpWqWDKHLIq6zp7zc+0
	XQIxAMfvHyckfoHdO7DnoosA/6+TFyOdEpAl3ZkDGPjdT+uyxVsi+Q1QW0kh1nLdtqJR
	lw==
	</data>
</dict>
</plist>
