<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	49LLjdyVUWRbDzsCEBZ6EKrvbw40wG7LVlgV/x2P9UdtbdC8cf8KghV/TX0ZZhGb8KvF
	QE0XvpvW0yGciYV84UANIVBcL3uR9AKhUCGs+uDWYGOTF3ncqWbPGmWQfXevdQJx8N02
	/UsV8sHW3u+n3zfqfNBqz8voKkuywNO9jk8yoTIeVapSxRADCPnx/UPpFi9fwM/NWL7Z
	SFcMyEfc6YLoxqDlXxzzLAMHMPdBqjf2jVxNmqZ6p4uhz2aeNGWr9cdzeQ45iW4sgI+4
	rf5m/h6hDCgTDC6jDXte3TnP9MvIs7iqsd++5WWMzfg73A5gvet6HoYDTz795I5YqsA6
	UA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQCktSlzvm7bQ1OywFzXLfd94DNRBURUqpJSUASfsdiKCnxcs7lhNdAwO/inkPSt
	goECMAoqNnbR5AF9S5gNHPRzAj0+5l0gbOQJ00L92zntBPmSGvEXVdCSytaWgPflNt8l
	nA==
	</data>
</dict>
</plist>
