<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	gDbTDc9Jon+8SwDM3nk+40qcLuGa4PYac9Zi+B4SI5dk/8s4B9eZXhHV1rIO6dIO/fiM
	E5Do/hordi5DuG8DhJ+0XK6L+lhKGQSA6B+aDjjhiXPgCFs6GFD4zcE0DiE+3GA/eYps
	d/Vd4U6QARHgx/3FeBC85SPnTMqrOcEk8bsB1zCUPUlc2dh4uvcCkdpdG7ZC3DxfJLuF
	rQtGU5e7oXIOFn+bB+T3xbGrE5XuYPrZUjenUUPG1H4nmGd3kIHXUotE1ROBn0bAbUw6
	KHNEKS4BiUZq2LyS87JlC1EXTfJQZ+QSqAyejI8WYAhLPYmNYxEf4VNQn4Teg/1f+DuS
	Eg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMFtbC7xmKITjg09TAt9lSiiVzvWtQ0RNZtD/HFkq2eeXbGTC6O71R4F1CGWeYimJ
	ZAIxAKHP+BMlUvIBxUiU3MPa59p3PyAz/+4D3VxVC8J3/5fIh3vQ+9YWnJooSwU/r01W
	Ng==
	</data>
</dict>
</plist>
