<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	McdUJlVS0U3AGJCKt/GWWPDN108AD04nh55FZMGmxZBVSPoQVP5hpMQRZ7nZHCQp64jy
	1tK72v3tIt4wU9vkFtVMXIw6InDdN+Q6QPFfrcrAaxm9az6lV3OUfj495HUpb/N8kl1R
	aeUUSxc557qKBpw4krB7axkeojny0EMP0xqeTdFHo3UIRfh8ZXWScxVtea51mE+jULNI
	r7fwZGPWgZpxoE4pGONeDaEvjFj+OnXlgvwaFtmMGyoyJ77TQaatNRZ40dVpZOV+2l8f
	KtCFB6nDxA6lFq41PDqjaaB74YwiJgoN7cQAzCJTEI/6+/cbe0iDsNbFz3fZeW6MV4Qm
	oA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQCKCF76Um1rieWUcBiL4b6Fjz1NgpaS4BtPdcHkl6DZNVz0KYQrCpk4bK6achUR
	5hQCMQDYfGDaAjcB2vUqviLgErrTRZRufIgrd3ClvELt9b9HoEyteTi9j+2iX/Y9xifL
	8Mg=
	</data>
</dict>
</plist>
