<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	TSFiAqH4+cWpS7l/mj3ZNN7w7cN14VT+5RogYuRkqRS0ea1Z0e5UFI2a8C3LVATOTvd2
	bHRPmrpd9QEMRcwPW9vyJC4AX9qKn8WjnRsU9Kwux/M+6sctn+ro9RFH/ovgQRR2oCxJ
	odwodR96ZN7qgazvWXH4JZkl8Mp3Yw9jwpSqaikBMJPfJF0LOkdY6dPq/3YLRTyq2yd3
	LrnTrbzFY/mOKIMmil5LzeMwAJ+uFrUGX4dT5FKoIKzLKcktGgIrvzi/BVuOtYHnyGz4
	+CpCMug8x2KGESXDekPiSDIENV/nODbFS+o0yvk+103DNUhi774uSAUQ4TQYKML4CPTF
	ow==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQD3WJmoxxQpi+Fu3VMTWss4Ga1Kvca6PWtGTeegTUUkVjLe683t1ygAInxGfL29
	mRICMQCJrEtzQHJFFWAkE718BT0Xk2S2V+hVhGV/XGBRmg4HfC+o0mFi1rUW+vs4yTdq
	ZAc=
	</data>
</dict>
</plist>
