<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	KbaY9uvtC3EQigaivVTsUBkX74MLCK56kVOVtfRTzcZ+Jvc73mrlksCgMmKPNpKlgCsb
	UNLmUixKXTb6eTa9ZrvmBt+6MGdng5nrWcN5PJuBFJkpvpxenIydDzVjYz5JI9ZGSPdK
	+eodJLfZD0IGoeS4KdHLlpKdmxRF3vVsnLjmBnMfOFtf8RuR315i4X3cCqzD+KlRi/w6
	mK62SDNvwBedRIi1A6MRxd6xW3WkSq7FwDGjVVlpqOcapnNXY1mtrbGHJOYprRTBU8yj
	3kKwViDajwRQCBuhN6Uro3v6QpxeKP7R0KYU5iwVdCVck2Sw9KIUXBTFN6bzed1NJN2s
	ag==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMDeBtK5UKXx7AGVmFhYI1SO3+907l+eP2KUXdPnjuIvT9u9vDOJF5xyegHTChNwj
	GgIxAPrLs21X5ZxBurW8t9ts7M3oRTUfL47opI/SJE+nvlrO/wD3GPR08LJGRk2w1A2y
	xg==
	</data>
</dict>
</plist>
