<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	WBxqlpalA86JHBwPEM1WNYIyAPU5NrgliMPGuXlIEszqXXNs8hpAUjCkqaRwDw7OdjZa
	qhwSB7XFb5B7FrwEU6rlEgGUqP5wNYOZoe9h3WgNQJoFnbqpW/SgsudYTf72AfURBHjB
	5S4U6KveS+VucxN6pKUz8/UWYqbQUZwAiLcodzH6m/71esPOyrcOA9Z0GvkGsHQeMjL8
	2Jsbuj0r0twa2AgLzE1J92R4XVsizPFRDMYe8w834nYzd8HRgivBo0bxkaAQ7H0AR+hW
	aYLTdIZAJH5uN+b0w21sCuDn3oUt0FU+ytggvpjJfnwUhh0gNhzdhZrZ7ThHX3iN8tv3
	Ow==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMB6G7JfKVU90eoE1T53DGcen23ZEs+d6QBeKUzBZClzgsvr98H7RyS6X4jA/MFPR
	4gIxAINoM4oOMWqxJalVBvfr+Ek1rNZJ+F1BxrgmNIak8W2jo5qO5+a4Z2aYnmxkUMmL
	uQ==
	</data>
</dict>
</plist>
