<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	j67UcW8Wl2FDezLYSyy4eBdwQeA4xaGoSzHtVAhguJC1MSpH8IKXcw8Tg0LICeSQ6bpa
	7CbBMJBC+WXQoAoydLAk0qlUloK6O0me0xS0QB0Ll1/ggR3yeRUHeDtZ/ppH74xzE+O7
	2kKbHpgJ3iL5I2xeQhuHB1+YLwFFhk+8z6uE9wXq/l6MrrtxtF53REbo2gEnXqdMdExy
	j8JGQP5Du7sUg3JuIfcmNkbE+VsUaX4yJt+2kH38G8MWy54VsYCncjfH25b5uf2vDfUx
	ivdBdwlYkwbI5J0NR27o80T5ZrbqSGvPjERggGmCFRenu1/ZcWO7EECh09S/PWWffyzw
	AQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQCxLb4X2vDMElxTadkpJLxXpEwhX2gdkC4Y9K3BslDNod+QL9YBt9ZmORybdIKj
	2hECMDoga/GdSxseJV7EBULXofDZivfU1eHncABQQtpNdd+6ai/bB/S2Cj6whY6TQB1J
	Vw==
	</data>
</dict>
</plist>
