<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	3eTWtFp5FPjEBtkftHhUmk3e71nEbFGz0sxhWuhhTh6wLTnjrhpspzXLvvh6LTejItZk
	UF83+t9YCd6+ITtjq4fNJKMMcm6zNdom5DweBpxSgXAW36phnp0sCygdYseIh7qM5mzw
	Jb2GkceRkOBQROqHpLLP+rz9wY14OqaRUN8aao/Jx43jps0qA7xDNXZgBIm+S4974RoS
	4dLkhfAhTK89K0k6IQrRsS1gW/SsRHtqShxl2OMoMEyd3aox0jyj/JXOwBw4tB5y2kmC
	W64FPtM6S9tOqPu0WQoio2ccVMk8xIx7wDDzTeFxSLmnh/trcJVXor1/NeJpW7EgE0J5
	xA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQDxdu4hIlaNk/I13nAgA2IWHQSRGFgoYbEVse/mv0PLtUR73oNtB202FuGbUBHy
	twACMCyr4Ddi9FwWW7dpGOe1K8AZHShPMBtSsYEJxQKkXaLi1qUxwtyrh05GzFFM4fCE
	vA==
	</data>
</dict>
</plist>
