<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>overrides_V53_V54_V57.der.pri2</key>
	<data>
	wZynamvMYpZpZ1Ql7WTu6/rycwn5akR0A072C4S5S1JFDLsr4DGUDkwXKJPCMMklchUK
	fUNXQhcUclCe/oVLO5r79zCerVqvhdY5p8JN/SjgAHiKReM+ECraLzwsU5r/0IOGbEdS
	15PVLJP49cSj/lIiq8n7s7u3/PA4bYUMLESAkDrsSstePCJLRIJqfS304bI2s15H7hNV
	FW22nrniUbUXUn0fdvQ9JoNWmjj5A5BKqLyAGimhqJfmo+IqEVJ/zbE9BtLwiUYPpG+w
	RXme/mMM8eYXpiek37KiQslVGdnyQhBaVOlbbOdqCYTYxpv4Swq8R96HpGHOlVDMzCId
	3A==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMGN9RFYH5TCxPr+mnhpj+BYhvxnRGV8b6p3zDn0fYu/CxzNlQkaMmqMKLD1f6Eyw
	nAIwMNoPDUPeYXoFKhzCwNwe17QqEKCGKL4TlO+5mrheWzWdwxc+gZMJi0yMgPcYxY6P
	</data>
	<key>overrides_V53_V54_V57.der.pri3</key>
	<data>
	MGUCMQDPxdcNk58TvHM14t0TLpGf/LuLTU7I9n4GwFOrU+eAM4/pKm5ch+Dh8Ymad0uk
	NWkCMBbd64yxhUjE3aSa3F9ogvMaZUeyecsCamQZAGp1OCMxo715/JNa8FOetbc+biel
	/A==
	</data>
	<key>CBSignature2</key>
	<data>
	S4LXS6f6gYnif8ZOA+fwnnFJBAi8PwM3K5Evrl6HoEdthdjiDIGROYtrQy2Fam1p69iU
	VsY4J2BnvVvz2S7GZ0ku4OJ0mpdUNwPpKbWOh67ctmCC5hqcHXWMdNj4PGrf9YzeHByw
	vVAZlMiEXD6FpFg0HRiIG7SVjq8HDZh/0dJjDhFVDt6b6L9pSSgCRdD79YrAjnjq0S66
	C7/2jYNBX+UnCDf526SqAtJZajnwWj2VkkTwIWQnhksVlzpwGUg7kTMxKeArjYl32i0b
	J2IOXLBazquWgcotdK62aqGgJYBk79EFEUgAGSt9o8fE/tku6efxi/ORyZJn20zpFDNb
	Qg==
	</data>
</dict>
</plist>
