<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	rJDOq/U6Nz6axjcpVdy4r8atOtNf0SeGPcGbXQa8HoNbWzbS9bN4SBqF9w4FKeyrzgWN
	YT9R2jUCNFt21C8nDb0Z4X0/0uszN342WqRsiqgsNACFHD+fwHfMz50Mrpn9JIqJo/LX
	D51jQGJ/j/MyicjlTTWkIHVr02M0WiSWmVjo40BxlL44toh+Id9gBjcJVE86438gnRaA
	+yiX2RJAj0XKLSWnK8KhehSM21b+5XHNN0XGaE35iBdSsrcQ1XgSYzIan98hHACSLFww
	goGs5mVzrOLYgYn+6Ghmi7uByEwcr7Qjdk6NDg+B1ZrSEBFrFRrmtF7aTty7ywNn2ksu
	PA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQC1w6UejEpD96ChJ0khHPYONrMFvgP4x+s18m7CAoP2oJ/3uA5E2oMfdca4DYlf
	B6UCMA/ZPpz8sso5gD48Ch0lP8p5OUlsdYm/OqhYwGARpVbDlQF37R0VLEMfdlswZkXU
	og==
	</data>
</dict>
</plist>
