<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	xxd92JJfwijoKH03gKGeI36G/BHRR1XLMFnUz1b5LLmVFJAlgnUUIWzNcy0s3Jdclysn
	NDnO9j/hSPS76x3TwX9cmNfBh/32rcyBrKXwF8K0xkFV4/qdYvB13TMVX0UJ5FZF+PPN
	zAnl4hwaFFUoA7szdvWjVgMm7Z4dtkFApylUbmf03jmUdqgE2p+srDFVE/lOfDm4AhFp
	AYxuwqdDQlYDwDs125jxKHR0lSAeIbomRXrJKP70pUA1/WIkMsstDndUaiSdiqkKxvO/
	6gHMYEYX3FABNPwj5Qm+8HEZ2JwJGoeDlGadlIoKoBRRib90GPKM41xUuTgXrUXgMtEX
	VA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCME8kueO6ZyclMS97IdOwVbH6JfnKHIRJIkStN+x0HGNnSskCTKrKR83KycmI0feI
	bgIwClUqGJohv0fXiQDrlFnSbCsi+W9RvlO7DM23oXjC1SraQ5nvwNydW5NndBLPN+dt
	</data>
</dict>
</plist>
