<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	YL4WMsvEj0YLPBqYCrjhYjyFSHwGvTZeJqBkCh6yKFJ+u55MFiPxjzTIxmFipE2SFuSI
	rEbVuZigJ6NHpmwtUwT5SDgoPlK00r93RiCWBEcqpcrFeXKx6ATa8v+Bnel+zOCyFUYr
	MGzE4gqQ4iwMjSdKWB01E9NdiGcQpOgQTtJvgIGChIZu7cuuF32dRy2zokWDUDwYGD/6
	4YgPzR87eDqhD3/9xR+pyIZhMIxpkiD29Yq4U98vq05IegyGhjMS0yZJ7sfqtyA3jzRq
	f8cwplPgT51Eo8fhXXv2DjB1E3VMVL3LMwPX2MFuoPYhpBWjcRc+j7n8WoCLmq6LJfTe
	wA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQCLOTcTfQreIGPS+68bBIMyrWjNesyh2sjngI6Zt7s81VSY8mUPYamb72YGSp64
	AJ4CMGHkaS6qgM1TQ96t+onYodRDSK93hI2bf4YkrAHK/gytwUXBZniAdjYIGzZAjz/j
	pg==
	</data>
</dict>
</plist>
