<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	iBI2VqPQDhZOC4INCCde66ynNRxNVHeIHo5no856dF5IX8qcjvY1U3azsayn1AGbzBRZ
	wf0bSjTgGa5YVJNu1QJxoyyuSylm8Kp+H8LMxk1rM3+zo9+wjLuCu4wStX2xa2iMP8zh
	cf3L/gON44O34CKshXhJ6OHcHe0MxMwStPPGLhCbCAfm/vEJzfd5mYJAeBDOLHZ6H6Lp
	Dmy0HOQCyELDDHxiqkD3Hpeh+SnpwT9dizbJGpgqHbj0NJ+utO7AZEwNJUSKSbj8fPdj
	E9o9h/ASzTMwhRnKYQRwAXs0S1jCPOCu5tQDQR8HqBxwrw19GH/C7aqcV4cARAjCyg4B
	TQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQCi9YjqEpAfDLApz7SKxTODhjp2paj3BFdkVoSz6dBv91g1ZiWwgAQs4yJIMZ/4
	nhICMEJzO2nTfBcyOdNp0tZCvYvZByBLW+mlCEIxOK/+2H9DnoiWQJK0qTDiQw7FlsBl
	xw==
	</data>
</dict>
</plist>
