<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	Dct9omA/m0qY/9KIXGiqdYM9RBfuBmoxKz5Lrtq1eqXFHHPg90ESmbzIn3nTBKv7XVA2
	22hozvwF9uBmC3huvQmPXL4VtcXvdLUk1bEcXYSSDBSznvwdMnMc0+D+BB5tLlwZS1G+
	hVN6Qy/Nlr5QtnAdEhekXH3IZZS2R81yIsTBPIiKGdiriBgPeq152QSmlHj3oCONVhoM
	F4rLs543z3Yz0rmYf7+wlIdz/X4+aeGN9BVGyxhn0grYw/tUXgvT2M+RrhrL0jeM9Vpd
	yGl81h6Z9B1Vv8t4wDNjcMjfhja46hh4FGmyK8kMZysSKEOrgcm1wrY/uWGnzMTbyvyM
	nA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQC/8ZjCdSsHXm7bMr7g+wc9+N1uAeN+rAW43wio08+ydYMn678V89VzDJDooITT
	kq0CMDGwLIXSagofzliVgFki5wp18v//8QZaGo547lHdPhKB7eo/v+owXvmw/Kj+5Qik
	eQ==
	</data>
</dict>
</plist>
