<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	GyvARya5WU0rK+4YJwk0hwZ/0Zx/06f6Gkcf7sMXWfAMCFP7iQFcI9lwobvUhWVJMd26
	IZ13goClL8kI1ok2MqNwnQoPNsGOa6iDiGYsa0DVVDkfppw7HMsi398DK4eaZLqCvO21
	ymy/B19nq6uJDiveWT+7hJLhtQUo4Uxt1km7H8PlkC3ENpdsdNEcc7U7Jp+Rf2+CBcoQ
	eUoeffMa59JmCFhrFjDVyZkvm+tQSFq94+/zjzekV+3TmX59D1bjCnOcTWisZLcjznhY
	uqXVq1HDuLjIF1Pp4o0Q+uQaI/dPZD5wOkep+ssXsdbZsRSp657m6w98POSzQX6RLADn
	Eg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQCrw0WQOQCgP5eLxOPMoyeyhnI8cCCZov8cK0nnR7Y4oaD3AKl2tUU4WVzZH165
	45ECMBaEAYNC5pjLFaFUKDEuQLb4j5SlUDmpNH7RX9jUa2dvSBgKBd3UqjFqC2jfNkba
	Cw==
	</data>
</dict>
</plist>
