<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	Yk1vPVBEGUHI0gFJw8rDE0hsf6vfJChZO+ddm6AKIuo7GJG07VIE42MsK8HfEzFKg7Ct
	Ne8LXxuiMisi9W6fCMXUSkUsrzy7vweU24wLyQkl/GJInKdI/1bAgWwOAw0NU2/OByr0
	h3Eyw6XbY2rcsSztqmzYamv9XdVEjWitHtoHxY1LY4Hs7hdgtq2YMG3m99vAniN7DU+P
	O88+TrNWNPTAwZA+SZeomgfqrtx9rNITjZvR45gw0ml++pw/99xi+okxGLbbF0YLIqjd
	tKfjY5IwdvvWkXfQffDpEdyDH/9avOUTHP5OrSTajcbaM4wmP/7szaLLBrRlV9mmK//4
	AQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQCfoyQyRdiiKpEJr1Z25C41kYLbj0kRMag+jTjQiJt5zZTnS8DWiakyl+ghrpM+
	BfsCMBFZvIbJ7tFQSCk45zDTDlVeQ3hp5eMMydh/Mjwf+tq1IiPbJp7CylNDERcspV0C
	ig==
	</data>
</dict>
</plist>
