<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	TBwV2NSdPYqamhMtJ08Q0XRcbk3Di2hTx90HCIqpIzcuPpE58a8m2aLXDnZe6asl2CTH
	P3etyfALN7ucYvQFz+ENuO3KY590Hq5W/JkI7uY7rDRvR1B7BCFS+kxSmnB09VnXiiiE
	5JmxVD96JGqoKvmb5glK2I/Z97oXvfGQdAw/4nFdtMvahw3Czk1p0nXvn8KfoxDTdDEd
	QC/poGRb3vt28EuBI2ANxcWCqyNAuO3S2dVF1fHWKM7sKXgwkeOUzqGL680gpzKITMii
	z9543iCjrpkm/dGe8Nk9mjB74FcboXmesAfbF2AdTJNUcNWc429m8CXAhvLqMmUTsZe/
	ZA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQDTteDxYFH7XNZ7lJ8YSRVroxQI2z4BlkFTc/6qrvw3YJRrlJScPybhhQ+j0URQ
	zUICMQDBW3hknVaduCURUX0TWe0msJfXA2OQXdAIPUrI9tzwyvE0hnz9Jg9/UAhOhauP
	x10=
	</data>
</dict>
</plist>
