<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>overrides_V53_V54_V57.der.pri2</key>
	<data>
	xdt4vB1BzmpIyeCIjbEvLL3Pjy2Vtmb1ry0nuDMuoUgj9xhwXo1jwGIg5mbbC1o2x8GU
	naiyPDl9UIW4Xc+UYpA6J5/e/jSHL5fGqWiGzpobTLm26R1R7F1KdE7/3Tw9gGt2Zcq0
	2uKP+JMYbVrDKxu/1ZVr7iR3YFqqgMMr3IcSuGKOlb9LL9SBAQQxT+Occ6v6A+Ho+zvu
	I0qgoVlDM76ySmYukg0PtxG4w4hY1ey08Zoci1mDbmiIgYysAY7hDDaj6BvVm4pXqb2h
	K7VnpTdTXfOl/bdbmp1kji9suoC6yVl3shj4pX7Z8QSnYFMqres5WQAr0nfPyt38bmh8
	yg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMC5ISxvoNTpJSb3g9W52rOaG4ffpYLa31Yqvco/pSuFsIRlbSXUnKxOiezHu3i/3
	YgIwft5zHRNb1fmnv68mq+Ot3ApjnCgmQIicg50KdKk7I8i0VgyIQECLTZkRZIxVjjww
	</data>
	<key>overrides_V53_V54_V57.der.pri3</key>
	<data>
	MGYCMQDbSYYb33oHSWHEuQJ1R8HcFqeX6CY9n2D/7iVvIQ0xnICRzKYu85vyr+FKVdZV
	aIYCMQD8CJbI9vH++AmdJ3wP/Fw5mxOcgYnKPnhNaa63+p5uUb+nHVwj3tSkDMv1eW/n
	iAg=
	</data>
	<key>CBSignature2</key>
	<data>
	yAWbDLmactjtsURryiXzcYtNGiYsjl3QB+Ro0AYFa3E0v418sci1nefEA/sOhP4cfpeU
	jIt6FiqCNC3Umb1tzBa445Zwgu74Sz3+PuRentKo+RVCtZJ4lKSE/HoY9J8fwv+6zYWx
	kK1vL8elRkvNAxENk1wxv1g0I3utgutJcMDvQvtYHIHg/bJd1C9ZGgbsRwfsnbesMf3/
	A/y0VLZHFuFhd7GzGw+rlrPaqN0RBVBXJ+D+uXkmsbfpQiBymtBdyjWrC/XOKRZ6CdRn
	5UF2ONL+H6ixqWSkL/3zPbtbkk5r5Dr1XmIoMzxUsuz+Vr1frHkqYWOdmqjjRzeL/HA3
	Zg==
	</data>
</dict>
</plist>
