<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	JRqMkbi7CyhwRBDY77rIkKhd5yl/BwBzHINRKT0qt483dWKTU5HsPg/qW3PbHvjVjpzD
	uD0dfisXJWErQYUHrEVXMRMc7MXLH9HpPpysUDqL2E5mcNMAM6e3HxykSlj53y488JYE
	t+XppjzqnSwL3ebmvPU/yCdZU8ztopqEAlPiMiH1orKWUYUi7vmZQT2n+7pHAFwNWYiE
	F9lvmJ/jofS7o9YcawQPsyzj/rWjObNRYC3MjgAvyO00QKF+UVhaoK0l/zWpNxO87hUB
	QPet0NUhU8bYnJkE6zGXoQM3+sWZ9VnTvX1euWm4J716BR/F7tR9azFTLLYMGpMRYsWe
	nA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQDH6MrFq5UWwB458Oky3FU0k33KiH7yfN3HnsDG6dexfSrPc9fkxoKAF32yZcjn
	aukCMQDgGpYFZAUnBeN6cVsj/rshZW0qFXVMsdZ5QZxAiMq2i87zgIIFUDJkSuGgO9h1
	SQ4=
	</data>
</dict>
</plist>
