<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	byd1kfCqrKY/es4HY8GSwEg5MBSdbeHbNoC60O+v0A5UMt9+XikBeQZkMclJ97Koq69P
	/TgO0hWJo0R5jCMe21WnT0iYt9Cz3EbVBv4fgz6A4zwFr9vItlueLP+0RTjAKQjX4aTb
	+BWX7e3+ErEWoK03xxR5FY5MHh8poQNs98dxfii/UIAziaN3zR5TgX+sx6AKJvWDxfKH
	l30oKHICMQnJ65Z88eY0xMdsMkK3hbLgTPKIQwhr0FDHO65vDfy1jkj1ikLHbN5q7B74
	x15ehNYk16cSYxHgfXJ9ekaqthUAP9F+vv5bxqDdmUSUcgEV4D0VSjjphMECm648EIk9
	nA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQC+PfuGDnb/URGIUtXvBUtzDa9kQiGIkDYKw9JifACDvz4YMEfmQ0HJkWJBGTtp
	TMMCMEvlfC/aj20duG3rCYts2VaLUsSrrizQjcoRrHhVnXY8oRIWX/pPiS44IeiVCN/U
	7Q==
	</data>
</dict>
</plist>
