<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>overrides_V53_V54_V57.der.pri2</key>
	<data>
	kojsrMfJgCl7EeB9Qf5rER6ree3TRsIVl0G9FfStF6Q9T6gymHBPF02S/SmjXKlRw537
	/SBtmTB5KK6bRwHGBzHZTcTZVVvHXM1IZf8/Mh8yRN5zRy3adfQVnQS+RH2RHdtEnNZw
	S9jBgaEpvw7yoykpdAAD4nwMLUJIjWeEmmP0uuP7DyvUP78XsI4Z4ZXPrx6vpw+137J5
	CczAFXvrB8Xbd2QLcNcc5M8DN2IFUi866bikhZDbn2jEqNsK3nCTAC98BAOmdVEmVHuQ
	2PvSy7YW6CwarEh1Pb6kJxpWnJ/JRU71B/oH0kF0H+PAoEeu5hCALUM5t2/9w3IFRjK2
	2Q==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQCHfF1cQtq5L4ixOiBjBjIvvyOLHDQEf1gnLYAKFUxKb7x11vcuyVrPQquVJHwd
	AFUCMQCNMY3AztKEsVPNI4Oz1u2nDuvKM23vmMQIAqC7F9NERvc1TZw39pbkolddnIeo
	+IY=
	</data>
	<key>overrides_V53_V54_V57.der.pri3</key>
	<data>
	MGQCMCbfpSnb8G8nU7tk4DNdPE1AiQr/B4OXJZIkXge6Fd3mtqc/uHwixs8JfWYIc8Nb
	JgIwKlsav7nsSwuy5joRc9f+6UY39GN71LLztx3pPjuGhrXNybeZYEEcYojjbiRlGFLD
	</data>
	<key>CBSignature2</key>
	<data>
	srj7rNg6egdf2NlRkdRYBK04+2TaenwbT67kzuqodDedtX1FB6l5bWxEjBP/Pnq17iQ+
	YUu9RMYWk5JMAV79SpU+BFJyfhRwZvZaGGQQn7kdxTLcWIzNFB3ZyfjXReoPDG7YQxEr
	ZMC+sKjHs1i8d2MOtEBZ6b5kAa98lVMTlDTbubjaSY7zn44ouycouUf/i1sRbd/MFHWd
	zpr0UCOmRAKMjdlOlBJ3hDU2/akiQz3hTbfEw0NLaVEMADXPEqK8GeadpGnd+qaze26B
	Mh/MIaPXyyXKFQsccG/x/72bt4+VdiP8zN0TccsGDgA4BqtmLjlvV+Yu9tqTrnUOKjPF
	xg==
	</data>
</dict>
</plist>
