<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	z+twAx0liqe8SaY0K68YW53Lse5EOTDQSaRJI+surkRJ9Q6gBUB06Zi/1pjRLdFBYDvb
	BdvoNkcfCctCyn+RanKoqVMjC79C645dTT2BmNqYwppNhvZEGWi3MuqaR89AwSFT9EXH
	x1gBArgzMviN8KQhttT73mV8VW2T4CycUB+LrmdAlsbBgOsTG7VLNbUQJcLrBhRGqSO0
	MhCrfXbTzaUBp9N1HLkFncsvt0684+TFaxRkXkRwwjkYJKIT7wRcmWfFGaDJalgvJGZ2
	Iwc8msj0wchBl0ygSuFsRaLGLQASBi1r+/TXQRZjzjwu1+VDTgNAHIEj/s6eK1dVvQpp
	mA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMGwe8SPqLyuCwV8SvcqKhIQy4D7fRlfaJ1Qdpzc0AeHttddszGUmqqZqhFUcAzys
	4wIwOPQItOSD+DOhz1ucqFuUFXv6poXtw5oiMj5VYnbSRrmHgzFX4okuTXy8S1rsm1TI
	</data>
</dict>
</plist>
