<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	4XOqrQPcAJvMztO4n5tlurqjsIuuyXJBc8l9Zi7pPvWo7jxv9+fQodwC+zUENpH0ry2/
	U8xVTvR3X7jZrPPbcOkqLdZ/8QTd4hFoOCNgdpSTtPXqSnGrL5rxRjctcYa7Ij8XeIVq
	suVjJZBr0LCY3Vj8mX5JWbvn887nQ99FJrNZlkKaYj8Bn9bAdHREZV3yMhkv1y4Z52yK
	8LHqQEPweKh74Dm4F0Dms78iQCtGOiDpXlj0m0rdlccPIzBcUKw91Z4RXLId30SqR5GG
	j5e6gsJEOuy3zMm4R9g7/A2fXtEMxHTin4Bd4BjlxRvrGOL+6fvIPjztIJb+OFXkfTGQ
	Kg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQDlCQ4CYfV/pMQ6StHM0l9GwOIbgoSOLIEBkphpkO1rtik3Tpx1y0iqFig4LHHa
	6ZcCMQDEEAn9vhRUsWHi91cEvswWaosXvlxHuNvDU7ovgAWcEjWbZo1leiwmt8PbOeg/
	VDE=
	</data>
</dict>
</plist>
