<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	UQKbRXin6gK8KCizSvBTBFpo/GId/+X6mMeakBU4QE+6EvlFjYjg8oCgePGCqkU/i6O1
	g6OvI9XCmCVEhipKp97XRhORCqqrcyPUAzMCEBUOE22M8L5/ACUchsp+wbVawXR/+SEU
	XgXu38rk2JUEGZaJja9h0ieoF3xDBtzLGirHfQZ4ijOHEAO5j7TY6ZncaNIudN1FMc+t
	DdImHpwda6pof80/K1tdpAuNUMjcrqy+1C8FaIJvajRrrv9UmF+5OWNS0X5hzs+Eyhek
	iGpgO8BN6RdEIBqzvY5gVS7pHKxsvrFst43Exx6/QWRZMOE0/Dec+Dv/BHTiQhbFdSb3
	jA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMDLmE7ctOk3ySE5OrOJE9e6eWHVu8pKMRp9n0cgAGgsVhRiXAXmKNzAR/qxDlVTy
	JwIxAPt7QRzF+edy+e8MFjM/aZXt4DS1jvuRLU39uIFoREMaz7p/akQVFNXvMMO5dV43
	mg==
	</data>
</dict>
</plist>
