<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	bDc6FB3qC6TzVm4CPeH12JULjV3huA80iU+645eL3K2IgBuEtT7EoJ96+9lTMNku0sAE
	Rj82u7maI0O/hNb4tZ29CMIcD9g+nkk4/R//g7CXYKj3+a5X81OQLu5P6/O4dwooc5sM
	GHiFBO0xOy22zro0UijjmOJFqz0z7+VyGm4VuAdJCLDXF7vdDzA1BzTih2naOKuh+jw2
	aGhuAjiFLQml5JvbtsVPxBvpFh7nHHvc6v6Xn7/2xVQeLKTZmUxvomW6jTAli72jrG1H
	LXsvp7r/UOAoCtxReOYBzjq5xdgKns2eS0ZLzc5h9WwKlnFTvG2LTldpJi9dec7fZ68c
	qQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMGgooJqOmLse25PeSmuoO6oLYmQhof2hw1lPUWbVSRf96xKvJbMCZYS8kEpyoLf3
	pwIxAOql9LWlvo6+FDQtKJvbMLp5QZ7JAZKR5PrUGt20VllQtYyKxFfgRIHGBx8ON5Rt
	8g==
	</data>
</dict>
</plist>
