<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	R8buVCrW+jpYJT9QqeilK6Nymcqm4pRg49qt2rev0vhNos1esutKk79o9K9opp3Nvzb2
	xWE2Aoh6k+u8QbQWbOqCO8Hu4cwhyLpvyyt8xp0qTbnjYkGnrxOYwSMw/7yQVVjyTpV1
	MOzYf5uONUYhkTI8xIiAwxULglo5D9x5xh0U1LRuyuwO9vfkt5z2MC5qjHnrjRDHyBhx
	oQN44MlJky6BGN1qxXNUkahRVYrJ9gumLjfALgcmPITveJvANGvx4xwKliZ1cJMuexlA
	VaBQBtSfJf0KCNYmmJy1iIvea1cghG8lyd8Y/MmyFTA7kd9RwV0GT5ZfuLvdZSmUI3Q3
	zQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCME8N6KF3dq4PWzTDdlSurFnO0y0aYxwdL1hY4BVZmJhxwblqLZOS41gvFvZ7NDos
	ogIxALowqh/DQG1Zj6Zyy2TvoYQSdZw+iTehyQdlyDX09G66TsISvU4kRA1sOMx01AtB
	0w==
	</data>
</dict>
</plist>
