<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	eGAMfQrI54io/K1fzL85buAMhZbYrJbEwtbG1D71ERQ+aVW4DXG9vScAum/ni5DlH7Ok
	DqQsCENkMxV69wnBJ+6L0Yzwgmvw0W7dfu7cNtU7fLkPgjLWYnTN3yGpL/32QwW1GN4C
	0IzgwOjusK5MQn0vIZ2Wnesh0vBPQoU4QhYuIfZXuTbNijySmw/BIqmp3VCuer+6hfJ3
	L2gIyhlb0Jz6RoS+KgH7Z1YEBpgUhnrvkSDRRlBx1mgDn5SIeF2NZPMgEQstbYw6eduf
	fnXUhqKwZDlBSRXisDohNN1AZ/5jHtH9hKhXBcalanEq72EDY7Qfbo5FBLb9NxpI73hl
	1g==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMHNSn8670F38GzRxj2C1fs90Bp4+jZTU/LkC7nbqeLtAUEjW22n8DNyv+zZ9mISR
	YQIwXFyHidtbN03joG8cDXDNLCCuCM1hIlFVDTK9o6OBQ6aA2fcISffHb1bUTFSgKB7K
	</data>
</dict>
</plist>
