<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	wEt+h4uEpbLETH0nF3kUQL6EeeZ5aGv3ve8IGBQ3HXJcdB6wPJ4+bHfMSJYcqXm2Rfo7
	4KOZ/BgaPxC2o5cvApw4+/v3G8xPPAsQnlnXrVuVzgky96HUbf6O6xTiw7xrGVB3gMlh
	50JXFSvexWFpnPI1Chq2J8rn46Z9TD7Y87eLw1nt7Y/+IrSwHowN41arOnlkxLLwGrmU
	GY3yOSwePSAdrslaFsoG0YadyRGdm2rdjRBq51b6kOq9T86/E3lLP36eWdZHwroZaxhU
	iDbkcGJAOzhl24vHknv1/AaquA4Ehs5eyvj+c46Aq1VQe/po53INcNB6CJD8pQUL7DAV
	zg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQC5JjC6O4WAOb2N5MyyXiFpbOGNfhjuPJ/0MFfpEZNDGyvxAXld5kqZ/jA8RUES
	DlkCMQCcY5bVUCXt30GSBrsvFxCMyy7mm0WO5dBGeAz+czszBgeTlg3EIQwaStjfjiRM
	xUk=
	</data>
</dict>
</plist>
