<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	H942ViKGYqHFgMK+U3CN/z/dyxtCVJ4PeQLLSylVxGU4gEAmlDN9jA6dBX8sW45N+POU
	JVR6jBiDmO41h5FAJgUNO5MMJPkiC7Jf7SNpSjVTTDg1YIMC2clCI4/XH1fntEVVF7Rj
	KlBQADgPuGYZFCNowNU6h1NSfDaLLReNcExyjnUoIUCACtuaF4sYh4j+ntoXZTu/lLGo
	vc2ZUelUZfpqLaMasd4+df9oaNcEXDmevl3dGx6ySUvI7z+0E9wworPAfZj7td8P5+o8
	XK6HN9Xz5m7aeYq9VrmVi66U4TpLFP8YPxUr1AOe9/8ZsyVFLS8nkkjeYIpp6XsDTdtd
	kQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQDXxT7PCGoIdfjpXGQodF2af0TtPPbw4J39pqLHWND5IJQUqfNTljAaGnvGByA3
	eIwCMFGQVy6CJMNut02H4r7bB4QZ3YXKp+5hzrCg0ArBVI099NYucBdWegslYX5f+xNF
	1w==
	</data>
</dict>
</plist>
