<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	wItWx2EF5J683xYonptOFzVXSTRlU3eCY6x+z3+QMLt1iUVeOUODS/rhOgmtaOtOvubs
	4xTwRP+bvSia6XvEyrJPqwJWz2I+hlifaRNzQTWWfamYjCdEqQ7Fuw/vZPEnbkyXNjBg
	MkDHBnEr44SJ6TiFuog5gQl8eWL2MG/TTKrWo5sGAKXlAoeJZCAH1jsh9oN/TOFx1ade
	Geurgq2KXBXD7vqWKS3zjGlKH5Ufw6uYflVlsVWnMwSzGVKa2eqiQWUwC/9U1e8J0qam
	yIXNeSbqI6SpHIEQ4uWQdzzvtyli0IeT4Sv7SY9HqIWz3MO9rUHIIFQhpaEaUTQMvRKO
	SQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQD/XKV/rEnIHJpBL4gRgRc4KTBoUHYwSOl1xTlspbrdNhITtkREC+z9hRGCyBMS
	BPoCMQDo4Fhtc6A36gQqpIC9JRqx0Cw5si++uJhVbF1z5DgVQP3pCMcGO+oZGw37mnfi
	cpI=
	</data>
</dict>
</plist>
