<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	OfjRjUvwgMZBVDYySHc7WN6N7JEDyR228WMz5PGZ0moakMgwZV7Z1Eqw6w1S+hNO5UkK
	2NJaQIeX0GKzOtP3V5w9s4fm2pWYBTBVUhxMVIf8rHnTzRMy4+nlqhzzmrYoJ6sWe1vs
	QgJes3tkX0NDZk/Hdioua2uGw1fOnAH9/sUk/uBlH2ckkKy7ywbRHICwzCmq54oL9//X
	++gYxQvyl0HMPACDpMbNU+NdvrlXTnG8ExCNihH6yv1lnXTgrU2r0PIgwFHrtW9KUUvl
	HyTSELilRF+zJXl0YpPaJ6J8EWmvaf6dXvpp0L7U0BmvLKiK+apMM8OgWspPw1KFEEhU
	wA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMGE3xexw4ogL9ZJ4Zel4fzlM5oxEgyeloNpcbrT89s/inyHJNxbGZmRkhr/d2zlu
	4gIwd8CNbMvqdBgL1VVwKjK5yWKkZlnMVCIZ+8LEkJ6xNhwId0HF+zsNI/iHuvYTFGPW
	</data>
</dict>
</plist>
