<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	pLBjr8Sq6tgjhBnUPmPE6w049yrqaYYikpyafQL3urNChW+9mB3YQkvJ2ECj1KhZX/B2
	rRwBn8fagn8Iu3p/gK47I8s8qozXxC4WbtewaKCqY9nuV397+1K+PwrMf2xXuooigrgy
	1uGuqMGLyaNSoa8ja93kCVfrkH+ckA1dO05rpFQHAKnK3PkyN7seIVy3uV2oqyu8ax2B
	iDdS2DGIj/y7QGA80HmstFERv5rgNVlZ7lFp6rFzcLI5Nwj2WKaH28tdgxecnGB+iFwx
	OC71RzGQuPSRbU0wi4MXOHdx++1icpEiFfeX2emaHC0h/H/mCP+eGT4uIcAIhl+UHLMQ
	zA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMEY62Y3dBdk/CJux3G8YHy+/xPz9PER0rAPySfurC4fKOUrbOqAo1kTmJjrvAUYU
	mAIxALYGs5cIXM7ETC5il0qn5IbI9NLSKqwY/6zei1NyJwxJB1dflCOrp+UK08dUw4aZ
	qQ==
	</data>
</dict>
</plist>
