<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	u5fyqcYyNV9gS6i8Hva5vYJZgEy7JkVMiRjpsxmCiKZCTCOnb9n2eOu7i7ici+6/2Lzm
	1vKjWRVgYLntHweyKrJd+EkFj3KtNs/PhNq6ctjiQsNZyWkIyfm60R1UBN9kya0OuES5
	AfaZJgYCyJcrYTfck1f7IYDquf4UT/yPy6Ie3JgU/xOcEljnDRhoefEgFYgEeJo9F+Kz
	zc9Qiw+UoEr1iSW9o9dcbGxdeuxmIhRgEiyaf31aEazZ4Sd65KRzUG3JC/7Egb4bQkld
	atiHAxumN0WrMfgjUnQiAXs0DWQ0ZJWM2dcjJiL8JMaffTgX3lUdQsIQDssk2EguLJZp
	5w==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQC1NpWiQLBT2NPNpVwo/5BSbbTXQJOOed+saumShfqCrQSA3B4fl4pXkTU5Pyii
	/sQCMQCCwBKL11qOMpTYAcOSewHvQX0O6ruesCeJlRvz3k3KU5Ku4rn23Y9Ez+soR7NO
	4jM=
	</data>
</dict>
</plist>
