<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	47E+GD491236t2i24HabyByYJ2EQHk0JXuVT3L4MLeMc1I4TMMQy7j/n7NG7OEki/ZHH
	u77luRlolF+ehQQlTfEB2oHCS6JtuLAZzTRvK2Dsi3f81z3QaFBJrft44GDn7bqL7bWP
	T6KfebGd51XC8/0i9+v5AMJu85Godx1seOCbF1qKijugDNKWyLnkPv0bqSQbUnWB+B9I
	Q6NWWYTYtK2N3T9SVFoy8oIrk6r/Ww1VDMBwWstz+a2I5YAlpy1k91UZK0st2ZvLyGg9
	RmexYP5V1VPPTzGQkP8G/6lMVA2jvRxECmZaPVey/ynqLptKWrGEkir33KII8bE1jPHL
	yQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMFd7qaWK0IX0XfeJyhzDG2pz10je7RIfD0XcMPr/KcRV3RDMnEXoTNQbND0WG5wX
	TQIwMfxlBW+LSNcDe0JlpQHvkiGFGPWueHhUnw1UXNWNptyEVcb0KG84AqxKukLKC+VW
	</data>
</dict>
</plist>
