<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	JGIZnI/NiHIjKXW2lDoUhryZp3IkO9qlQadh1rq13DL6bUYVVAdqLtKAtf6cbyJkxnQG
	Hx2q8s1Jg2fn7/YBIDMN1aaAoO5pIBGM3Z8Iv2IO4IkUJ51KSDqNB5JuVZpoyIk4OMGx
	tym6RJOBaXRHJzsZyTP4vQqaUSbDYNoIE6/Dp2u7UYlmdeMuH8ERA+UXy24pVdowmfD0
	szBXrPzsPgpTOgWXzmsA6HajAWwYBehj/0f/5CnbO5VePPdatz5EsvkGX0B0nF6MVzPh
	FjJmukJqkQtNnJ4LKxz3zFu9MGOmGzWTW0aNC4s2NkEv3KFpMnHicswxVjjM6TaQOUw7
	Hg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMGw4p/XYUkyfSvHPDP3XGAmho+oUfhlPsvTjH4hPkuCT3HaNKASrG1wlIxn3n0Mk
	7wIxAMMYts6qOBYpUrCdZWewTAJpaCNfizAqqjSfMo5AzeRk/PrxKAb7bmBOQaVZEong
	AA==
	</data>
</dict>
</plist>
