<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	6E+a+h3S1o+sy5hW45dbgZSRDDdARsuFFhXSM0vG8/u71d5vpay4P2gnShcIBXY69dns
	nJuNWWEqK5Pt1vBn9Si/0CYkGA1xGvxYcGzVs+FVBJByd3PsZxJTt6GQZ5h+6aubFZ5P
	evbvOt98A40J290hGEA/LWFJspcqSR7HgVsYP6GIO9ZnmSLA6+2fhKqOpk3PU6urtFhK
	CCR5mcngiTdocU9yp5VafaYG5rr4nWiHAVAQVEL1ogv0gWYL5vR/Wd6pgHBKYfCIUTh2
	d+izafLOXbcD8Ygj9a2UvGH+DDnUTk28xh5iLznPtaw66oSdm1VfyZVA4CqUrzLv0fpe
	GA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQDleFnSnApM9ehZKRPDNEQH8dA+vmxIjSPfn+UzlXqnn/W+ztu//QTNa1d25Dfa
	ECMCMAvWl6EUaDnm8Q0Be/NbkEykm6G5c0aJzGoEjfn82XLpPL6eiGV4k4RTxZYmDYtf
	7Q==
	</data>
</dict>
</plist>
