<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>overrides_V53_V54_V57.der.pri2</key>
	<data>
	UwF8/GTYap8BqjWaOBkpM6rC3KsGy3YEHr65K9MwO7zm2PEVNRS2nhpkalKXIjIpOr/h
	iG6uCrBIkE3Z8l0VO+uo243hbRAmpLSGVctIhAgRS8xu/xLw8Nu3mKIDopc90YnRjTGR
	NwpUVKdc9jM3X8LWWu4jvz5+LQcWRYbKUjN4wicmzKGHSHjOLL+xt5Xj3mUj28inURGk
	3ZJrs62OsFQQKVWcVAoU5bmDc1/uK690doV26uipWqSYvaSugYF4FpWisKiXYtOqPI9U
	dHRFOu4VeqUtlm9Q/3kJz7Zg7HBS1l/zFrhoeMHW3CHVYz2hMtzRroEVH3fE2t/abCgX
	Bg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQCCOiFwPn52Kwga7gTUOH4eSvROV0WrIlZRkvYWySnXIzfB6jMcPpc7BU6ts52o
	f20CMQCQs0WG5wCvpxevMWpRlSJRR/C+EHP+Fbc8tR8n7cyvsRWRw5PgYulA/HibUhBB
	jtU=
	</data>
	<key>overrides_V53_V54_V57.der.pri3</key>
	<data>
	MGUCMQCUoLR2B/Z3ztt2PO/vwP9w4FFUIPIph3C54qDBKz+MrHI2qP+lGqbEkPuzki1f
	eMYCMBxL9wWu2DB2CGtiG3I1ObfIXoa3KT3XCFtsYRpM8qum3QoLdHyNl1NYBPr5mPtK
	Pg==
	</data>
	<key>CBSignature2</key>
	<data>
	Jak515HnxBC0Zd9F6KDTw9u/9Iu0sP9VRJNSiUtyRrzVWjLaZXUltqRDKxTow2urBc8h
	tjbPRH2vKZuKGQRufCeA5pDakZ5300VzvpkSl7C/3o+1TtcHtA7xxXd5daIxiACIUh7w
	MHPxfLvI0Y91AA0cMGNOkIiNAAAPz120+kH4GXfPQyuOymXemUiQzF0mTgmJy7VLxIP0
	7yeEPVaXjMsXRApJg+OlIZ6XxctXnZca0smcBUJ46kfjFyxlTmtAt2gPAUWe9sLS8v1b
	Z7NlmFrKN0u9L3hkegJ8GACEAYifH8QwKBQghWpUZn7fIgGxS3rbAetp0fNWAwy6mGox
	XA==
	</data>
</dict>
</plist>
