<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	gdbZqRhU7T/GiFgYXHUS4D8NxibpZ2ep9Y0TqqH57oC4U4XTLEhopv0bpJQ5qetQdwTW
	wJVESEq7jai75ZvEF6xFHpJXIxkw9NP7TQmB6xLUwTukCCPKU+2UVASQmLQhMiEM8aWb
	ovZBc4rvdE66P/cEL9KEmrzrAtUgrkRPPDa6wtmeHrBcwBJQmswbaWMzKWfzampq7AHt
	2Fn5jL6TpDMUeoT+UdDmHSk8AgBkZx4aqNhQ3m7ab7RhNEj3zQFy8PPLQeJ2UKW9S4ox
	8qdF+IXHvHBGB41o+68UEqzm0Tm18UJdDJmt+sn0gnXv74w/GXxmgHiSl9W7IHRsVkqY
	qA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQDlaNpxsqTWOAnXoLouV8EKXqtlVgp9Wy8WA6buwOvme5HBYHRvd0lUOhqJ8rmE
	vDsCMFMFJBwE6rJEctXFPbF8OyP31EiiMGpyhPxBFDg6jfwxrMf+Sp6LLvqro6AhiQCq
	9A==
	</data>
</dict>
</plist>
