<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	jpCF9VQpk6KwPZZFaOd/Pxc8R07xHRJzi8pQdh74RReZYdK0MppwWZu0Dd9F1t7lh5Z5
	7hH3E4BX6evGOJjC+GPLTqdkYHgWON3mvdl9IbcHMw5cU8OzDysKGha4yEXWkcQMGpJa
	/inK1PyeTEB2bG0pLrPIKexmFeU8nCfZc//8pqzIxlKB2XyYbMZ/7CtttEiRHu3rQG4k
	P3yiiGG1W4ITJ9sNxgmLmPazlWCtVKdsbw621O6HKMpEgpdcUIOav5dhaIWq6Z57nuig
	IE7wr/9ZIfWbUzyRfe4Xx/K6JRKoDXod0JgrbaYRx5zhO1EIPY2fA+6lx0jJssmQrt4u
	vw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQCNPkzZhSrj9HC6dVicIExkgN7y0D+hDbqrnVrrp+LXVpkNqA50Lot0qiS8iJGA
	5fsCMQCmOTdvNqF7NJv7bRM1uzECumzyfZyMWwzAjMmCSbgzJe5t8lOx12OpYmtuFUtR
	Z5U=
	</data>
</dict>
</plist>
