<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	eOHyyVWNFEimGNUoeDwlvfa6C27EijDVgBN+4SJlG/jsCdyPQhUnuPVCd2X6gg3Gfy65
	w2O5mEAHV53yk7CBzWEvYapn6I/Cs4IqrTTRtZgNp8AMoS6ZUEzpUSKTa6C1VMWZmyWR
	/9k4XdLlq6NdnE88kshs0GWpwE43z90bIxsRricSbwsYjI5HmSYFMJ0MwTNWfdTJs+xS
	kMfhazyIr8QnvhWt+m0hashKEYU/5FvGQGOC2Wn0O9+NySYC1jFI/TOKpmrtxoEA3/ft
	3RzH4wHLWYcgWRWjx5Z2D9SIeXMHBVzfrQg2AbOuEgzWmiStbzL56aNYPHJqaEDcOA4v
	+A==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQD/YI/00eSgMCj177GVBFjm08awyoSDGED2p/VIKXgn5LKc7r1o/QdlEXombBiA
	XskCMQCjgAgdpqtOhQShQb5KomvZjLVO5bSOwmddB2UP81PlL74QLYpWh9F1NUYe8kZ3
	T9Y=
	</data>
</dict>
</plist>
