<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	tD8DwWrBesocqNbP8XoCY+FozHXR4mafruKYpA8ToJojRi1UMZuV26wHTNHT0dO0UWFX
	GhTduIlpjlGJt8f9GFGJkcfe00DmUNHJ6ecl3uj0mpPnq2+Gjpsvq01FI2f4vKP8Zqil
	r554PDtvCyu190eLf2TI78bcaLgJMNvEMb10CFU3cSmJFFs1vC2ZCISeip9lyquqKBV7
	44j9P0vFAj9Tp3O4nVLU54aGmnHDBUC3BgDqlf/WoJLBb4dSMcsb238CIY9PLPlrK5KZ
	E8RGQeTFO+rfWx07L7iDtKH8dVr6whAkes2gvhfNJXeNJ/FYdhUOr67pW4aYgYAdO4MC
	1A==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMHLPGFTTAESp0TikeCSChcljeNNs/L2Yz8luLS+IMP7U/N054LBDrHTigTFYONUM
	GwIwUElW5sqf2HsKiZZmrdpTD1vmcH+rckFfK/3vIL4ndB6TKbIOROQw/bW7w/bQ2zba
	</data>
</dict>
</plist>
