<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	CkF10hONORItsSnuEmZYUkiPfuEisxcVfPPMSSAcc5Ftf9twjXrM4YZZF2N39WULpm2O
	PQP1+PVVcPMQ40m/Hsto7yMoEFdTlvZxdqnSIIlntlgsg1EAK6mcRccNP5nVAbTkhCR8
	5hhdm+J35Pvo4Twkw5iQQaRTw2197h9yrcBRsgJOw4erZSPGSSw7JuMN21QbGq6YtpBl
	hOPWnuZEM10NGte9Ha+XCCAlmfGlgyjaVlruryn3/luRcHeG13vVq9eqYbQZr06LGXCm
	wv+Xok9JnnGKHxGumCOgFzFxmkAc0IY49ttovv7RlyIVyDrzFCSbt4L8w7b8Oh1Gjwk6
	rg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQD8uazFi3X3OfItKWrlyH42onh1tOJGaOVgcPoSh51xZKLbHMXItp6/stlTEUqL
	KKYCME6fmYqd9KACnnl9gLfy4ByGc/oBHBnhOpHsEnaHftbVcWL5icmeWyHt6zRaBMzi
	lQ==
	</data>
</dict>
</plist>
