<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	AelxrldCXHA8MMCHI5sncibjokKynM2YpOENT5IzJc5g0Tnz4AGcg9kr/9+LjYO9iqtk
	5BM5BGGXss5aLDEUW9BhaFFO5ii6R3g78KlOQAELyr2z5PSiPW64+MXAtR4PCAtNDFP/
	vjvoA2UBnz8tlR0EJzn18gerYVMZaDFZQtah6VHkDxyHKLx/TXbs0WcDibrZ93SEMyTa
	KLWoFqR7ayIHhXqXoDV+18zuev/oXtbO2CV712o4I87M2UF+IsZHALaC/3ZmDUQ5/3Ud
	66HX6WpwyMX4NloM5EwUiwliXpajSpNtzoAhIeUpbgKA60WMV/WvIY08ULCXB+B9WwCj
	Qw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMBOMJHMBEmuuQEZkRTp6vXwaOqqkyQ66fC+MIyydMXX8BXwtdKywVP0/iQJqscl2
	4QIwZ3SDFYdX9OV62SnDUHTlqA1FvukJb/AIWwwNWQnkiA8vHAkcC+QB4M3uFKFUz2iS
	</data>
</dict>
</plist>
