<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	BvCRLIEEy01razx7Pj6Z13UOqpQ4LfuReVG1eCD6T9hHcq5bXI6jjxRREZ9Yvb1yMftz
	kPg1EO1WRemTHzvspVF8y9HEpnzDSNvQhUvYr8x2ejj8sdxGUQPUi6zer3koLHSAF3ci
	EwR/go2sVo6jUEqT8v6uIu6PSWVbDkwShVdHG63838CtYFBJorZQ2tzipX27PR1OcOcC
	gR3L+HKj6j/v7jl5yRy+hOHjVAGoX16NMA+M1YXm89FR6AtjkiFDjWGGRHtZo9SyIUmI
	5Vcm4DbOe+2d0r2J15WLDPBpoSp3XBlrKBo/KPvN8teSAE7NiZlOWXj2tBlqykozSegO
	oA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMBLnE797Cw63MrX9oZC3L7iS9MZxBIgusHUU8+PeMyL4bjYPBIWDr/y72MlFdD0Y
	3AIxALjTFkfRtJLGHWqER6ZEbgK+wTKK41fab+S5OOT77vpD+z3gv+lBIbm/9M3F7NSc
	4w==
	</data>
</dict>
</plist>
