<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	IHvTBzHf3M8IQrvyccpGGRI6fg0emtl/0YWLaKX2hXS8DgvoLb327Lgf7MR1R4tyBvvT
	6WAKtSJIDG54eCOt66A6TvsPPpPalBG9WkiMlL91+H5v9fQjNSfVR07HrpX6RHi+kgaT
	gl/FJT+MmgzPgeMkJ7MArM4AtcTy9lLreDKPgv8lHMkPyyDZO7mZtZn8dBzbUppc63XF
	J9aoQRLhOtjsnP2OSzZYWuIYtaI/+/HfkaZ02Jg5QqGSk599XxqREHvH8zbVHeZHke51
	51LyEXYVqZIdo+NOEKnQfOywXeSCy7iObzpIO+ZO5UhgBEwlZYUWdmDiFFPj24qzbi97
	qA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMHUvoaXl4/Lo4olGGxEo22UXeKmqNBPehV2A9+2C+XoWEOPKbsqJUAnZLvbXtoZm
	AQIxAOFUamfSdy+zyL0zCbV6EQ4b+tv2gGTOsyZG9qiowbP0RsGrjh74fR0LfE/aVLU6
	+g==
	</data>
</dict>
</plist>
