<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	fnhIauP2WWf3xJCCop/1JynA2NzsLVzm2sAmWAefWxh9QHd8MHGwecK14MXHDzRhOyjf
	SFpbO6wxsCYUuCVUE3REukcnaHcXiUEMm8XHX9gF28rmkvNHKCUdRtElnzTH7Hq1nAx+
	exUMgS6hsDmOTXpXLyLVY+GkIs7GF+ztEItF1lMDV+rdQ2E/lSvtQ7AKkWF2dNwrvsGC
	mPe5o0OXQ6j7kbl8+Bd01lDcEyO4BHjQGgq/M/6AENyjtzNhgxuOD40kLRqFQfR/MmPz
	jbF0hn+Slh9Al+V6Wh0JKNrJmKboH0vtAtxwq5NgeEZGA69MCBgo2VfKaH4GbCtB04My
	7Q==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMHEVEEL4DXDjQmparFu1ZfL88xLwP9xjwQKu4WW+DX+XlSVG07bEi2kXW/8Cgia8
	SwIweoQO6N9Hooda7pMVoA1f1XAg6bF92+sas7fVtaFDSIBfewTSfO6RtNce57TA+C48
	</data>
</dict>
</plist>
