<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	LrCLPy1LPAO1Udwe1Y/3yDcjVJoNT8IpWFs7aIlQQRl06h6yBTQKzxruGDQuSo5OE8OX
	R3MTJozU86oSTVzybN7AGedr4Pe4SiGM8baA4vCAUKeQvGvlwLJOKwt/wq9rKHcunGAk
	bHsFr+5XbRhRjLD99N1/dYLzrvs662hctS3nph349o0f/GlCINVXDhWYVwtuvNRlvWja
	5t6DN2Q0ljA0PgOpaza1SJ/CB5vnCA/EbxsQIYpdUIqvVSmKBbeH0LA82buEngvluPm8
	a+h8DIWuz/wKlbpEdZ+R6xX+TDtGbsWoUTt4wM68zzN3QeUqQ3jbv7F67kpWRU6p7EqP
	og==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMFy3MM/9hE0jTyrgJbDFlOGRAJI9mmGmONR6rUVrvsEcgBjcmPTaNgbaAS3tOV15
	6AIxALD8WigE4xisCimSXJjybmseRixtgETopVnFmUUl9PTkNjY78KvgeznrIky2Doih
	4A==
	</data>
</dict>
</plist>
