<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	uUcDlmUbDKOVlWpe3Z3vOl1nSnAhzDlVeVct4kdOCdVc0vSHhSjtOsoJiSMCKQaa1AGS
	sddeRQzPh1oZaT2CBXe9hONuOkHTaKO9dfQLVAsesqglQu6Jua420w0q6nYeACMMdKZG
	e9wJuo20vJxVTy4MoxELZDovFoUycs6nK8bgeo2EORgYv4AekMqd2Br05gLK8If0oSb7
	OeU0MguqzRx6EDrGjUZ2Rn3gwl10g+hVDf5gUIhrH6z92eSmha8AXw+T0PSnBRmrwz5C
	fbfOwetE/xYXAG4STcD3mLprwpy8nigcCFBEgv9lIHvmx/YftiEFQh6uRVK7YrxUqSCL
	9Q==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQC7E6FQoxQM/MjfkSH0/cpfk/wAwZkhFiVmgY35mcy2gT25PZvxweCPkb2MxEO2
	/IgCMFg44i3Vb890wjjm/V9DHIwrvvRhMOzEXb2RymowiBq/w2j4vTGTrlkBjdYmNXHn
	wQ==
	</data>
</dict>
</plist>
