<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	Y6hv1ohcY53iwhZ18qAN05R9L0YfyDL8Hbp405hHHHmpPiSuQS4+EFUuhnlrSSH9Teoz
	tk2nBAICg8UMfk1D73rzo5pknVP9WGkz4n/r+Z8JRykRUyyTZJuH7YxRQsENEfXCDdzV
	QDKxpR2F8FYcfnYvl+r+3f2v6CZdV5f62qD1hKRonRcbGtgGmnR05qMcg9GTBKLfgLT7
	gNvubN2kErCuCkD4bEPnGfHXhpQR4+9deK5Prb/FR6WkcOGGHxNE/8nMmd68HDQRxUNO
	BUGi0sEcumqgWkQsOODfhNwmrXfRSu7hKbUMtvDikOosU/WbIyCjaANTye6E30IOAYbY
	lg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQCueGar4AIwaTYq3GlYByEdpomg8cl37ifa3gdiIPivtejrBOyTN0YdOeZpowzJ
	YXYCMQDQd04Re5uPSc6ipAt/exoQS9oTOnR/KbxeZip1xUcyK9HhUn3OElSP0KSk0aV0
	0qw=
	</data>
</dict>
</plist>
