<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	PeL/A7iiur2IuUh+s/zVl/KIaMHgs4tcSv/5RMQ5B7Zk8FuXc3lasUSgGUlq5VjdB7NB
	3dZZh0W9Hfsm+3E3KnK4eUkC6dKDHEg4m8P49JKz7C/BQaAoMjNXx/RMvwVL3NRx7Rir
	95xssdLpzKrNTQb/TZcBIr5KeJlYKidrk0PH59iF1IgW7DvPaRyb1iqBeeB+o0s7DGnb
	Bz7ZNXJ2d3ZtijJfXFmRnkdfTEO6AtiZ2fAEeprj1dHdKT7GqfB6xayiemx44nkzJOv/
	AWRKeuu9AUmsWcsJJYpxRUHI4jB24J9xDvDQmxL+WwrbpNNcLC47WRqnF9flyzXmJikd
	Nw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQDqumxN+z2EPzECqbvPCaqa7ywipoTFr6Co9ygKb1cDwCcQdc5x0AbVLNzgeX4F
	2d4CMQDWvO/sfhBpuOVmtrp3ZTJZDc+ON/pGQIXLkXndyQN85B4+6XTcm6D/MQOGqXnl
	f3M=
	</data>
</dict>
</plist>
