<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	vFchxJSIQwub5lvxg7OHE44xCysM9/taRWeTXQiF4HpXcKIdnjCdpasmnU0aPi1gGns7
	13kdbqmx0QQ2IRlvaGFrg5+6Wyrh1oVO86K7PZdVyWGzPYpO1PUo0o7EMiFAA9bsGpKf
	MdzikIXiQsdOwubLvPvR1ehGmPy3ew0ynKYc9mtxUMaFJVVQDylYJyltaMOYF6s82tAa
	oP4BMiQdWePKwiNP2gFPYsC7QktSBrStWKtmMAziKw2UjvgmCxECHmX+LyrbUWSKPlvJ
	4bhmiHm23Mg7n4FVjWcQ5ECg4EtIPuHF9bUcwG1YvIe+kKR/2hdbfXX46hAJZXXthn/V
	SQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMFQ0EmFYyURR1ZiOO+aOOoVbqjRLPo4AKNFM2FA4es0cXOqsID6aXVPd3+0MmOqU
	pQIxAPn7lUKmKamhRT1XpXOSWulcXqV3Ue+0VqwjdX0jsSWx7THIwmVxyf5R459TCeXC
	hg==
	</data>
</dict>
</plist>
