<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	lRBLAxIyB9HadA9TBFlUorIa0lnBNcnhcZjZSw1UkkUAqH3zwyDyNmrpjzAVHnbMWlfb
	CUPgrtNYjUD+J12GZOZzIyKn155Xm2kzqZPT5PGNZq/mSC4lxWAJpBZgnUvarAuzDsFa
	N1ylyhh0RyW2Db4atQcxV5UNB3I1T+IMAWLudYR5jhaLP5h2e6N9snX1o8zw2Yi02aUn
	26XsZyd4T00gyhmPsWbiNxiRmEB9SEp/jNbS5qs9E/w9aRh89wpGEae3Se1gpCjiN2+7
	l3mBD9YJTcgsNh0qgiXcfYCVbkB5h3Z4UGHmENy/9IdfVBc54O90f8L7uvuYXZL9kdxV
	ng==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMHE/QEL83SLbVimJYWX9T+sYSB/4xBnjPLA5//+INH3Jf/nMaC2cwhKXYeoUilOM
	UwIxALiogOewe72RTBCtpl/qy4zZe/OMrS1ySi+WFUhoFeFT9ABJllCaLUpOTLFOiAGm
	yw==
	</data>
</dict>
</plist>
