<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	rovXg/vz5stva9ZyYGpAzZQC/q0EoW1fJb/EkEI/jtDRmxuk11E34/xvCddS/TOs21/D
	ipdyUaG55G2a/qg6ouBwpJnOmGiApYciqeS4pXah/K/PpO/ftzEGq5DIx5WWQ7HqD4qT
	fj3gyMTWtUnLJPrjDotmQz7IJ2U+XKhiLnMcS2UPA/Mdk+I1yC/9W1YazwiEkzAxGRzN
	wTDbIt1M8Yq4heMt94QRJIQBjiUFCzUJ4C3xcWxkeHqRRhf3327r9PxCIPqaxaya3++4
	lxrafB0EQ5TnEw65M8h+AA3CLr6L1+27WNwWjZl57XkeolCuxL1+YFDS/Ubr+zcpfB3m
	Bg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQCKxb9LgbomXnB7BJ33p2JNv1mYfO85dskAMyOYBOSg7JUrqP9r8aunXLdNNAt8
	V40CMAa7JWF0bmV0+obHPvDX3mvNEae08n8GyI3sM/75D28zMiiOgfPQk5hQRL/Wt8it
	og==
	</data>
</dict>
</plist>
