<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	lzXS5AotQgjgkqiBlU5Ifp3hX4CG0xHqNQHIiPDpuqPkAg10YUYKf9T4GRoV06LGKTTh
	zoiKiLr1A1ID6Z7b2ppvSUUVq+gZYosowKP14saAWtAGVsxVvNQQfGGxGW44wDPYxjhE
	NndMIe6q75Di7SDsxyBePWeoJUv1Rwfkp0bDcBdSjeDwsQSOVGIHfRALHVn3GVa0vNya
	JdM0gcZ1f//RlDyhOgAJqchXGTYd9g1lLOy1pFOWDz+myAo1EdE7FZNqd5gQh+Rw9SEk
	k4Tza2IppGy0D/Noa8iZOGVIU0EQYsSwDYR14BI2JnBfN9UGJcDe20V4f6WBLPDj6Jmi
	9g==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCME5wo60rjRK/XEraMxioEsgDhFYYrwFD0420JpeFHYZhUuNCU7i4wJBS1iCWr2wg
	IwIxALnTnMgNpT3JOEJe+oBCpNWrK8JAYWxrtAnnTfaqhSQe8MBYGewjFwBNftwZRK+A
	Xg==
	</data>
</dict>
</plist>
