<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	th4uJ5raX2s09l1Olgn07qynwmS3KF8Qg5ab3Nfj9iGzlxHynlDogI9hLxLgtnEskDo9
	no0wi+XHaAvF2G+ZgOQv43hpBl6MIC0aBaCvCyNBuLdiTNCxAmU5m6Ya/2v2K+b5YOyV
	MopaszslathqTFe5Cit047TgVbJFoZES0h4HSM6WpDzuK1d7+i1JHxOoQMLTcE41Gbhx
	fV4OYwe75t/2oIQ+U04lr1So9lUtnriBAJc1e9LL0TauDCcJNYXcktUEYcg6Rkqr32z1
	fC5p1L8yCq92VxkvYsylo859xuiNtCOE7iv88J5gEg0y7ZXULIG7DitjIydW/orhZBBX
	mg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMBRqEONGcHbddPrM1iKnqHLrfELs9KoQuG+EekWnspAYqH01PUZ6SilK19Et9X1T
	FwIwa+lbi0r6HNDlNZwcN0qfWPqbZAYRVg813pTtSb2gtEbXxR0hJxgjpyrN/rN2n034
	</data>
</dict>
</plist>
