<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	XR59AUV8E9SxCjBvz+PizsO4lyb+LOCZYwKxuUHPgOrmJnFlpJoNkx1C8urOK/aPGzAo
	40rIexqJbQ6sKmADhnX8cUaNpHuWBbbqjUbEdgZFGyKlHZP+K43MasIrJRhwqn4hRT3D
	YIlBRoWBnNGkltFmtuN3wSoHtKfs17V454c6Vv4VoVa6RODTgbhQBRhuvjR9vH1FIgDx
	ayMkwEbkpREdHt2zaIKGHDQB5O8bHgSztlwYuGFPBd9CCDVCIzn4d2/75AsQd2bDOAeN
	YNB8fkT4nMye1T83v0XQ9n8uQvKnYtERXAHaG1dMw7kACrhth7h1pEob+oB7XgioWkM4
	mw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQC22iVecB0hKtzlC51wf86cBm2bAMLu1/CLr7AKvUlmW6xrG2RUL+2gsc9Fxwum
	GGICMQC7KAL38qx9r372owbE24qWB5AMFlSV+9HtU0Z5pIFQ87GdUaGY1EIwb0NIzyCF
	Ezc=
	</data>
</dict>
</plist>
