<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	iNi3KmeONi997JCjc0YZZU9rmWtCDMUj/Bf5OcXFruwNgZ9OwOAY2Q3cwZ5dxk12wMhR
	7i3MpDB9p4yTsrYcMrHdtliWO2ss/6P6JElJTDb8lX2zYIj2lg9BES/aMrmcbHa7CXMB
	VCyJBUytCbN5cTksWGRBHwdTmtV09zx9A7xDPXb/AQ57TIE64988w1KZuynlzflBIchB
	MgSG3F3niD3v/E2ypZ3h5iAoFzowDDvlkOX1gDBku0TCRNaUvfrTAjMPrQFnIa2kS1a1
	rYckT859g57RU2Q+oLcr6GCbaVqCUpw3qfxmGRdstLL+nL4qC3pDoRuia2BqSH3CunQs
	3Q==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMDAnATC6MwNcfst8OWS4DUr9baYg97424VDpFXsWdNW1vAtZDo48LXzOdM+lJfUr
	1wIwaY8xlRoc5HY/xoMp/YCF2y0QNJ4Xios/0ov0nuut7bn+GSwIC5Ol2PZzd4wic6Lg
	</data>
</dict>
</plist>
