<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	C9JUr2wJ/ihgnqlHLWNnGBubotVCwEfC3gRtR9yECC8CL5fXLezfJmV5oaoiJQT7kb94
	TAjgCcq6FkXiEaIkvu2AAGy5qGu+Mvrn/RDah/iH7b7LP5WKUget/vi7QRaoMg1PDrrd
	V4OSC1KMlW5d3ucNCKNtTqbxNtKg6r+NCnPhzUQC4Usn2Rp8zfepnnlDfoY64xtVz04P
	skmgOkO2kj5RrMSslhMC/7s4PSpBsUgNdrkTScGfXZ6E8BSAk/2krRPagtZolCauPbzk
	6VwFXgFG/Foiu0K8rfum5CiOkY+CtKVY3gDpCMgo3ve3KooUDRBMx7WSlNE15MCMF7/T
	Sg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQCx19dXXjceEkNGG0xaGARr2D+8FoEfbva+05hoAcI0PAbDJg4Y35+kNgyxO+GK
	9h8CMQDa5L6ScPbHu7OiP8uTySOqgB8NVum8UuPTohemPVIoqm0z1sRI1eEQWpvyTt6Q
	hpc=
	</data>
</dict>
</plist>
