<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	5igu1sLHuSwiiCBww7C0OUOUbkCmM3RUXary7yiQ58WMlbYXY6XlaDWfbndD+grealNm
	ToPBsaZ/G2N+NJhu2dDPPv67uG6+QJQ4ftGzale6g9e7Ue0+Ito81nebJmSMD7dgNVsh
	/W3zIYOmUJk2GiDwQonezOwrZ+2cZz0pL1ubUtKLHPfaGbW6ehXu9S71NjCxNDp/JFao
	Q9uANghI+nCnq56/hIEproRAIzsuj/fQnlVAw4ZQOfYvpGgRPXuS4v2jl/R9o4kE5uJd
	f7SOhi79zsczm8j52q+P04w1EQoyi35o7Km1xIYos9kWcn5Qv4YqdfMU22USWU1wdxVE
	dg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMGKfpGWcSsSYXA27cHnqHGvwfcXUNmlmha8wGa1yYcVAx5vEkQ6aQ2P3gQAW4MWa
	IAIwFDfXISFM1mOfXJyIZFYi5VNMPeJsHHW8ToMRYyY5C7cOLpi8EDUIF9ujgK+iJy1S
	</data>
</dict>
</plist>
