<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	RzGmdS6t0IimOHPNsb3SkUK0iE9bjTHnF61gQHZVCa9X9CKWnvRqSdzwfW6iyTiq+50K
	vraqdopp5nBY+9oU97BCgD60d+mtbNV2Vukghw2wVWk9hBfkoQBr1bI74CwANOXwOC/0
	wpdSU8X4xJArjDOBlUibn7MbWjq2jrsFHWfPFPjc98BhR8CAXY9rJCcFtt8sk3chj701
	3F2fPpql5VeJDLr7Mk6IUNCRZb+Bfi/V5IhCt8azRfWxEoLbGSsDiIW6ydZkN0pWOqtC
	r14KsN57Veqttwios2vtNflEuCDtZP3vQoLP4Bj/STemyAEOKyQ8FOqcrQFcVdQr83ST
	pw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQC9LSvikHR0tl+5N3zOdF2jaKnhZ6WzVrBWzwts6F+sj2Z/7B5Y318hjJQGOZP1
	6nkCMQDujwN3yimNSiVaQPj9D/cAnEnnS3BHX1tSse0iaZzaYJhbDRZiKfW7Ca2oG3gQ
	5YA=
	</data>
</dict>
</plist>
