<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	nc+8URLW/DAHme0VHwBLDVTEmTdK+M3prUZBIW4YXF+fYZYCMi1o6q6OzViwPvxRwqmv
	AxPHeNEk9uOy98a7j/16RkLqKJrv80jIxzdzuCU7MVvNw1rEPkRSjoejqADbLxhSMkAL
	WQi7aOHf641I6eJeAPnD449jyaq2O0ra3VDtq+HOW+kiUerLJ6JUWO/QUvJg8bdyoOu4
	eEZsA/uiodfCQDAmDbSdjhCQFzgu66LKM5Qq796+i98smBSfxFmsGDgqhWBwAet15O4u
	BDbCNvkVN+vlfDVl0zygyJznHyEX8r5neHXyAT92FzWtIqigHX6n8lPMKjFTltvTRTGt
	Lg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQCizB2KHoyjNBppJdDQKf6N1ncCowb+QUJDq7TGNqoDVBOIv29nCoCeHDeHPPtt
	+UUCMQDdFabs2aS4HLtPDEseyrtHlIC9TFPZPyvup9H0BIoyg9ZQN7kR1IhWHaLbzcPD
	tMU=
	</data>
</dict>
</plist>
