<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	1de2a/NAPm6eakc1enPcuOUpXdXxGCZ3+Sun6SLefciRrk0/XErT9OJpabueKDX8W1ve
	7apG0B8Wg3tQbnd7XMEqliJePY9rDqmYK142gz1c0vB1X+QqYbc+rZn3GrQMRrkCnEg4
	RAlg2hvR64PyPn+Hjq0o+CKpU6hPfthmRQmY8Y+hIHbwZ9pE9adnHQkhMq4Y0680JSc7
	wxweUcWTfOn8DkOgTkUZgi+8Lp7vbJuZWcbYwByJtpyXa7YdFtQh7Ed6u5YJKmO30C+e
	o51jkMeurI0+jdn7Oeet6Aqx0ntBROPT7PI9VNE3O0GKnOxJJ04faB/4xMjxdYZLBi1+
	Pg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQD3r9uYnstpz0h4NBXLi02uw6ROEDdS0FEulTd2RlVx3VHsaWX4CbEyEEUYSITO
	p2gCMQClPdWFqH2gIJtOHKILiyJR0MVHwZlk/CG7AHRzU8s1VuufwjSL3+ZXLDLuIMqU
	YKU=
	</data>
</dict>
</plist>
