<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	OwDx6SxJqix2NssHv0wg42GOkKcHiDoZVxa9nNfIfAdIh2SJvujUeo3v36ArD4m3zExc
	fW+P0GFE+tx7zlAJbHytct27XHB+1wXV4//0BNGcHY3r0wB4OyQgGi/SY3pfY19CNrsy
	mYFrzpSKYoDX6f/zBRgo+DzfiCIm8WaPOsVbyzdq16QaBTQ4eZsz0IYMCtxGe8BairDS
	LY/zPqD8dGOX+kBXeMUZOUUfYRPR7ls3G4rcE2SgosDXSR4A97ZDleXZvmdV/aOgfqqb
	pvv7pnIyR/Uaw/DQuTFZUC7DY3fa1g3d0TTgB4bPfJj0xrkfHO70QHvEERPhQZT6HCYE
	+g==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQDjfN8At0AdI7HYhNRq44jpRUOMK5v8PEDZU0e6l3pPKHusOMk98RxbMSs6IHnh
	HdYCMQDloUwkdc+AVyGEWvr8Y7I9byVvuSXNur6smyTSjp9rgHAh4HTkY1XhybphgZ1O
	w4s=
	</data>
</dict>
</plist>
