<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	jaUIEQ5OxspJEEOkhSFvdYhtxez7SDdGPIpt7+dK86XpHc8Zb0THlzJ0Fej7H5ya8uSs
	bVzweFT94lYG/mhNYaRKznbDmkQyKhz545quCqxf1y7EVgoWl21auOyc0oyT3ibWYbKE
	qdslQE+TdHJ0rOyu68AE+gFetFtnHXFEwyVegxyfywN3kF9yrsBGD6tZ8xyBW/cd8e4H
	wd9KCgyUSabswBVWPrtq2kAzWY6jOo5BKMThT/GSmqCdtTjIUd3F6+HgnEYTYTmAoejE
	k2CC/T/MvJCMbVQV8+OyhVGpBFJFvoEPorNtz5iZvPovDX+YR7V7KQgBzlDGRdGrFPnY
	zg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMAZSDXgT+1zkh4tE5BQNmUyO65w5q4eOY5qEuvGvPpnx6V9jEobDMpPSv9RGXi/b
	UQIxAMUq8VmLhR/SM/lmHHZJILF41awFCRSt7ys6VYQHDCJhL+zYxXXu8oFkX19vbvI9
	kA==
	</data>
</dict>
</plist>
