<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	fNHTQUOqdd+hk78cTWEX9XYUq/pXsSdK+kOC5hlR+S7n0oMoeEQIWZN5gtIMDoMHiD+2
	vl0YmU6wkG7UsHVDYRUqleBB5jaxFboDf05ehLzxT+UTqXw9XCW5SczxopaexPugOsJZ
	GJiQQu24HgLgSv4rh3G1QKS9zBQE8msbLApSL5xTm1ZfLVA7y59b+DxU+Mpw4u5qG4Fh
	jimcS9g7Ubk7jms3cXmgPX/AlTXEN736ObrxFPKr6bSbTkMUgjd8q8b3CoyNSZn31Z/Q
	5/aqUUh/mJzUniPbv7Q9rdWLNzP9L4+JuUlZ9Q0B5VnWprUUzCf4Fq+L1sbsJQABPb3V
	8g==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMBTwIuEuZ5hh55fWWeKyJt6It286+nMZrv/ma/borvv6edpKotqVGCRS+WnQZdHX
	owIwIgVf7gAke2Dgs9unsCVAdVucG3Y+bHJUHDiaE/X0VP4fmTsQTNJULei9DQvLl3CY
	</data>
</dict>
</plist>
