<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>overrides_V53_V54_V57.der.pri2</key>
	<data>
	qvngvHLViAzXQ8TPUjMYYaPPQ8p1ZqqgHVi8Sq+fM3XwOaz0XdlnnIXnm86NOe9Wo/eO
	aGRBvs7Wy4Amxrn1DQ23rZXm09z56mmwPwrZToMbVLLKb03F0uYQ/52bM8fFhJt+9Rjy
	KMzXYpVBl+7lh8pHc9dXYQv6oJGk4OZhzMIF4PoLB4WKrHUdzzmpNmqisHdnGcglFmEd
	/WNVSKK8rOX2ub4L88Xyk767u46u6IetoPI6hW26ip3d53zUrdYhRIvWwv3zUlFcv6D0
	kvWXs200CvphzIKQ5Q4DyDDsguB1ZIM0UaHdt3yiSnJ+KPTuAhJwo2V6lxDEMx3VdMZU
	AA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQCFRPcO9vL98KraEXCnyCSQVHwTIUIU2nUKhzfZ1EBZtEwn6Zr5ZWPssVWfakyL
	vo4CMQDvUCdMne5mHLoygyYd4cG//orSqwpYMa/wZI8dfopXt/L3/RlqRWbF0iRec4rM
	JaI=
	</data>
	<key>overrides_V53_V54_V57.der.pri3</key>
	<data>
	MGUCMF/wrgC6gXG1LGqgIZRBnkWXYP6+CwVl+wfl7AcA/X/9dKEDw/0LDRYFHg3v8AHT
	5QIxAPNp2vQ9XS+g28WRj3IMb8EGbQWH/1BIrBR6g+E0RzcqgI6EZZPasg0MXVjnLd+6
	Rg==
	</data>
	<key>CBSignature2</key>
	<data>
	1SEZFDngnEgPiR+0V2H4wUjMod5KRZ71rJwNho8y+L13faaIuMy7zVyXCQtf+Gd6Gcgd
	d1qNsmnR1Yx3dQZ7NGA/PIGbwpp4bclV6Co+ThMKqa+99IFDz6/4uVHbq8vnSstfOGQJ
	sgzb3PpwPVX0F+TknPmZY+7/bTqY/y3iYNkMnkk4Wm59f6YE3N5o2mj2WYiRCC7+c9TN
	90Ee12EY3rdyg17hwR2VvukDQS4Ge8QaPieH/pj7aPzwVx670uEooNYbob7vu3lxAe3y
	jBAJ+xQ6+LNz0eE+sExib35MTSc2dlLXonAU3/qQ1Z4cJHSTpyXp3fY3+Vs4jKvAtzty
	Rg==
	</data>
</dict>
</plist>
