<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	fgYp4zy70XicabSUpHm8mqkyCAJ1ETp4iCfMXpW7WJsTeeZecoTFxoyb1PISWoNk7npK
	Ly0XydgyHIn4pRHO0MKKnuvp+zisq2nENRJ6bV47UDXJa7Ysdr7tjAO7OkIz6u0efUaz
	Bra7phBbxg09KArlDDBTwFLPIUzc///q0Nl1TffFGv+VGPnTM2Xo2t21bSozOwEPtrUJ
	TmpvpyKlaogsnxuSrJr34G5Dc5yMwtZjXhRnkhT9YE31m4bOFg38kL5KDV0k08fgyqeR
	pDNVCFitTZ3hbXNaRgu+ztzm9GLPSdc1t7HwHIMDZCs1dcvHWrBxJo1fmAGWs/qncc0n
	ig==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQDq/M/JQvK0mGGXF59DdwE1t8HrNNFY4NaNwpFZS9NquJFDkfSm84jPOipDMsH9
	4lMCMQCMsL4HoS52sovnrrC6sXPsR+QHrG1u2urhFtAwKodGVRPF47KO2tme2zUdqbw3
	qJQ=
	</data>
</dict>
</plist>
