<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	NEMi3nUH4ehk1JWWJFVAhpmZjNP0SasqJllGtgx4IKS3pRR3M2McIhnfhU7t9DMg7N7m
	tn//Ak6MZSYZi9ksxXyByTZeYCSZKT6Ju36Uexl4db5kjNmKTpsAx2rlIev0SbnzA4Jy
	xDvQYNOlb5BT8JTvdfCIVMyiveMjC7epSoMhjMT9z+Pm6Qg3Y4mSBocNphSVdajHgTE3
	mSOW2gpkMu49ElU5S7Jliab8hSR4I3s0SQTPARSWlCrc7ffChVC6ViKjjD2JDI2kIID1
	zmqemuhyfszi22U0YrqRcAEcowpZfFb1DuntoxRIsRPYv4m1z/92r0NKSOVUPpzKGlDK
	RA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMBDHZ6sCtyTvxm80qx/hQ45OW5Q1KalWPHFP6b70/guP4YDXs7+vungYXmQySO7M
	NQIwe6ApMEFatZjBmnJTK88WYDKlzdyE6ID9ozj0PMsnCGXVBAwgmS5CPjrzq96b02qL
	</data>
</dict>
</plist>
