<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	S5HKuVybsXMUM5oa6IlMfL+w35zwoDqF6pIqmebxgTTUBi1Z/GZV8NKGjRVOXav4iyfY
	WZ/SZ4fCIGyVTAGDWTBL/D4nUYiPF3Op4zZfTojUF7y6F4Imi8zu8HHrpugpgryEPfuO
	kUwCJA+6I0c5vDTeQu73+unxTCLLBY+alIRgOOUenXTKs6ktoTlif4XiChILqvX8AWSM
	p6HMAwNhdVxxUFn6LmQvfBzq07lrIHFL+laWBjtDsCx54To5VhdbNdGlfZi2+keNnCiB
	tCPgC8XJ/cXKX8ZyjRQQOthvwtaq2jh2iVvmDldAlPU3MBE7lMTu6+HVvWoCKpR+ZVnF
	qA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMD1nV2QHYMDjvIh4bqJSfwF35cYfIn1Epgm0mZVKvKi9eLHyz6UlT2bvp2NtaWMN
	KQIwWmrC4hTGEonSxNXEXUMp62SWEzwUgp81cjLmkCN2VuuX9OXzCB+CEA6+LHJ775T3
	</data>
</dict>
</plist>
