<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	5Z4bcA9Y5msMQ1m0NTvMmGd91yqy4gK8kdcMotPiQ/vjmaOps3buw/gQHyVwuvfGj7Qx
	OVBuE8xAMwM5eGFQuWtD5NpqAD7vVKu1ae09RTcz110x8kcEWMCpKcxW6V6SpDv2PZGN
	wixmHOWtNGFmhoq/eUQyu+qn8QblQtVwQ6E0+9wgaz+E/NMftbbeQrh5RpYqnt/uTqX6
	CdMzj1uH9ZRTLajWi25Fi84kKSS19VaEPy3j92+SPQYS4A7bTyWeBeKkcnpmtGk8C3jA
	UREk0pKVysBhQ3fbiYYVuhIirvHKTMR7LUHglGC2TSYuMr8km/QEaPU1CIKMIFhgNP5g
	Vg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQCqzLzQkvFL1zmtxCf27W6sN/Iocj7T7h0SknMMsrpbwSUwdW6JIQUBjKKxUI09
	6agCMQDVR5i3VXE9xP+KVXQzua49Wo10hDglWXlQ+AwHzajddD1JF2O2zoMIPYX89sRm
	Dh0=
	</data>
</dict>
</plist>
