<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	RYosY9gnUhoejSmuZUMwBeti+869ok3Zu+ANLdySyp22dbtoAsqc1TDxW4VDm+snHcHk
	jPpiX5rCfZ5ZGJxqE2t4C5FZBnsKLfmozGKdf3mN5UO32NaiqxnzvLsjsNQ3hu3LfXbt
	StBRITvvMoCAYGHQmp5mgichIymMFEHSW5yl4n7b79ZdKhw0nWAWxf3C3nyJur0FcZbL
	5IKa5v2foqvtT40fKsoHEoJHHfhhOGPuOVUWO2bVt4jgecyEba5DJDnwgg4j39cTibR2
	FBT4Oj66bmwMTUDUDE+ppgyy0BVKzhSdsSLiUPtItcv91AWfYn4C+nWGBz0Ge11uBYt7
	dA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMAzXsd371DXDzYy3CXtGkQpCJqaZDNv8QV2bzJhrz+Qk4j6H2IjouFNrxkrB5q51
	mAIwbcJLVaotVLP/6xfJ5ddOoe2LGYgCfu0r2InF8ZsYnMtzLkAX7cvt7UiPt+QAFGsd
	</data>
</dict>
</plist>
