<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	wCHwCVwUCC6joYJHPQcBolVRtvEmsrmu5rHRQ2Mbns4GLjc0YVhuoCVStknCnFpoPcOr
	JSqLfgrdq3OIjFf9es7DAARdk9gWBmyI5t2BNiOViQHWely16pOIZEVNT4/FIt2HsT0y
	175x69M7c/UtAcPguSpDxnZYFulgxYVJr3pQxRptp1jzt3C7FbePqD9eE1iOrIA8adOJ
	m+WKmjbEiRH6agJcPLZRm2ZjMYWGY/+m5cd+jMcov9S6u3qWDVOy6+8HS9t4o2/tF0Ia
	I83r3aH0lAqT8/NFDBrESHI+K1jWIFz4C7bck+j5A3hxYOVfFsfeDiUEnxlWLGWd3FHp
	Pw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQCq7p7+wA/oxoyC0uRu+yznd/pta7boi4XmBmQQUtJJdAYiNCKD6ZwrKrURbeGY
	iA0CMAKVHQN+x2LAWxYHVjoC9JXMkfG7kKxi5Kr01Eq7fe292rTYjth03Vn6nlK/i30j
	Lg==
	</data>
</dict>
</plist>
