<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	0CxLZrLc8XsFlioK+0Ytz9UHGPNmE8bt0JyV6y9QZy2iFIQQWRsHDWddu+6fZpgWvbPm
	rrccvbPMTpiHSRZHlAsb5ghBey747/g7Y6BwYEyy//8n/pubymhq+1d4/F9VcR0Zv+sf
	+YXp45BDKEGwqf31o4zLNi63Fnl1jPcU91wg5qHi1IU2Pyzz4usOfea7myGiIV7YiCPf
	yhdKxCu34bfyJTPM7rJAXT495NZ2h+ToArdH94YskHJNZebLEnX7/Focw1WAVB8c3mqU
	HKTdCtbVu3wZ9hJtdPbELWPWtofd1JlHVIQ3iwRILSA6Mm/Y+hgNdSqmJxP8O08qp0uB
	Xw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQDuUNpnxDmq30j307WHZ98uTC4lFZxcEct57/W2/3yIEXYUiYOu+FAHZm+Lrq/8
	RToCMQCGkscxQlVgiCKKFVp//IyC4laI/eQpcPyDq3EeL9CZVvdQBdipZlMlrwbbSGwK
	/MY=
	</data>
</dict>
</plist>
