<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	p2ZIyqhdjQ9Mf7ZCF8Rmjc1Z1SqsiqfdurvlLE6x7pLaOxC/iuBn2Ea48JhPyMGzmNeV
	i8k4AA136eMhoqtIGH8q47oTlFv73Sg7/LsRyAdLpzs9s2//C3tBlWN4PX9trwCb98v4
	tQl1CN+pYOvJbN4GJCHRhozO2pj4pEyCVF5Ae3OZgIdp7WFipLFhUGKAq7WBL8mb3o56
	r8NuyIY++9Cx8Y+AdGj67Bo4HsQKfIciHGsSTIVDD1p0pUeEgTwz1LllRQbYu5beJLbs
	zoTICTB1OP4T/IDQ7TG8CH/8qNKixx01s5jnssQ2o0/SbOlyrCIe627fjXsXX6lpucjX
	oQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQCNAaBtVzYBEizb5E8ZhTLhcmePrqsHEZt/O3z+ItN4hFFwSJOpfV9lqDqPOPG8
	XZ0CMQCiMN35hsL0o+Cv9LRGU2TRBwuVXu5NefJP2HcsP151KIA7JCbTig07DtN/sNSL
	O+8=
	</data>
</dict>
</plist>
