<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	6GMSRZLR4RW5GFzttzmVrySjXvc398OMNEBs9+8mfif60Emdo9pb8ELsE33gyB/g0r92
	vYJKHOJ0lt8p/5cToBaaoiKsClbbgxavQqVH62tJ/GO32IW9zj02LYEPwkPEqjO4JEqQ
	wqcyzlPvo7x3iq8bgsS6Wi/VFWNQh2tjJ04Qk4cTgSKH9F/M0r1bgiJ8VDm2Z0LOP+5g
	Q0Szc7b2yC9WQeomDaiwgg0qytxJDiNVk904JgMEiS8Do4/TZhgJb8qlIWPbEjlilHE1
	v4abHnVnQEOKwwE8n0I32aNUkf2jLZKPuGVeTOFZZEI//HGeR6arX65Y1UBotPXmu9Tj
	7A==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQC0tyj6g7GjPp/bXfJY6v/b6OeRu0Xl6NHpSkzAZS+17jJ8Svok3jhkt+jxiD4W
	tBwCMCgAeA6+j+qmL14CiLtYjGWj+8kpDRnX14MVe3NCra3TENa2wlLldwS+vVwMMvLH
	Lw==
	</data>
</dict>
</plist>
