<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	qn45sGCizvUEpTruPb8dnPydytvWYObSeIGGx/+ywKFtAAtZ1lN1xJZp/mxIO7v0TW5q
	xAClZoREckyEjjqcbUIW8FDhn44NvOQYX51WxTBSysbUQgpxMsH+9EENfwSsnmSagPc4
	OElfcycYFCO3kG44m4Ljh2Tb55aU2zUrvqS/tE/UXeD/j1evfPcZvOlFvr12Rzd77wkA
	WR/HPWVpmr00UvZbVW5QDUvy3rU0RoBv4uyY4H3ls3l/60G1c8/6t27hkCXjzXHIwpP8
	nk5VgATNwHnnXNYXMvKRHEUbdj+jBuWWWtUGxKQFiONUHAat7lndwps3zjhKh4JLKMsS
	mg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMARqe85vSH51RaH7oaj8xmP82k9BNGSQGNPwnkQ05Hd07/vwo8rIc8mZg3224Lde
	XwIxAIalOP+BpuyMA8lhSwBUfv68fdGL3aHHdHVlsOEeYD1xci6O8M0MUYTraSHhnOhn
	HA==
	</data>
</dict>
</plist>
