<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	Lt8RdXLJqVkQCEtEGCOHYSqfaCguwMbc22Eff7OpUpRCVUhspFWZC7aFTOBhLQtb19gb
	QPmEE1HzeLXMIVYbsA+HUEnilPCkRPUbE2Seel1uHq2YbCiMV/Q00/0Vxak51Kj7voG+
	u1rSwY2a2N+q4k2ozuzdMfUtCEut5nUITkuz5/nAZsLmMhCbCkstsZ0Bptp0vuLSnlEd
	Qikr7+aWiQ+h+6/NHrPl7kI4Uevz8ELgz4NYXfQWEJuwiq8DgnVdJKUg8860Y55b1VvL
	MJvBOnQaTm8N4M8OwMQvPyWPrGbRv95BQtq/lgxnEsa9zda1B4ULodT0Jc32+kfquClE
	tw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQDltfWbA8hLyr6qPw4ELI1DVe9MFVoIr+s8ZK+GOodUTANPuwwmQG3d32ZnOVqY
	AmgCMQDeoyFDsZHbiBSpySKkUL6bxkcu5TMfHd1X3QKeyX6hacKAVWSKMFL82/HySjRm
	g9c=
	</data>
</dict>
</plist>
