<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	hc1neWlewQD4os4aWRSe80ZPSrmwMVBEE2BHqzlCe1c3VrhMYUO3+bKguJ9gIZUPOqF1
	QKYx2Cy4BqPs7N7qtLYXoyCpzp+8RMdYQ9Apteff3+2iBqDAc95Uh8Oa+x0UipEcIrr2
	JM95x33PYmsFTtHJFDNYKt+ytSwJ3SZ0U7ITF3Ex+bYVp220WWKZAd6MSLrtr7ziJDQP
	PgUMJq4KaCfdNwHWdjNjyyF7bZXZzMAAdnQQDHSaDIMuYMx1RY8HlBzGQ1dHfkuf16kx
	yiaNU3gngqBeAgKhb0dYxY395d739DjyX3GDP3iOU1H/lTzzVG4jO6Vk5dH4AHoB0dp/
	ng==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQD/I90oiW1sCVMfqDiiOJL3FMcTmuv6D0ggPAcKlvn2TlrySKDmyAaOm7jqvAcX
	oHQCMQDI7uU/v4EAwua9z5BTHJNvMJx3XpM9XQR2x3mp9rQP42JiiL8+vq5pyNliKOhv
	xCg=
	</data>
</dict>
</plist>
