<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	vcI7sO2lhPuhjzGlwlVayUvraXcflARCU9tBGNUiao/wld14hjNBaHKp1Ax9/NKbMlqs
	1mwrsRr7o9b5/wVO1t1bqh7QQVlY46KhYNOYFbZZ1KFqkj5Q10/r3BGC8pajY8ZivCeP
	24tBodzHkpwga9+pi1VgUo2VNZYGF6n8jJYN9WdtLERuyPbDs/OGibhd2VB07GF7cpis
	3nuM3Suo/NiWoU2TpF+5rYZakH9DHvjeirI5o3FaEPatMm9fx/Q/7FfZHCkgt3wtZ/Ml
	JTyy3Hmvs9g5PEKTgvZvx17PVlObku4PGWz9TKR4D9qmHwfuwyDDKdk+1wvX6+pR0Fnv
	2A==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQDemMB7EQCBLzuwrsY53hWNEqUTyPLyy9FKhjPc5WS7+R1s30aSBba3Ql8GQlZ6
	hW0CMD0qJV1jK4BUnIevO3oEfp9iKPpi3F7B2vRZ2DQ86JiJkGYS7JKwPZsq76B2EvGv
	VA==
	</data>
</dict>
</plist>
