<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	d+e+EhL/k7M/Lnwuza94eb4upGqWmIqwqg94tG8N2xdIkZRLe8v1EadRq/Q8vKaZpvKA
	M7Y79tKtShpwEqUdPQ8hqZF+oLQI9ToIDqX2rC5VeN1xwEtcPhLGR6H9vA9wDwKKU5Mi
	ECXrbfSA4Odvg4oXvma2x1ebFNoD2fGuA6Zl7pLL9xFBYNOK8H1/laj7nS/msCngu+4S
	4rX8QRSJHQDDsYCfOl6Q3iNtzbv3UENvt6NhyGVGIbZYqBSq+P/AV9731GA8QdnijJx0
	uOqlnNrhJnHJhs4YOfLUGfGKwhIRF0VlIttwz31bva8r8+uUHRrSogWUCO+07Z3ytXLO
	Pw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMFWTVAzhrajtuURkqEQohcpKvWX10WUcby1nx/QhYGqJAOi3wci7ONMnjn095cak
	qAIxAIGkDHpwLWUyyfzyLhkwkGUx/Q99OqI60kIR8otuELmhgEwPGS4Z9NXE+BWUDFCJ
	uw==
	</data>
</dict>
</plist>
