<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	DPVO30TJYWb6//3G7k1VRJ2JEjtrFGroVToAeqpz9/iI/vgzmDvKdyCpTdlOOCjBReGY
	AgsjIh0teZg8GGM2Ey//MD7fdFZ9QYSeUPUTG3PUgSOcrLaEYSJLNm8twPGO0sJd1S1I
	l+UExl5E17ERbOX6/J4bKLivFyoLq5rP+Iltq1crv+qTvajdDYljadyE0FZzKg02L00H
	y/3L6ZiZWXeDTL8YsqWlBiPOyz0TbATu+6ym+aWxCCZ+2qYP8G/uJsFwG13QQP2DJxRT
	xkI4Fl9AipDtUARGl6NTRW1KECoBJxuRL52McGe0bCJ1zNeXWXzW2clVsIwkm9Tiu3cc
	Gg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMEE5CmEt5YOFVMcuFx4EZoFvE5iO11gLYt2bkAf2G5tFiCHmmNWMYg2xrFIj5Kwo
	1AIwbI6xXwnwTvw6HPnRjdrUZMbnhp655g6udxWQ0t81+F0yoqMoXOv1uglG6ZZJVYZ5
	</data>
</dict>
</plist>
