<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>overrides_V53_V54_V57.der.pri2</key>
	<data>
	YcJ6xqnSb0l1OsEkejAn86WMM6oGizVDbQPpBE0uDrl2UXMkuEPaQ4akUkqq4eQbTCcz
	XZrK9d0Ad6gNNjIN8+KqJLpISIB/y72L7IZ/oHEd2pCBmTVdcfv8RHIIMcUbt/QCePqH
	8TDfoMgN6hTzsM9PmHDZMctqwTkWghbj6Rq8fa04dZZ1dx6Ac2xRPrbtVxfTos2GwO+/
	TbhfwNOySQx0gEu3+9boRG9kghQ+Iatc2eSgjMRcqTl348uHoDBXTfWNE4cJJXRU1/+t
	HKaP+KwNs/9ChykNhnbKaqbbKw6MJZbPpLtTRXJDY9Lih/uQ93mBQD3wWJ1W5YZMOJMD
	dw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMGbeR7D4pK0XI9mV6V5e0MInK+Dnb6x+XEc+BXfVFW+zNC/mYfqLflvfsBtAkQGL
	zAIxAML6lgNb9HVeZsKPqNJI5WLHLoKlKlm43iwWDjNZTzQk5jmjceQvJ0rgiFWD2aN5
	Fg==
	</data>
	<key>overrides_V53_V54_V57.der.pri3</key>
	<data>
	MGQCMDd1jj7nY/kP5P1M1kAGbjHRdD/eu+OFS3L8X2GRULygFOuP9C13/Ad6oKtviZVj
	5wIwH3Q5L+DjGSxY1XRwP+tnX34hscY/WnFxRVZK6ht0F5Rj4xItSr+WXR6GjteQoZrm
	</data>
	<key>CBSignature2</key>
	<data>
	bfPovgSQdm5adO0+/lhzyJa7t8k+znkZPuQIG1GlBQuWxYgpQWCnmRk1v2B/gbI0uaeD
	SkBSo78vnOYnk52FHBv2xEDjjYTXFMhpJScdr/xCvp9vh/cNuqI4FKTV5dzNBmgYHWad
	5VOcbgL7u5ncsjOXpCBQIh7Ibu2D5zGSpJ0+zWM6Xx5IlWlvA/WZ9Bnax2YUVxUfAHBf
	eU3/Xohqhz4m8JtozS/Vi8r7aGpM23IW1aJEqoLl9DB6ITfHqibM3Xprd98HSjmG1Z92
	rW33ARcUeRRb7IL53sD8cFA53VH0ovN9viXRV8INkbhmFq009rmzDOH/ujMMg7LUAwRU
	XQ==
	</data>
</dict>
</plist>
