<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	TekGpU+xCTpSpvGY32fNEJMZUJohssFFe+cND+/D2XGlh6CmagzzUqJvy71BAA8ZGTnj
	RYTHl6mrd+rgfdRLFG2HZkRgTFPaefHdxxPhTqgv2F46rTXHB2B4pV4uZLf86g5Py5Wc
	FwYoSM9FsSiM8DQwiMDwdjHLzHPbyvTuBOEGBqrKv75S3H7P04Hsp+tyPF1ojbp7CDYY
	zI+rq8Y3kMYk8e3M/03IzAoQu/uuDkapBDKpoZE2oJqkZUb5imXF+4/0tOTm+7wZxNtE
	oGj3nRGEgfIJp2uZFXiiY/V9VOoDd0KaEkvodc9zki5VBDY5Mdgy1bbPXI1tJ8zSk4vI
	UQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMHDPqCqHeK1KctTqlxXd/sCtVLaM6q6AMOkE98qkLxBmJGX5J4jZZ1tBZBrDUE4X
	NgIwMW8uuZ9t8ftPaSTXAsUSeH5o0EvyUg03UI/87bRUMTzwSTc/FRIagF14R59IYyda
	</data>
</dict>
</plist>
