<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	KNXZIVViT05pNYSGJQfLw/svXMFWbxL1M1QOoxPCpB+1TOVBhITXcN8gTcjqKMdvt2ty
	OjE7K7OYK6mHlUNqx6A5oTz6UwebwzO1qdoWn/AsTTiJW4FgaudA/pMTbn7m1NgokZYe
	rc5cR9JfHpIQ5HIa89Sk+4Z2nIVG2NLYWdjTKhvzyOmJR8qo/P8ia4UA+yUdK9Bq/54W
	urwVbOBpi+CGeKcl9PU6VBDtgrfEIXNmoVm+tTwzZuC1D4cgmN2RKbzvfijZZmqocvPL
	YKt2U70/6wKuxqSXFDTCH+Cli8WrDswDYxKDfPzuUWAcdmi/8bn5Z8jirM055eV2CV7k
	rA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMEp5oolP7Xeg5yHoqueoZGTTU0UFkjmwzCVsklMJDKBmjVZQ5zrhH2c+yxwl5txl
	lgIxAMqXVg31JpRkGb1F32WEsAYOi8dSoBiDT+Fy8avaaLysaOpJGyH8GfWh55ZVaofF
	PQ==
	</data>
</dict>
</plist>
