<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	m6I+7Mw18gtPtlcfZQ6/RMbp7MpNodrahKfuODLHgjDHFOXdLqmZKDdl14uY9dclV2kd
	Qgdbe7ir5+m7NBRzNm4oImCGyh85kA0TS2/QLmXONgclT4lPVRl1HToGxJJhF5w8qe7M
	oJc42Xmko/ghfJRVSWjWk1vU+L63M0sUxDGjOmRicgpdroPwXmkorpaM1+DRTEBRziGB
	h4ejQemtb89RcsSJEMSrM5sspEuQqneT/StIVtaPzIY0/EJIyiMLYrTRhEakj4pKmtRR
	CsYhSd4krSyrcVmk5DgEbGv/7qiSe/HXYMneFYEGZS9UBIJUTcqr4NBt8Ge0OWyQmMCP
	nQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQChAAes6/5V2XBoYokP/20DvelWvjq+w4vCXytWPvd6Awqh8bO/N9XIc9d+JgNx
	CMYCMQC3x00maN73ODaYbScN6sXQtiK9ay+p/aLY/IGWu5m5PJaGNIg4bl91nAI30qgP
	CRI=
	</data>
</dict>
</plist>
