<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	2u8J0duEcq2ZBbp+u0t7ptUdnTrHhsNXR9+IeCtIgvFkieuinQScEruSqix1kOJJmD9a
	arKNRFpEgI7fH6dY9EKl4dUx8vJY7zx6WGp1V01nsoOVesi4hszjvGtyk/JQkKoZ2h7h
	zVn64mvBiZ2A7Y67+TDom05zY52sYCo8EY8EZCNuragAUT87+BsCXuytZ86YE6tgfNKj
	UJPajuK/sEDOUFjrXDrqUdpy3Srx8iF+OMy/PjfsbjQf0zqTbUaCbPvTjIVKTXkCUraO
	PeNr0jV6d7TfI9/l+hPfzohNb0B4KB/3O4Sgow6kWzhNE+UqfnGcG4QVztHemczGZCFK
	uQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQDHPv23G6oUud8DIDIMrE5gSUo+04fypMuU5efq9NEHSnUaV1mC5bWB5JdvUTZ8
	gVkCMQCGqea2QWPSasVQVgtSK6XoPiJ1TbfwXXXxVbzXq4bymRAG1EWFTn+i0Ffm9W6J
	42Q=
	</data>
</dict>
</plist>
