<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	LGcYiyNZW2A4XS7ROrke2K+D90ikaenfbnGi0wBuK9wKMS9FeL6He5XtI+T3QNK8alis
	iqO50T7bZNqXYTBT3lD/kR2NipEFRlPM+++TTHUka4nU59h8fuC83HsfkWXnfEPYpG5r
	0ZIJN3WVvNVcr24s2coAoZz8jeN3fJR3HQo1+DkYjqd3Nw3SKwJCmknC9hWRzh3LYnw7
	p/pZyWrEivPTgrEHztNNyKZBWZb9F/AJzDqV7+zFfzG08rs8o2kc7oZftaZ5Hitaiw/N
	Zf6xnONMgiXbjxaWz4z8Y4iderb55iL5+ucmiMZLDUuYWf52E/gFYoiksxgf90lkiKD6
	4Q==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMDEClECtn+dCWcat47VmdBWmu0xLwlCP/LdUAVmJL4nWIMv/tW0bJYwtr+oxvcR7
	OQIxAMCO2Sv2/srsFAPW5XUa7b61jUNhr5gTOCCnRE8S3k+TZcqv6JfG7XagCJiQTE+1
	eA==
	</data>
</dict>
</plist>
