<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	tWISw2k11Q5606LiFMFi4Y8C4Q7Ktj6NtJzUiYms/p2932ZCFAvIWA1G2t/06GDf53vR
	GK8KW4KanMyYek9Q1yVvqZnDzAdOiuHKxsYqBw7ptziEuQLDzlULROrRjULgrKUm/QSO
	CpcItRB+sUy17XV8M7+qPfxme9P1RFjNzTT0JVcp4GYTRnt+HYm30kp3s7j4++cmEx6T
	NmZRalQoaO9RMkKUvJNNLqONfOoJZaiHGbgu2TBPRxSBDBGR4/MqC9lv2egq0H71EzEZ
	LiTqLuNcSlnPhH9yQfo9+iJQIWIHxZuceNYxfgN/f0OxOohpQVw4dNJqCH95jv87clwB
	yQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMDIl6tEpZc02w43OVNT5xMn/I+DS7Fg97mLcYZlc5RhVpW28hIhOPHcObFjwIBV3
	dgIxAPKliIRDguVDRj2Z5G281isXdDZTmHpFFL8yn8j5WzsLxZIooB537rC6kGqEXR+K
	Kg==
	</data>
</dict>
</plist>
