<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	ropE5THHEDzhHl/BQLwh7vwdZduFm52DdgpqvfI9JHYNxbjssrtKfiKUML3JRiC6StTl
	7WBRp5VESm8kbLSesgNNOSWsXZv+db4oI2oEaf4WVg+OG4Ohe5B8/d37tOveQFhd9At2
	29zNVOZXEBGiPIYZgd8TZGiFar7qazqLLscjPzj7/Me7zdsOFWSkGr30H3ntJlTHPeFu
	3M8fMcsWLc5TUahMguYpeFiNH16s9/3Yn0rI8CZl2kVrvFXtFhQaaQULRTq9TblWsl1g
	GEHGAG/ol+D7GDWJ2Kasp6IiRdtadPJEmwb+utGA/k/7G1xa5X30C7ilsZLltkWtYAHk
	CQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQCpFt9h/iks7liklkKSkA2hG3jd6bZ9qd19DEQrHgmKWchPFPVSACO1Dp8GCgu1
	N2sCMD5k/tLE1shZ9lcp439mBvunQavZpgiDEfZhpdMqqEl7vwCufpVShEpPsIXhYzcd
	BQ==
	</data>
</dict>
</plist>
