<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	bi1eEqfmu8RM/5bj0WPX1f8Ytd8ib8rwmf4sO//IiBB8KalG3nGmjf/g/ovqUeNb8j//
	acxcsYCgLHm6M86efvTmHIw4K8A1aev09+1mU0pksP9e8IlhGdGW+h8Uy/OIp17fQ6cD
	2d1KiOAf38n0q56FQ6hSgH+kGk+zAVuoIfq7PXGSrPfCQxGbRCwebWBjqUVLxKB9g+Hb
	R01hM4jeDS3KPgZaFZebJK5yYOS1VRv6wzmD04+Ob1Aw//kjONxJYdzBrdAPjyy2nXVB
	A+Oli3LGaNVvpsbfEFxhzDJYlk1N7hDZNL8cdkKgDVs/kDBTOScMoa45uXfOLDvmNSWy
	/A==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQDyJjOgdbVRBwjQaiQ1JT3sVRXK74TvqvtoPvsTUPOS3IFKkM2ODSCsjuGl+rjK
	2X0CMQCoLXVrP22aAV5cSu0hrC7+6bUGaoaz0+5HH2xOvteRfpD81bw8BKoS/Hyc6vyf
	A8A=
	</data>
</dict>
</plist>
