<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	X3b87jJwm133Xm6Lu2HMLzppVjwJgsG770oDPtYxYH12cc+ypa/DZLrhS1LEj9v9iu0T
	gelH1FMYJEDdo8zZ+emc4Q8j8WTrmXtUziTBJg8IiFHNDzjrXoZk4+khTJTIL9XlL7bD
	caGELsrQz32p20m4dUX+NVGV4WCSquBc4jbDbGK2fYHmkGJzRY3upMPGomkLG5xL4P+M
	HRRDPXExd2D3kOVrGq0eGrWglbn7TaIGocvf2JF2LC2NfaKPzo346mDGHoBKQ59zWVrc
	M4488Aqviuy0D0gPF0GNeRxzgVxfcCSwKS8PBL6JpyWvLU4dBI8cMLAyE9Ie6CbLFh7r
	eQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMAq9oE+yvuiXBDZW7CDK+tR2QdRcHBgbYpMNNCLyyyQ6SfbqZydRB8lifzPAWqyF
	aAIwUh5ySzu4oNDNpmO0/y3RxJRRfUgMSmElHpFfTYobUHCMRzWWWXU1D/feRVAx5vdV
	</data>
</dict>
</plist>
