<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	tMbRBRw/o7gMrhyjqzJdmCMGTWp9KpqKNUFXi2XYlohWNdnpPIFlnrROlu7dlHHm8SU1
	WBRkSIC35KK1+u+J9FQbakPyeGDAtXcmRhFqDWqIY8fpBK1O6VzvfaJDJETyquO7M4+M
	7wcTYU0AL/ZgjCJBmzOLIatR3ShjDpad4yROivZtIGV7FbIsj6vuZhh85WSdBE8+m8Bb
	DYlOoQh2T41d1Z5yMaLbl+K/VKt/CI1S/cujZoIW3I5n0rTvKpxvaimSZsw2pE9ASWGz
	HtsXxfpnVHURIdMeCfzM6XmJMj2az28vfRt0rAMFsMZCPVt7C6iCesHFU9JLNWvdvL46
	QQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQCbdBcQvL/VsE2cLAKvf8Mm0jeUPvwWluTSYuupaF7NHARaKVMFGZRPfZqhLMyR
	h6YCMAzcNoafEQiLg030qrzhk700md3lHKrocNwLf3cpB8/u7t2yo2eAcCUn0/271/r5
	qw==
	</data>
</dict>
</plist>
