<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	RqXMxr5yX/Gy7rFOD8XYGODtYWyom9pC+gcMhmEwN1/bXW3GMi0kzJXmsosm0i4CUVGn
	Io20XpE3+UmKITM4CJLx0lVrkDvfymYCrnHastpbXvlndsR2oBTtV3UKE5vGyVOHnMaN
	KUEyj7ZkZo7jMSlNNOIr1vXEcwSPnSUwerC7FF9CgwxaiXoJ38kSqHfygcrwuDmUMOfE
	fXEzRAgvLR+IDIrBvI8kEWVLPgI6jhxiDIhITbPyogqnnRLioxiIgYWOM87k9AS/uB1+
	H/XbAOL/nY8aYu0VFjVHG3kg41tiREzI5UxqTER1HEImaUF+8YyqmlVO56HqjmKn9usf
	6Q==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQCi1pHEFPz23/QtTt2XBlVB/rle4tId7afB7eRFbk/zDfZL5gCWmMZCb794DfPJ
	EXECMQDjdV1H5Bk2ENvwYiGY5D11O6p3Pv7oQwYj6qrDyBRnt4aBUSM79H9JH57UxidM
	3JA=
	</data>
</dict>
</plist>
