<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	OscMB2U8Ta/13oM4w3Z3xyhRSvykFZQ6Ff4AJ/CUC9ILm5yK3PXTBQ6gj9G3lHOkcaU/
	t99W0hDHMLKentRBynlrMXNdMF+8RlGBpSGPAyfK8h3SS/8B7Tbwj7oEyf67aQOI/CKQ
	R+ednLkodDf1FiOIFXhp40ESgG5j8q1y0g50IEAyLaM20ehAvmMNN7K5LTToc48T5gsx
	8MlBY+WQKBp8ro0L6T5HV6s6pk2aUHvECrgualatCOTAvvTRwKyuSiRn/Sj8owqkGeYr
	xtuH3UMEOcUMkOMmeV/VMyGzJqP7LKR/neOuCJf4alRfkgk4oUjPDaBh7heZQtF7O7Wt
	jA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQCQg3L2TTraA0oXBvAuVL9+hvT+owdfWl5ke/LpeLkRaCMQf8BTWN6ho9KDVo+F
	8FoCMEPydNVFazQF+nZNgIRNChejbTF363H+CDHzPlqg3Uk2q5uav2ctYo0GydwKznq/
	dQ==
	</data>
</dict>
</plist>
