<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	yZjDf8AlLrtyzd8pbntEC0vaFO/icvbPlFkN4JsCGNkElM3dg6uw5mboltrNMyGj0t6h
	RR/UgMVEimjCeeT544CkOmYReLD0b3MB1CDe77IC3SdURvf2B4/hZ0vTLaVFmZt6El/z
	WvcCf3OliNxdcRd1jMpJX8OTg8sAB5uU6C5ieS0042iJPiJHO7Gvw3lfooCwPAtfXk8A
	qb/O/703AdpjRMBXO2eOMFrFXCbOHL4U54M01eRWfHCPPyNdIEipYjC33FnntgfB2Svf
	RMFhyWI9sP0TnFwVOcFcqk/lJ5cnZhtdINWpX3XTwSqPqvIyY8oQh7ksgp7nICsIxR4B
	/w==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMBzlh/Ystt4S3WcYXwf+Lt9lGMBIM2+MKFTx+Hqc1H7zddphTgTFYGiUdaUtN6+/
	cwIxANXsZxf3e569j5zO0D57HBQwHCNFMrb342VUw7c+LTs2BfDTsuZ/KXTrZRfUbmt9
	aA==
	</data>
</dict>
</plist>
