<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	ImHpgBir0Gv0M/W3b//ipav1KdmvV9UFWEP7NXlVTI5u5zaT6/f20tM0b5MdJGaEIdQV
	fzMontN3KvX35PWHN50cw6j8TKGebmVL3xi5cIW+WRJ362tdbI+bGya9iDKy7DH6Cu/w
	93Ju5zi2XnhjbcV8QeVF7olD3dmqCtiJm633kc0eaZG+8X8yQ8PHBpH3MucYd7dw8QUj
	nWQkpx7IX2hcXdTFcaQfpmC98gC1Q6WqdEq/FqO9SI5+eCd02jVgOe8eTglBa+7IsJIH
	n/zdSIiKDMhLeQNiJSAr/8hXtlKDm1KYRSmIHtIOlJBrnb3XkjOxUGvVfH4Lt2e3i+Ey
	IQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQCy8ayLYR4jaLE6Miw1yM5K9IhPaobPD0jfF78wuLSGipBcj8sIX2wAVVuIA3v2
	LJgCMATV9RafBKdBTcOvbdisN6ciVluVN6eUz4tg5wVJOw3jQIDYfSpQTgc3PeXcIRx+
	OQ==
	</data>
</dict>
</plist>
