<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	c2uFQLJf0JOk5twKP8s4g37GnNALpHOn0rxiOlXu6CrMRe8Tt/WHRIjE3ca7kWzYVvYA
	Teew7haFObXrRm4+SDkFPikW6EJN/WQqKu6TV/yvxakRWbPezor0elcnnsy7hjVo0FMh
	8tCdGWqaiPvHz5aOMUVpMqmNMewp5Gihzs8jyOHqx9oRpGdKpUlt3yfX6bshAK/kiHK7
	4ICc+KgGu3qrY8UwzDnarjlNnWk1b11O+HZ0pdw9yiphxT+jm3b6J1OUedfyUQmlvizZ
	yHQIAN/EO1I21kaEL1KNfyZ5MX/z0RlsDj+EdgLJ1Ejxs+Yvw/bKVi3wePOjjIbncKWh
	2g==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMGKxWzM+sd8T2apJ9d0B89GhwEo6owqVrIT7jeyrBTyqAI5JkjCuAwwrebKA06h7
	PAIxAJpriOCUoo68/32BmUYiNEf40TU9JNCdSLVTVodHaTGuItxU3kNFbIhEWgfoBALh
	7w==
	</data>
</dict>
</plist>
