<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	DcKc5BvCqvX00gQInYKg3NOLIcB99H7C739eSfl9eOkFMNWCiDhs6+urKQem3Tx2MJZh
	SUIG3uliMIgG8msLCs9hGz9uzFhgcJUNVVJs+/6iZPD9v32FF6jEYf5QJBxt+FA19YXv
	2C1hXX+i5Gc3+ozI7r+XH9LgjKg566vU4jrBryFFPFJS596qYlXLRHvSvIKKg/iWxq56
	cl7zkjkcCehCA3V6SFWL2I/z38AEc8lL1llyOC6jpDaa3sKps+6EtUoaLWxmfca869Dt
	IKsDsZMj2my5xOzxXXoCyFwcMXa71bB5YiaUNpCil7rjcXzaAsMDDP9ZDRcjSPKNoIa1
	Pg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMFFexuEBKhMrmAc1eznpzHjySLjVIv4P6SzoQmpnUQjnZx6drIPVTkenBFrMOTyp
	4wIxAIyF5SfRP8yb4F1ACfMDm700RLqWa6N8/tlqpPBnKA7CPDre5/miQvd7PWSSq4pK
	Ww==
	</data>
</dict>
</plist>
