<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	aD/0pznI33Gj/rfCgbOahVkQYfHJorSG5ozTaAwoooIaKZIz24WyAXEpCun7/sfrfJY/
	Kl8ydbd7qrwlYtLkOpNAHXeNfyC/19F0B0mqTZYRaLLBpwFyQUGiYjV68HFVnftpG1Jl
	rKnSzS6z3/asEWO7QAAvG5SwQqrF1jKbqrWtSdydtqY5nEy6TWGBaFq5lHGT7Y3/mTsV
	RumTQprO/WjJE5/BGbebwwe5vBSe1zFz4/4hDeILFjquk+yZs+kvRosAHoqNMA5PwybD
	nnSA0cwr5OtFfgUvGVd5HoGFZ1Sv0NK1Lr1hWKgc4jt9kamNHGGvowYWSQXmjRB8FoKE
	dQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQCQDYGe5bJjN+hnv63UN3p/Z3wJGHedvDu5/h5upfhnLa71fwWiYrFvEITM+Nl/
	s9oCMBdT67OEUJCaPnXRxtVs75zlPXYCZGlBVClIDnw8jZ5v8YNGZRuJNZ9PfG0vx5o8
	LA==
	</data>
</dict>
</plist>
