<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	S+BTozmmwxHP3Ku8WNSLGd2lOf86AOpy96VIpbaN2K/Jp3uskZf+tlC/pAlV+Y5KXMte
	81k4H/GVpxucjNldFGptgB/89RWgz0EYY892orOKlj7qZLyPfxeXQOFFKjmANBKkCXLf
	4xhgvXd4gAwhca8t9dVv9eewDHPvH1Ej86Napbrkz0kSa5IAynCzfUxR/dux7TT6rhgt
	76zeP/QmLb7N6e7AVFDkU2+qFaIM+AZLNqKnruEs/WR1rd81wp7yWYeDuLEAOQRNIn7r
	5oZbkaUovQyMogtvuLZkR1dRmbyrUpY6EpDqECJv9a6JvHNT2CUmGKCs5BqbikInZdiU
	ow==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMFySy8Z/RyPJX4eRC8k02IgfNj7AIs1m/4iAbpW9KZip1xjRxM9rvBv+UJPfkpsX
	GwIxAMsMwJqhxiKg2276Eq08yfLAw6/oVNFd6blRfb+Tk24kjvA6iwq4IJ5Zs71ZuojH
	7Q==
	</data>
</dict>
</plist>
