<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	fECQTKH0IWRUqQdtMoAPjpV1bPsBYIvDLlDTsxKnVfIVWtuRTihqnaufv7dmzDXzP74K
	nc3ahTXF7bxBZeNr9F6heTRMGAun/Ooo8ki5JY+NGhN9uss4wOVZcxGjSYvccSZDNU6F
	6YjPlIGwc1wotDu0ScW9DT9GOieeyuTXL8QbRT33Zn6bYtatgqPyIPNMyHGROhnWTak5
	2DTpjSM77aEu7wLHT+3Tue2QyHtE78N+mA5cONyKH7SbV/LF3V7cfmtA/PB2PZ2UyczO
	T3/5Use5IPUuwCSILv6jHXKdghbDq5Jek0JVVShNLLV0bKzVucm3vOZfP0kHgqq2a9bq
	Qg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQDgeOwBKTNvfkeHokWy9BH2kUcrGEBx0H9B+B1Tzp79JFpuWYb9rZIfQu2AE8fx
	xNYCMGR4uPDuB+ymb7LChum+4/cdcQPgILjmt8719M2M5dHq5X0bp0bQ/3f0ceirirg0
	xA==
	</data>
</dict>
</plist>
