<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	Lx3Ik00u5N+SvxPgepB0n4FwOo65NLd2Fy/AXatk+2vu9K1u8VB5PX/oGPzuRYec5vZA
	imiP5fe5Ybl7eGHe9dKgwQl+ZCDCIIqOmzIJwxqBe16S6ZU5JNAjY9aI2AyG3Us5FhmP
	on1sgUZ6Ln2f9VfTaSHcKVD8MsNM8P/N7yjsR0upMdN86N2fQQcacwbR4sLFuvfU2gYw
	uMHsKYZa5kf+kaTeMDeDHuUfcxLTkyNusNCmlRr2KdHvX2mkMJC73/k3ZvHqLDItrRSz
	K/CUaGZtDun2FJPeLhtifzBMqoKwnJflsdB9dGx4pkHMNrBRHHx3BOJfakRCFwVSoquL
	NQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQDi74PU/y1vWwixHJ0fVU4yGqgMK6GC2C/nzREfxmJVqLn0Ivszj+CTwzsfxIg+
	2y0CMFUZbjX6CA7cQW0W7PJPXke7kIqPOvoDHCZtFY8ZKtyWmzjyFJ/KzhmQeTmfTWXQ
	Lw==
	</data>
</dict>
</plist>
