<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	5js4Og6bXYTGWJEut+zFDZbZXrI4D95MCWD9oLdtTQBJQcEKjzGZVZ23FKr0Lw+EVEKa
	vCY48Dv4l8UV773qAvmiuqqinYZZiNkdbkNT7sO7I3IjNuvMq5hVU0Wqd2t5vbP3CH07
	0+bGqQW1ip6HTRwA9zK6bShD6vvM4yy9CJQ5z2CXJ/U/tfbK1In09Fr9Of8mm0Au890C
	tzrlh2WfaDJhNfZr5RYTIjvxo5/y53+aroMKxYDEQ9w32rp84C0kFMIjS0t/HHf5YfYJ
	uvFaiydde1ED+ZeMAe+YiWbFARNSqVNKI1yMqr8ORJNWsgR13sFV9um8s1f9Zv9DLf1J
	1g==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQDx71bodcijjchcg/BOlTcsXcD4E5+jqzE/Vf293T8S8mIFyugZPflaQTbXFIJE
	St8CMGUvTAx8yuxgku0v8qKs0/OoxDm24CjJEbkXMIdWr7d5nKmC9EgOMI1GTOGjfdhF
	fg==
	</data>
</dict>
</plist>
