<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	Sty0xguGHCsGLSY6nV69AtXU3q9vTLHaWCd8JpnZQnOXSOYuGXXcd1Ntd7QVB5Y87ARz
	JDpEl+AEFtTU8EkLjNf+GW59ZKx3ixbiMKKQ/6BP0nH3IprauzgR4zCT6mTaENXSoVzY
	Hy+PQFU+BfD5Z0y09qC1w05McrEE+plrRlGulSb0IyGfdMD7HZM+iVV0c5gI++nrU2+q
	7+ai2Ze/4rrPSdNTZkN6UCkJPbS3E/c1ezDiMK3/CknD/bxQ8fBvTtQUBosPPRm70yQ2
	LLSUgivDpwtTkLa+f+6W9mNGEXB220aMdZy66zM7YxSODS9xsNv6+Ue0GcRN7QJ+ZUaN
	rQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQDWnG9F72PhhJYQJaHlYDrw0hljEeFwuASevQX2Je6okb1S1hXnaiyJzUAc2k2H
	rKgCMQDNhsF1WpbXq1nqtbK73OTpC9EDSN45WkrRoiMqqb1ELbdIDyonSzn+sGAy7gUi
	1es=
	</data>
</dict>
</plist>
