<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	0/09Y+OSMJiSjtkej3AsWLSJxsKNuSWJdDxDBF4ec2zI72IvZ2BDaL+K3W8PfKhuHLop
	D4VIef5FleTuJcDEpOERXo0jUJw+MeJitUVtRZNLXWqAqEP1aiwlcw8ZrAGxwIZ0Hkcy
	vf8FMqjMuDMgOQ27XJdTfQ5a+OsDz79DVEP44q9ns4/GkzhO3e49e4/aie8GZSY2P+pe
	pipX5qmjmJwb2Mn2OwaD3fZYVyOIlQ4OZRQFbQxKQSQUi1gSl9Y0rETdtOhqvtRpB8VT
	mSJ4J++CewsEyxaMTnVeNLJ0K/JKOI8mRqV1z7MQLwtDYVS9jEoEWAn2x/ZC+7YF/Cei
	7Q==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMAl5nrSpsvErr9r3dBT39/oABgxgEuIlRfK22kSsWZOv7tPlBDfM8ULA2/CYAk//
	+AIxAMZD3SFypqXR9pkFDEarUh9Z7n1UEzMvqOY8AgssEJAbpHVpaI5LRtFsJHcd4P/5
	4A==
	</data>
</dict>
</plist>
