<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>overrides_V53_V54_V57.der.pri2</key>
	<data>
	2KVBHb3Bo5FMWtdFtXK5BDjsyM1FItwXTDmHDobgZavTRUmwYljxsiTjBApMuxuxzolY
	Cb3ixSvp56271XrvwcMD/Y81QcS3oboFWHZZH+KWvIRBuvsrqz6dc0GIzTdLrYWZaKqQ
	dnNbx6DGaIIdtPBNrt60hbJ4/2/JRCWYUEGFV9ZUNcGm0YyLddDfztnD8Qh/5CbGuA/B
	U7ywww3S2Ik35jBXTXmWSXayJfNk0LsFG032lzSTA4ca8MFIiY+5MvHLIo0i0j12k4xK
	cR8UOxleiUpYvgNqWP+swMGYCe3t1BmIGtqhvztgRIB1A5fSNz6gk7SE6Ge5dRXcE+AB
	Lw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMAcnyAPkTKEbmoTUt9JV+yVL8iiGv/f8OtJy1UOfYxybSGRAXfzsQJybmTl4r4/j
	/AIwGzWv67j723wu/iWIKN6tsNa9KfzvddE06tOOMSVSbPwH0k3YoLINZV2BL+7hUy1K
	</data>
	<key>overrides_V53_V54_V57.der.pri3</key>
	<data>
	MGQCMFKESg6Ok0zZgotimi+5kMVHiATSexzSIHKNlt+WPTAfPbm5dGXfLfZPILeehURQ
	9QIwP/r48OKZzh6LKnQfsTH1eflcrlNwzV6vgcz0arFmGg8ziClqqqYAifkQhfootlq9
	</data>
	<key>CBSignature2</key>
	<data>
	ug04xN2aUjJweSQXkMdm0iLXuIJ7S897XC7E+mzndqi+8+XUnSA0upSerGNYdJ1wpTnY
	CJHXXmAd6NVhWnILWen1Rx3dy5R2DwYbDtbadaq9sEMnoLk680N0FElQUa4OMq5Itd4k
	QQ20q8m3N4LiTkgAa28J1sKa5eeFXlGhNZl7TqPe9PEkEbi3nhHIpIQ97Qodua2PW4hd
	ZNSpYCM8NfPqItMreIC2mvasWE8ReAzyJIt6OJXueBewX7BXkSwPjSyy/SbwOIZDx+qI
	0+2AlZUq4g3OhFTTnK9a4mBfbn1BK2bMn3El9wWArEzL3ipc+88fIrLj4Si8BHEsHT67
	mw==
	</data>
</dict>
</plist>
