<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	I/Cmf6A/H4Sq43oLMqG+H3ScWp+8lQTzMqPz2Mi21kaYeOejyCg9pk87FzRct9UKV/9z
	L7GNVcYw/E63riNifB/ddDqtJpmiX4VHV68iD1tvxXZQ+HskiyPf5GFrg5L8EKgVbSTP
	22uoVwW4fXdVwKA59qdyzFL+8KOWmbcwM2FZY7eelUGVvZE6x+wEEMVF/qWRoUd5kBIt
	1IzevKua0veIYkQUBz68POQPPO+k4GjesciLNjoQFeHvcokWC2tB5oZvsv/rdnw1oMKO
	p/p2UtGePppFSADp67KUK63rJgmeuvLMQkfnfVfU+5MYxfaidSgZ2EwrB+JJ6tePnpLC
	hA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMBPk9M+KVom1DOsWbZt0TbQoyonvcvlb/rNjNN2knD5mC8USRwv5hid/LywIk6Ek
	SgIxAI0em4H5QAUYs75lXbGOEgyrpSgZQMa/xHbrW0UkJrBSdGKdLpSKbjwTZQs6jySF
	gA==
	</data>
</dict>
</plist>
