<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	CKEC7VOHMtV9K9ObTisTf+osI7fBchd3MgMFjH7U4w0tFp6lcHawIpLXilQ3NJ4dwKu9
	VmZ6A5LL5/M/bg/UhOjobJF5Wprkr3ehqyaCGyPV+tgO9hElubpiDm1KtP3I19uBqZXO
	pBXjUWSPujbyr2Rsd4+NES0bZDFBFa4zJSUbnhuaCrnmWONeFWG/RBswTGqYlWPM/Cvs
	C6JGz4nBNRDaOrPybZv123g25Xt7ju0PB1YviJtWqLIHnqUomQjfO47X3p0wrimyzfT1
	8kHzod+bWTPgvi8LmZrdS5mJJrj4nCnab2ZAWMb5j4+x/lZblvlCqUT5WX7q82TSV5gA
	cQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQCQWikz0eUYsF8NtxM+6sQ34wjpjX0tqj+noimudO2EdWetrWM1U34l4cQxgWMl
	l74CMDegB9aTEffOL/NPzONmfehoPOpaQE0G6ehe69aYICed9j58lpPgAY3GxohYgrbz
	aQ==
	</data>
</dict>
</plist>
