<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	vq6qqjTG34lcSyOHfgbb0OT7um1WLktcsjPwQ15UMSXrQ17sSfQ7a4fpQkjXgfFpoiRE
	e2mUKgtIK405AuAN28rwKe81MYqYFYvyHE1zxh+9S6wEUBsQtfy+ChXbSc7/A9NNp0kt
	o1RJU0GOfj3ICSx+IM1AFRbpkZt47W4wsIFEolhjcMJ97yaoF8Fmia9VBMkMa9OFCBgA
	+1fbnK9WrjweVvevvyZMLUcnSM6xVXHmB3Ug8Q7e3jw9dmGWVSHf1Q7j4I5XkUCGZFaS
	qCqpGM+/5K6GNA6y3e8Agq0LQzEh3d91qqLG5xqtxoiuDXKPE44TyORh6xVN3NRLadqe
	JA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQD8p7a1UJt50WuqIoFrQ6y5v114fquiddOyzXQR6KmojVuWvv3+UEGuWPiu8Mgv
	7/cCMQDRY47vZY35pzvTWCWlSuFIeK80en+rWJbBQQXisHG63OSEFwgfYLPeECBX6nPm
	kek=
	</data>
</dict>
</plist>
