<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	lnK0CDK8T7ec36VAf8BhiDlNS5sUj1Z8mxskVp7TtG23g8WaVcWpEnKcXcKqb3zcDjKB
	AQiQUUN88LUD+NibMCRTJPzgZC7UZ3IREhA3jwjFJqFeYo8CQw1qoU10TTosOnsG9+Ji
	4SVl4mcOapQ+b51Dh7TuRlnoYJFsQlroMAwUJOXypWBW0Rx5qeUcwa/j5wonRPGcYCpA
	ziQuS6yHSNFy470xVEx8Aw8yvq0qdQeR20n5yAcpgyrTzkp/Dtt3Ouha456WRJch905O
	r/w8wIVQeX4oizC5gIsLb3FdWgFGT01p9zO/abhhRBP6c95zunK4esxStGmHC5zQxlDJ
	Bg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQCjKGvzhs1QdpMnK7DW9emANEYqU2bMNWazw6b20sNF3IaG3OpOCdrdP8acRCqA
	fL8CMQCQbX8Qx/xlqH9fmxb0AT9DknCN+uOwxbt/7Yac2zn4gR2vWQi45WW541dRN96y
	/Mo=
	</data>
</dict>
</plist>
