<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	Bgg6M8VG0JZQw4mYYRyGt7NMd/OwDn5ruBDfVjrziUe6i3tWgTH3cDtErddF/pz+CTo5
	47oEJmXIrjBqQAGkYeZaRABPdxoqBZJmDr1dGkwepLr8/HrCfG4m993BnJghCTW7ehRP
	rtmcLnaxssvSAzsVYTFdjM/HlDMdGdY9j7ielXJFDPmUEr8GbgwHOBm2ENldhLCSrCAF
	y7uAVDCgHZ3KziPRD2LwzmEtfp9C+TjAr+0xqvKkmQGfwOvsAqvRX7CdYUgI6PF+3LBF
	/qcJ5xyqvVdPo90YGbBAvf2xyx1Hn7fPrb6xHalBKdOJ4A0Ikx10bDYBzNpuyCglz3Lu
	Jg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQDSI3ODf0JIJUjXXQVv2RThu4M8vDDBOVD6IK1gz+JU8KTbrm263ozoGB2xj7d1
	ic0CMA3san+K9BRp/ESjD5cE+7SzYCYx1mZd/eK4WjDJEoMmWu9X5KgJp4Pc5hK1zFGS
	Dw==
	</data>
</dict>
</plist>
