<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	QLbvJDEjVXDoT0d7Ae+iNUUfHUsOik7w67lksVJ3IwPAhTd7Eibv1Uq0OQeF5migyaS7
	dN5apOPYAqQH/tOdRhVEv0gHU1Zt8JVJ3ABcNXnrbMhQYkq2hMxUdVN3RVVYnTWUW8IY
	6mNfj1vyEDDAYnCMR9cUQ94f2jZPHHerg9sZS55lhCLem7FxlEaTkmlBEQOM+0peHEya
	t5yLYYYp4FA2iYGYxDPulBCS2PI5g2dzfJOd1omwSJ90RH5pL/qLLwY1FD2SccDRkEXA
	JHjlt6mjDulWFCESTe4Xp4GPetkpJl8R+5eTLiZ6QX1EkioLJ5PmI4+N4rV1FuDPe0cm
	XQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMCKNR5GmngAa/QMDODO95McGwAfOSR3DnN+5Bf2q7PArvINKAJ4GQMbp1EPHVEV3
	zAIxAMpsMd7WDpu233APV+Wbz3ULK4bKCbbUffUZ7fVtAEBEwzoQhCDVDOgvs8g41VNA
	Pw==
	</data>
</dict>
</plist>
