<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	ay86GbzSrZAPHYK7TkjiLJINhxgSNx5pp8oienCA+dZpuxVmx02G5jpJs5T2F6mpZMkB
	8cKHNSYWIX4BkDgR7tO6pnHOhm5OqH99LSsTiEyXcbnQ8zMyOctz89VzOFVMXJrawLJo
	0/glhbCfZAiMP0EPRo4NzbtzP/rn6bXukbHP8rkSkbISN/bKWS5mfbVen4kG0Ryq5pxw
	qahmwgj8kCdnxJVqUBRavuq67mXAsFFM0UtCTw+nquOk0uQhQ4W7JmLkLO2zgtvFK38+
	5pXcBZY5jX/4nPfe5fZkxDABkDJYsgzj4ySD9h298iTBy2huWxBRg3SuiOPZgF2jox7p
	qw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQDwMdLh4EgFBEPMLZYnTzJNPsqpF7KTdXwD0URvrLDbIqw3gKtRwqk/YgJfCmsp
	SD8CMAz5oG7YYUjyEwgpF51AzpJurV8754p1rRvq/MqoBtI1pmRFHEjY2XhTJrOvy36h
	Jg==
	</data>
</dict>
</plist>
