<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	eT0lE4x4MTh4wrz5gkXFWJi9/ktJXg/MxEEGiUYoC+4qpaFfvroEcY3F+U2LsKzhM1eL
	HZo9vCE+wTwV8m36AwHiNKZiL3gcJcpGqe4v/4ehIpJybfegaNf4CPEciuLghUG2JFQi
	MrBFMjUkTsSVqVheFPOHVTgTevwdXzR4mS7tCHtHKVQdfSFsBLLxqx21NbMefXvxbeN6
	YW7tRQYXhLcQ/mOnVUjmKmkC+VwYB+eDEZ1wije/5UlJii2lw8br1/mPI4YbeUmOG3Fr
	QB8mOq9VWDtxuON0AhWpc6pmPHvGRnZl1raLzvjA5IZjxIkb9/EbHKxY2pL0yjId/+j0
	sQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQD7bZLv4Ui+hEWiXalXT0GQyDP31e8XYlGfCV+NL8S1jbng5XHhFBlakE1IEC4L
	+RUCMDCNtpp3AUHpfB5NKSCKQk67+oxvNXw2IAxoVDFmYX5itF4vCcDII0VWertqUNh2
	kA==
	</data>
</dict>
</plist>
