<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	KHpIpGk8OSShYaOsqlJflZa698g5fd0Gog5BJuJ0iQ/vF6VPwsWz40MiRT+JjvdA3ppH
	V6xqCn5PYfg3Mry/Gte/DViuslWE1rMjlamiJd4taIebDTQQpJeFj/xgsDy12JEtMJQx
	K5nxCxtrXpfG0xcENwEJS8ZTS7GQfG2BXLPi6j3vZTwytkLmnYKa7oFRiW6L59CNxLCm
	p+a9H/AG6ydIzvzKPps3615onlmtMlznBvcnkNi0QGjmbeJPlVdozsgM6rwlRwpbMwia
	CTwCuMlQnKQUOkO/RS8s+/4A2/ufBt6sPOodRm2uO4CLXThFVob7xugd//2mNVwSb0IH
	Pg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQDIqcFVdg96/KFyzyR96AuHqeKjDEg7aBxuF4YLqr5RaKpno6XW3fBQSlmqR5oH
	8BICMDkIvh/0idunWON+nRFeKiI/pz5t8+JKBrDFnD9oDZ6fAs+o1SsnwCP3nlp2mdYq
	Ag==
	</data>
</dict>
</plist>
