<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	vDmaNbB/+NXKWnl/aeLSQm4QIYtKSx4YQ/Ow3hg78kFQXuNNLnAwN0b35nVmGKPIoiCj
	Fe8fDGZbNhYMno8KKXPpeH0el49z5zW5yf5lg3XIjNDO7pJ8RRrwhudNkRhAuOGLH69i
	ai+Phd/4H1M8aKfDvinyh+o5tXQvRTx2FkSlnWSPTdm9xZceiHx+HxCHzhpYClFRXaLz
	7kCnCDXRw9ZiM9gPUkrhKHK3rBmmQ00/gxrZNBCMaHkzQDjNP0kOdI7LzAZ5WczDFgFl
	j4ry9UDGhS+7xP16VYNSmEMwpQn1jjLYZwsWsyxOuymZi0F/OR90ZHqHaiDVvCLKGGXc
	qA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMAzKqLzMNF581Ch2KBiRWJdDos3rYelcFWenmWkr66wMS3hFGzxfTL8g1DqANAzD
	1AIxANucApCky27cRdA0TlOGVJdBk5SCN7S+LF2nFttmiRrG5N2j4+lteueksm9UDaXz
	/w==
	</data>
</dict>
</plist>
