<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	X7YADs0+I+FoP1htPlmYz91F4I6lDKYtPe3H1/5tzQJE+r3dzfHiJEU3P4DjpOxKqGiT
	CqPsR9GMJtkvoRBqcC0gZIezWvWoHQcuMrnhzgwr+8PUSdgWHRNrJ2MqY5P6VfyqELNw
	VkHjRF26cFkMcg59DYcFvzN/g81ezdKQS700hCdgXmBZTp3pdm8IywX8nWbFNaCM0H/c
	qTKVvIRdbKrWTPMgyBE7wWPcQMTvF2dBA3L4AmJxo+BZeYJrDU0Cn63ypq03Ux7uibl5
	3WSxoicQURkwmTfZzs+/BTEEs00Jz5d6hFIlGlyny7+fN12Pw6SceTiqCkbyeKZLmaCt
	1A==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMEXYDipnNvjnPC1YpbMvkLurjvBCxx0ENLHex6wySV3x3nYAJlcGVbGTAePXSjUQ
	UwIxAMkKv198uLaS6W8LcvzGDSk3D/isPuSvS2fiZyUF4+4whLRdVmeVhjfh9bCMCVfh
	/A==
	</data>
</dict>
</plist>
