<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	r9HAjRUFQ9bxQFpbgmPftfuLN6xo5jcBOjFoCV65zhR7QaopgQYlNzWYuGstnlUJN1Sv
	w8VInfRhBpw82bB/JOBvNWMYo5J+2HMowuV/9NCY9HlK9LqVIlsNHep3LM0cQ/06bhnF
	PHQpAJfN3lv9+w0BfJx7wbIGCC1yL4fHqGXsjSrXqa3/b422h2FoDvayw7yrH8PPFDvV
	MVwwTCtfVQRuPyl5h1u62ZmQXfuA+BLywn+0wgnZkE7Rr293F1oEhGubGERAw5EKEYSK
	vqEMAYJo8azYhm7Sg7vD6T1ZEoRwt14FGXeykk9u92ZYY1T7oewitsnXlRo4BmEfSXAF
	PQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMDF7rZ5zOsn+xO32qJIKayQcLITUiHLTDU13mJUwaiQbi7E9x5leZiAZBRhjDol/
	wwIwP1MycmP3fGMSwqRF8K5k7ciPlvYngCifVKntDB4TvPCehuMbNXknNX9Xps5TikXZ
	</data>
</dict>
</plist>
