<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	f5rk+PC+GkHiFFPpZJ5hprhb7YJdZGi5zSe0+oa8g1i/Rs7gNnt5ydFmtOOmghEWYXWJ
	/rVlHCbfcM2nprDM125zYbAUwxDt+DJyxTz9moz3lAzR++osAKTcnfc26tQjXH1r6jzQ
	35FkPBLiVkOJFNC6+T/Ds3ZleWQGylwSXCh0R47ErCzYx992wE5Yqh+Bzc6h8RcBAipl
	tiLcdV92B+aMUQe7ILPpBFA5cBLdGqWmFb5lGuNU/UFp3Q6sjD9EF8uRNsQIuP/fmcys
	wvyvmOqDCjgweFZz2WSqmDuAHrFMwpIto3cIpekHGX+mrKmzK3SnX1bvHxcoBtnItD9v
	2g==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMCp5ViOcX4JIgIXMBWzWXNUO+/0LgAu5VTi77gm+INC4HE08lZP3F0J5B/akIeNK
	7QIwSmteyOOQ1gyXNgeaNb47kubvw5bfnit6On79mtkONeH0wrbNUXL7zAMXxq2PRiPT
	</data>
</dict>
</plist>
