<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	Fk0UZCMNITIJBsUzkDHQidUqRFlUekrVO0h3ukkanYkAZhQLijtLNOlGP/ci+22rgBb+
	vppZwp7ChSN8ic9bmHhOEf2akKp99TYavLs2/jgt8tBlgCbU9IOev28BW0eELFYJf14t
	erc6M2A/8cg9jOM13Wj2Is1ox1JO4ndANITiY11uTbY6CAiHwp+Gz+NMNBqqqH9XHy1w
	Y5A2/jny5dLLGQR4V5G4p7fHJK8U+DsUxMl+3Ei6n9mWfKTYRTYoO9mYtOZaoo1ZIare
	NdkOiPN+YW+nhvGeqzpgR3ptYl4yYKmYPKWarnSx6iLPB/qF+y91H+N8/8vXImY8h6j4
	JQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQDDRuy0xdO+uEIG4gRJSzIIVwcRk7DxZ/j7oQBi726FE2r9G6Syu1VWaaTfp9nY
	j00CMQCU3eZno63XIWguozJY7e8W0rssjBOp4z/0RkAucFjXtvg5UMj181YXdQKK5rV+
	6fo=
	</data>
</dict>
</plist>
