<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	Hw5ZjYiLIqfAF/96H4GpdC/iUP+Pj91RM5ONBJJpcOc3OaSI8iVti8Bo1Sbh069tQOBm
	dWwjTm9v/jt0khTqTHC4WB0egbdqhhbylo4hM+J93asv4tYusd8zBuOW8O4wdhW04qjN
	adxOXbZBVpZna4GQqtdOJ7J1JPOE+E4RVpaWetzbz5AweXczegHfQO69wCNOHSHH/JbE
	jyEWCImihkYLG9b5pAFMQdkxRV/il+8n/jl1LVZOkGGxPQrRyWmoKliZEGf4JfyS1GQr
	ZhkqHGVBrDHTewfLgQQTpRkQAE7RmnC0RqEfqoKHJI03DK7MclotxODY9F4mO+yysdx0
	3A==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMFZP9xBF3fBpk0eOowp4Z6drCyM54h1GgHEhVP0gvVAAAKXmv5Z2LUVOzt80RUAf
	+wIxAOMfLNhMUqz/B/y+gaJRqnudD+GFgiMfuc8KMhpCDZj5dCJzgry8lggFATQkfAZL
	oA==
	</data>
</dict>
</plist>
