<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	JCZyquI0lgShkAH9+hzsWVj6b09K1YNi3Lwd0yY3JhpfiF8zmF4wHUsOX8BUtH6aLEcJ
	IPmbBfbo3Ym4MAUOENdBKNZ0VvTQnqyVeZCV5HPXSBKaoiIWpNpJh3foJ7qP5XzfUL1Y
	sAltKCHl8HEpaBVY+Fk//c4mr0qWo8EHQY0GL0U3nlTHWRJKKHYFdOcEc+mUoVK7WrRK
	W/j8iJR8eR2q6SPMI4Wl2HFONcaNmzidiVnWtDQlbLqZ5Si3YAvF9UmY34fEO5tTAUTy
	CfpU0oo3Bh0ocIno/42iKYVawS9cM03tsfSEuYgyxH1cmnIl1RMPX85lYsYgA2rWZQny
	7g==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMBk2yV9t2PGzaqJBdEHoqz3oVRUWJ1qcVz0oPsFHPGNJCtlXV+G8g5KO43zwqFLP
	DwIwKpM4umzzBn5t7y6ORxdEmVorgsq9JTT5sItlP6at+IDvODmvtRfibxFKMasXBkHA
	</data>
</dict>
</plist>
