<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	VtO+KzK0UoaPTxzxZmNXLe3Q8oh+jX2K/pqi2CbhpyOa6k04HKWvySqdIzwE1CkQrOZ+
	JR4MMcdNj+RaSR+2Sg6fMhl5h19oWRfqW5YAMaSalsBNCGgkVxrN06q6HzdanP72zRqN
	cLRxzXfresRanmBIlD7cfuJe8HqqgQOk4oMWtPM3YHUlfWDp0xz1jTSCC8xGlSIgtZ9e
	r1LEDQUi4ciVdhY+J6zcwC4jjawOsUwT7l7jU5ZkcgL9Fx2ylMnfgQJb6Ts4HtSqDPwe
	orbdr85F+nc5AHiNWSrOdbb4gR/oZDD7KawithRu7rN5kdX22a9nunF9/iqc9d8+jIwH
	Cg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQD78jlkYGQFJFyh0uE6MkZ3nqDHK/fDTMlKIlvDfLLxipCoworXR682XfPTcggp
	aP8CMGUtBvm5OyObqXNgmfNKeA1cWytS0k9PJW3SIXyLhRG+TEC84mGH3jg7KwzV6mMo
	4w==
	</data>
</dict>
</plist>
