<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	1uGe8mbQOz3Ta2673e8X0Zj7fXgb7jwSllycApqM+bod8afOYPvFXZ+SkSRmcwpC79gG
	pZ/ykddygn+wkrMcag5l/7DN1lFjQ9yyfgHBt1alpMgchR3zn7BCUC3jzVNnaO9KYIdJ
	fecjiEAL/Rm7ytF1pDUFnIdGamNXRgHLxTMiklB9QknZlHzZFJ40lhuO7brkUKKam4RM
	Nvj2LICCjTei7/urvnih+oiJeXRRle7PlLVK9gvkX2UH8m7zHYuoiDkhbS73h9bsi73u
	wihcBgNZrHb2xwJ2PRkpVIscufqmqDwnuoNkRSi1XrcCMlbV9bIsPgY+XbmigK/HPiv5
	Eg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQD35AStWkD62I1XUdtWsmL3kUqh6J2ft0SxA1R0fnzdYFFDbl098xvbNsFRHT/N
	oTkCMQCLCJY+LlNp1a3EOujacEXsJXSgf28WFqyrmNwNsCnrxngY5VGxIzPzv1867t76
	ab8=
	</data>
</dict>
</plist>
