<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	adpJ4ZIzSTHGnN7ST+hu9bSGwHPXGoOUStOabXG43WZvnNNXqla6gyE/1W1qovZdzvzp
	RTv4KbG1KNM1CyLzfs2aDnkm4DoFSuGWk08qFDgGeLgg+3EDzzPcGpEX9CmLAP4OEzEK
	4bBiw3k0/ZtlfjsMFwCZ78jB29l8LZ82qbsAc9TTqbHF/2DD9Ouzki55QX+xYKHgI1Ty
	spTR2UT0DbIq8ozJCEbmEdH39RlugPzC/aznlYOzdA/xNGWhh2eJAppgvukrcZE15bEo
	id6zi6KZI1V3s6L4HRWNQejTxNHGwdu94Ql4vznQZtiMRm3LvpBHuLyA+IxBSggsZzta
	sg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMAo4BPsIWsp6Z8rcpkR46aRV5BLPwxxVNIT6FxFfnWMK7E0F87IGQt1K0MpLiW6x
	8gIxAJ+gGFBtcJIpRG91AT6Vu8PsXrpg5BsceVuc/a13VAY0vtC6H6q7dNfjKZFFW5GR
	7w==
	</data>
</dict>
</plist>
