<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	rULM4NOp3gfPH6mbYWW6MKWK0TxiZb4IQcxuFtzx8Mk0ZN4U9UmU8yaar72yA+j3j9PC
	8gmvOaoaMYxPrNb0M0zpfJZJOlUirnDIq63FmmrcaYMVEjgou/rdOiy1tqDaC5LPle4r
	Ljdex4ie7ZSt075EsWKXw3wLSuG0mGHs4t1+AFjlL6orClUAIrJE+1W4ZU9FDogiiS9v
	CH8icM0jxM7+GzvlByV53kjebEpqouj2SbRX9J+N/DduS1PEC6YFZ+VF59rVeOqmHbmJ
	ThR1eMIZlmv+Kl98lzWaMfKHooLDOjM+VbBkkIJBxxUEgQhCf05R1exg9RORS3jRFpFl
	+A==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQDZilbjNs0u73oMB4RfSTM86eCYZyHaXMHx2SYCl954Ze5eCN0jRMGVmJNGElbn
	o/0CMQDx3jYmOeZIDXwvH3X1QtttVe5bGt9bkMYC67F8CTJYpxOsWdZKsttQKKTUjSYB
	KHQ=
	</data>
</dict>
</plist>
