<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	44e+k7G9XQxQ5WGd3Iz7p2EDZfU5269c+l/IShSCA5tPJi+/3i8XK3SH8y1M//GTccHq
	c5M/yLbDugONBeEplxtFDT2i8zDp4348q6Jg4roctw8VjtuPk/6GYMtEPZ4ndHr+bkW6
	Aw1YcNpIT26fylb8QzU7ISO8Ez71A3P+HMEl6x3f4xxNGppBPaNmUmVLqqavgjoOUc+g
	cxzrPIOSvFtFY+Q4YmnU1nzwq+FsQzzQ5ukBI+U51jdBz1ate4vStGENKRVVVmWuJ//0
	CRZd2PkR9hT33prdnSAp2rD97LuEEPZbl5dV+1O0/7rXMMb+qxXHVUnZPaBIWDAPaiU9
	fA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQC3t3zFsnA2bxnEVGQjlDAKhrE4pYzksQhSa9wXV0fNPQE0FT4hlO0TNKxspKKR
	WAoCMHbtS9ITI91f3A4PTqsIDutX6xoddei5JgBYt17S8HDBPVl13Qod+7V8F6/omB3K
	7g==
	</data>
</dict>
</plist>
