<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	LaIPBUZfm0UQqA+H5EnALgfcRyhhYs0qWxsxbB4P/o8kGvvZKmAdboYNOAq+QbGsacnk
	hEXxh84A10muUYKEuJk7MIitg+Y5Y8gGf0aPOUNL76QGAvwYSv2WoYxHpojB04JBPTGv
	WLGaUf5vx/ODIwc3hoQQWquJulhF7GSq3IQJ/RO3uOkTuTrnGlJBM5NV8Cyo7Bxj50pF
	jTRoRVCIwNvem5AHkwr9QOzv4wtzL+ifcrpkRHUEZqItN1l2OkP/SEUdi157RQr1zT8A
	Gg2c1aaHcNbWQLCAWbKDsRW3dRbFu+HdnoWH+ep48Q+t+pFbUSGEIwxzqzqwbRo+6b/S
	Ew==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQDIwj3bo+ZyJ19SiwLjQJC6uJxfxDNwQt6biM2UUGmmiaj4vbw8k8HuteIFCEGg
	ZRACMQDgHv2SYyb/bNXYAH1xA/rRci6isVWpu1rRI12FAybHIKHyYZb2q5lW3qp5oPXf
	a3I=
	</data>
</dict>
</plist>
