<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	LfLtWbdVgBTRyZyKmMnMQpdokuG95G381ZT4LU+wWhCqAUC11mBkE7h5JyeX0LPqpXTO
	9WkkeHX+H2lnlohMFnx3gxShpZ3yo8r42cmihaZB3dM+tda/9krPKiUFJ3NJICj+B6na
	n+FIKyJMwl3Mhenr1Bsy1tx6GnmrB9/+29nX6otvdXhH6lR58aj3WX+SWaAPmN6xhnx0
	cBc3bVTXEC3vWOsOUflfvAUxY9A7laW0ceaUT8iJlWSzGmqrNi8351QO467LZOXW4yjv
	VIUAmL7zaaZkRTbZf3bgxCkQY1Xq4V0jYcIXTuBygytkYeXGw/yKLl+rzIK+gkWC/bIU
	HA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMHqyTuxk22MVa1L7QQYjOOvL00ia4wu3kbjaCYJp6KVu7H7LPGH8nn2+yPxNAD0g
	FgIxAK9jmLZ2O8fs3k/XL4NlotQopJEFYEqki3RN6QAu6Va6Y4aN1cR7kMlIknjIdNbO
	lQ==
	</data>
</dict>
</plist>
