<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	jCOHVye8Nh4g6B1P6Oiz9Q5LzDwYzAJDkrtY0VmxnVuxi/9SEGeLD0k7ABtqEF76X2rO
	E0YqjBy0tWPRoWJxZuZ+/qF343RI8vMpa5doDavR/i+XYp4o1IM3s6RGJHBbDZ4q+ko1
	yLps51qlYjtm/H0QMf4+YT+myCEibLn+h+GDDtUAtWt8rRyRaOIqD6LqgzAWUxI9dxAh
	1MHZyH0tonYE/74jFrZkIjw6vUDQ9/DJhSDpnsBbovBjRrJg3j6TdybMACB/N9/J1IAQ
	IJQD6dWhze1m37qsxIoaSZoo3k3aGyRfgO6yC4s8Oq3B8qhZne+bwykSSm1y19tQ50Cm
	Og==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQCoZn/WGW6xegEhOJTK3/rhlX3HWC3s0k+pAEB9wesgtFgsYR5QJv7xC12D7E1t
	MegCMAzwuitncT/iFUyMTKI36n/rM3+tuijOZG3MjnvPBNgzNZ5waIp7Cv+FofHCqOx4
	dQ==
	</data>
</dict>
</plist>
