<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	SsgRxDhWrMPFVFytSHaTeWGqpKed5CmCZTUXwi0dhx//gN53por/9ivxJzwMCNMvif6n
	NrEaZ/oFKzoFw3wM4D8gizxw3y0JdOISnAZeC9EmvvmSbk1xCqAEUtCqilqD5L2N79iO
	Ks1vaX1FBWIwSq5zjHHDH6+W4+g0GG0Hy7KopkSsT2zJ5qyxoiTY4x2+G+JNm04ONVC8
	YdL996JKtzOMG0GfcEWreUU7he5Gva2aSAw5zuoep1nIH69Dv8kaxj+Doy7fE/VLI6Mg
	k+L2f7YwX/aUMILAt8R8DbUgDAxd0KXrBSD5cBG3uKlNUzpVdoAaA5mMLQoRNL/TUwnN
	KA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQDXVhakKDShw/A2brtWpps4wSYH7dObPfwBo1HbemEFKr8MIE8j6BdzPbyYchyZ
	zmYCMDeM87+KdC4Rt/ijYdWW0oA8PK4/WJv08m8cq00Kw2qPoKojZoeHi//dZemrFrUo
	QA==
	</data>
</dict>
</plist>
