<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	2wJ01sOY+ZRj62tPFQj/53f4WtNR6WiQG7YLiOL4JvxQWQrYjO35APyuV1OQR7dvoZ7p
	M4N/maTLFKem3NiPrWob8eOXNgpiue9Px5tuTfjbs7uQDzK2JBpSaN8qDiP0fGcE/Hfm
	cze3KQVpNCWzM1eKAsZXAGqUflSaCdhHZUqZ1iOoZImVT6lvatNISfWg1Vt9DiculEr2
	zVAZAnermjbvd0mPsDnCrptG4cYTF2ySBMwnKu4G0LF27g1Tbzi11rGc0eJahbVxfPUf
	gfYT/drLZLzIfVtwv7KLibTKnYz3wn36YMyEb5SqGcTcVEpbChEcr368eTh2QlAYH4cJ
	7g==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMFWHFjYgNMlXYuFAdCpa02972RzVMWspRzv39ZVpB/oD97Gmhf59Iu7EZAAZqgpR
	NAIxAPRQ8gUHprpNgTBgGkiYc6Iu09Oj8mIpOnCb/yiF+ArOB2Y3uPUc0Jls3CuJvGxJ
	Mg==
	</data>
</dict>
</plist>
