<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	Vd5f5g6RJE1LHqBNn/3MNrJ5ukpYyJzGE3k/hjkZABeKhzYVYkOl2vSzJxG02qD2j8Z6
	v6ri7HKv60pulO675hsTPwyWbgq6GXEc9KJsj2pdFFTZ63nVeBFZE9Ail/srR8xcTEPM
	1wiu7qnyeeaLOGMptxY2UT4pAnxLeto9ajCpqh5Dw/uMUdqBqdS7CE7kfrdgQ/wQj49r
	Vfb8skQZIlO51poj6LJlqJkuDtDpJUoNK6LbtadNPHkiVKl/VJrQ9rVYM/rrhtswOC7D
	pLmPZfeG80Sph2IOPxtsZRGP0AEhGBGU6UZBt+W0Cph0ixwKVaNy4CRKGYd31PNujro9
	8g==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMDFU8rMz9MK/rmSMPxJdLy+n6ViN0T5E8/bUhIZDRH8KpKQaHCrU/9X+il37jsh2
	5QIwcrhHd2Jl1Hedu8+zkiJcwLEQGJbTXe+YHg54AHWLVO0QNgL8hON0Jn+OH5HWTY3J
	</data>
</dict>
</plist>
