<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	k9VNno25przp65rAYksNJWLWrsA7GH5SgFje0Gudohr2/PN423KE/pOA/fJQHJgvct6x
	hIqQl86RTOKg03VW0pdBToqltp21gQfRm21qolDKwrv0hZ13A9AXEHANgodO7Y+rDLV6
	QgtBZbE7QIYWICDTuCS5NRfZyTUOkPCN1pDb8tPMPYK5egZO/eXZDfNvQZPoA+eFuEQr
	NRV9vu0h1cZcluIB0SHIhQsSdxyB2k5D5HTGutsynm9EMOq/LdiuHGiPaGNLCAP5S8ot
	fo+EXaKHFUhNB4+EcpL+oXlBscbtIi4oZBSH8W7+BoaKESnzuQ1L/8pE7Ovm8sZQD72Z
	ew==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQCMyPdXCGJz7t0uaLrN6v1RjvsJoiiYrspPbYBcYOuhMkej5D9NKbXKqPuPtkT5
	v7gCMDP4Dx1LT5w1+bVKYLbAp218JCVJ2bFrYHD4qhpgMYdwF8r5EwiPL6nWKb4wIQza
	Uw==
	</data>
</dict>
</plist>
