<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	UoFyVVMZkO9RI87tItSkV39bUtvWx4h0R5dPsyW1hF7BgdLa1YAmoTcuJtuLl9IV9As1
	ANNjdFZe/t/4jWNN5CI5leoLT3BwtYUgRMqGonZLYj3BU8gmp/R53lNeKzjy5SNy4oL8
	d2xOuLpYxVVzgnIGcTz5vA+R4ZpQBs5KWg/vPpCL/M5rD/S1i9qvsOmRbzoWwmwy1ECD
	sVHVORBofURMIXGjf3Sl8VRf9zvMw6b2kljFAG2FXpW8J+z8TJzDdKM3oGbceWSAhoga
	Edej2zmrNQdsPAf3fQgr5XKZjp+raEcKZLRCAkPu48H1GanNhnC4bYlDbTms6sMbS8Sk
	nQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMAkcD8KM34IjS/12oHTxhwu33Nf3Y9Z5VI9XwSNUQmHqN8qjG5icNLCmaealjIcI
	zgIwO8MWF2XGm5e7FQpLI05NIzchjDkmvkmhpgVoP3l6Ch/oK+HKLsXHOHs2KUGmz0vn
	</data>
</dict>
</plist>
