<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	gaiQWISyot4TP9jfJOWkuNnIp2Bjeub10o929p/+vx9SCjStd7kCPrc+qcIytKmyPedK
	3mTrZiJsfxuaev6Ws61vdpmejAYXZtwGoixck3MK7NE9wd7ClOhFjPvvENNWBZQBl7jT
	F0irJFMIAr7YqhCHJ1iAQ85FKoVpRnuiGZBORePtiY/i03LYKPdmHCXEDI0F8P8X6OVn
	ZV4o7I8hSUto+gc5OQyxWur1OLr+BU73eP8Fii8xVYZhQOcKTyc6hq2+qyR9mTRp5JL7
	ZK6RiaMVqVGKzTP1r213hcuS5DCB4VB0z28c4lFQPrqOMefMiidklH2PfBBIZW3Wd+5e
	Aw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQDfBGLpbyso17ztJbZ6LjLELu2pMrddo8Q6oYcG3gs4Q4NFcgPVvyio/cN9Ldsx
	z1wCMHD9drw9PLq8LnYsHoQ055LYXmWI3jPm+9STvUSqZ4K3gMgsFIOdgxSZCUJC9NM5
	tg==
	</data>
</dict>
</plist>
