<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	zl2LYVg05uaQyYw0rBw9V6E1DPmP6DVNG6kefEhzbKat+BQpboPSyCY7xCWCMngIhFvO
	6YUgE/vPV1wM4AFrgFNdc7o0OrFtuBJB7wDxnCqFynPjNHyXvXfJdt5FcxZav/KZ7yFW
	lRXhvLls4X2aq/+eEM8voaEGILO5O4EkY5cOxMnzDMzHJE3SmQEkGnIAm9zeqi21DaDE
	/1rqQHM57X5RIinb1ItLUU2dfJadlqHa+VJelrGBotsF9oUTctQubazqDHQj5BKqW7Ab
	W+BxrgslajSrXOMMmT+LNzweOU/Nh4KLm1GOQmZ5sGttH2jCXCAgtns3MwSHs9qWbzB4
	aQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMF0yJU4dek3OG+UIHW1idgm6m42a94SSINprUv3GAYQi8UcZcpcpaHbwkY5OcaZr
	bAIxAMxT7j84mmDeKxNkbW2BC0yqQYVL9drxKT11P/Xh22DUcvIF0YrvczizUeWGF7gT
	YA==
	</data>
</dict>
</plist>
