<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	bFSfvnFVES7CIjxyJHMZ6TD0X/giQ5drkoYN72tAWLoF0cWAMahEgtLHHSWqhBvemD7t
	EuAeB7/ejrXrKa0nn2KCsZU0h+TyQmtFRoBAl3DScsBYrE9YUzUHdMzL38mWoYRA63wm
	BOlzAdFb+pr98pSwfwx6JHta4f5cAdeVKjg5DOUZjLbdnJQHidzpkp5VbEtyFxNUkByT
	icIVBqNoCnS0/Mgy3yQQv+gxdsyb0BdxjA6hCyXqCHIKcc6diQd/Mja4XGEa4LGpYIJc
	810OOisGj2GL482HFJRzbA9va2mCbTy85cIkT136Uw1Ggs9oFW9jCwHKEqNshoyfajFn
	uQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQCGBn0g59tsNdj90sCbJHtWpb+nPLoD23EMRd+JcnIOB7FFRcWdY3J9hep9PWxV
	AaECMC2BhiXsDkOl4Tgs6MjkxySUN3UsKPeYsLl4SqJMdNo06QkJ+r7dD8qbLoa2eSjr
	vw==
	</data>
</dict>
</plist>
