<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	qs4y0Wdvy7mzOi1JfdFGO0yrZT5NHt3+iulBlBzJ4RmPXkfI5sC8GL/d2Wk6OV5BE4S9
	KGeOlRFyB5GwjqLPtWS95Uwi2Qv9IVmwuZxzj84RfJTsc9V6Izn/1/90FxrCqf6SHpzg
	Dl9itmmyUZnFbl82AJwq9jnpCEVRDCOb1Z599ZiR/9DTlS3t2cXpC77Kpj7xrNTXe9jH
	kX2x7+MbJLishaNKc3hkf+O22biBmUeVGR0a5Sir1riFIYpyo2CfGLZgBmnTdaGZhaNh
	dxbLUrXJvr1fu6ZqWsLy4KpMx+d2yeKF9OsBGsr7e2cY39PXWOBtbbw/3WcKJE7qiivt
	Fg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMDdTyj27sdma5wrexyEKA1ry+La2AgLg53BOB9dX5UBLIt7l52N3mPn0wWLt5nf5
	DQIxAOsX9fogQwrU1il1HwTGxSRjXz02HG7qUl0g1djgGdyKC0i9SUdhPP8A+4tES7Zq
	zg==
	</data>
</dict>
</plist>
