<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	I8K4Uykymebl5pD0lk4+0UvOEJgHdE1sfE5IEXZ82XIx1bFpmwoSUjODKioSI12X3CdN
	uxmqs2U0xHsXk1T5octBKzVy9YFyqcF/4nxNIGXCtusenJupqIAgPQ6C7BLrv6ZFEnWW
	BhvZc1TscD4Tt+8OH7vUowdxBf8/2v6xKQTQYxdbtO8LaZ1c+uc4XZ9zxBRoV0smodmU
	WWzv72XBtA6mzG+ehCAeQ/5VA4Jz+ii6uWnbsPlUZFXQfyAKsQG0jge8KDniWgN80Qmq
	rw5nIF2ivHuKnxU9B5DJsuGnwEm24qgomllIstbkKhK3Zqe/W/E6lzv40p0yCE+SUG7E
	CA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMGMZCgPg7FB3y9XbPF6lBp6yRHT+n7I/Oi1pAUAub5X1YXcHEcdaLpmikaGfJ6xU
	OAIxAMM/0/kSLKInwp6yS2R40F7nGEMNyMdG5WCMb5SVLYwVUDjEO3w3c39I8G6c8uHD
	Ig==
	</data>
</dict>
</plist>
