<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>overrides_V53_V54_V57.der.pri2</key>
	<data>
	YGUyvzTcHVMrlrYbDV1lJm9zSbZ2b/4fyCpUM4jCY+db5BsHt+FPykUzBHCgj+l9aev3
	i8Iy4GGmvGiLZF6rF2VD5gfUibhYBj0Arv2o/+OZtY2wETKqyyViNaZCgu7vwewLIJoR
	5Ugmw+t+OR0dEV6uy5haBUJHmXH6y+RCARY4tn8oXofCf1odbTp4EjrXFxNv6EasoBsa
	cD/IYVb72kGsHtBIp0AvLmqg1iDYdOikkY2AtE6Z7OV5EB1IDHMG2eqDxUY1FWLUXZ76
	v+92nBgeMOrqJ6jKl45Ta5FWadKaOY4pxym6JRklZ3oJ9ea1zrVT9nQfKUTWOCG4/Y5v
	Zg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQDlZ+XVST+h4yH1VQ0Gb7kW3k/YnOIKAs9ademKi6TeLADOG6T2vEytTyEVF7SP
	Q/wCMAVb3MrgzrD9350rP28w/qmgd0TYbbuQzm8wsWrtfJgY3aOWL0Kthan/iVAcBa20
	ag==
	</data>
	<key>overrides_V53_V54_V57.der.pri3</key>
	<data>
	MGQCMF/x5OlbRK1nW0eaHVNDe8P7jdrmTHqFgLcgVfGacMQfz9E2COxuGKb4oXhzE1nT
	1gIwNucdYCsHS4xRgc89PRvrHf9u73XUCVYs1woW19Ete42Bx0QoObjjCh0WiV3cZhIE
	</data>
	<key>CBSignature2</key>
	<data>
	UbD2lC550Kxy8FpAPdBx+ehNmhMKzyA2NREzoJ+C3InC7yf/MK1fgWi4nlsWLDoOavfT
	1Lxk/vY2LvT6aMq4Xw3UsNHZSvzkDG+TgQFf6CeJ6qYBoFqFKNngNIezjTRONDNO1Fxf
	C4kkDRgBu+qsF5h0d5VHcM6k5Matv00xzueu8aVhCUc8pwfFqnVK8sTx61/mpNw+fYrJ
	vm5h8+Y5588LeDTrjSdr8zvtoF2GiNW6Fkp2y5SjaGa2pr1fg68hEdPODEhXxb7KvxCQ
	EyaaCwOBffni+OsBqDHp7VRloLELFDK4crSDc/nT0jQqw+xlm7bmi3Hg1cTTym1uiOgn
	1Q==
	</data>
</dict>
</plist>
