<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>overrides_V53_V54_V57.der.pri2</key>
	<data>
	q64YHkPqEJW5WvQlE15z6ILZxbpxgVhxVfnUk8jfZNiB/JIZ3k1rmqj3ivkKVB6/5NyC
	uEN7971PxtnEgkLTTVNYHrMoTXtUsC2P/5tHDKYc9QXqiye8x5kf0OomALrDZG5PhLM9
	mSiiUnMcOti6IKElwvEsGq6eoqn/Qye66hDIbsXo4a1RfHxbonsP+3n6ILd68erajwGQ
	Uekttynu7yOlJirzRF8V4y9bXQpN8us4FUHyPzcMUP6Xmo5e1nT7pSWJCXltOB6sC5tC
	Lk1ev9nPrmBKOXYiBJKbBmZCULxUjNAfKwbRnvenlNMZvU0XP9LJ9tohAGgrxUVlbnfQ
	7A==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMApdWX/MhNyA4E8Nv7RnzyfLprxj1SkMaC1PmBlKzpVx8mr5ptuen3Fx6nOxjI1L
	tgIxALi23AqOf3fOLWTHjLPnRXxPOmuBS/kEec1KUDsuuZxs1NlEHkjN32K2ayNGvkhi
	jQ==
	</data>
	<key>overrides_V53_V54_V57.der.pri3</key>
	<data>
	MGYCMQCflaJZ1Y/CvQuO3MnYjtr9qtSZCqoORLX3sajvfV+bsqeZorVYjCwTr6UQEYdA
	sZ4CMQC6skdYleQKUQVhB+c9gjVr/y4PCMLWw+EaCxdgTaW+vyqp5BrS8DS8JiOAMgr+
	2Uc=
	</data>
	<key>CBSignature2</key>
	<data>
	sdlEPNdqDkD1+r7uGbaPagqTDzvaaVU3x8Iya3y3PtF/dFNx2WuFe9bOzzkOSEg5RzN9
	XwI/OvdIJ6MkZf0IWBsWfX90zONUuX+sHx4YFdABDmCZfNCx9mhB1FHmPcqZJeYZe3za
	mLsaSTYEylL24Za7deqNypwzqsiiRIOO6NCF6YzcfbnuMt7PHRlNo7lea8KUvBKlseI4
	Z9t39a/XMAErNUawj7hBuUwt3bI9M9urAphdSyADkn6XuTqvpvY2CJ3dHkrGDhAnlT4Z
	FAz+yG6SeTLFBW7nReOs7SkhD0hU1jjmtxvKdVXL46kSg7uj6E0Gcpp9JCAqB8+Xx3XI
	Dg==
	</data>
</dict>
</plist>
