<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	bQ2vy78RYPH8LWTpvuhnIldkQWUDim0noJzz6H5bAXucFdLzP3MbtmxALKNqwreaNeV5
	rRQI72N+rfDg/29yRJml1k8JQSKcnUc+bk51tWnS8FmdUh58VsI0y3hGAenm7yNzjiEr
	rtqOKl1OCsdtM7Tc46y3cZi3eMP9HCtJ2YPrbckGRMOkonDaJhpl2DwyIpkKKeod37b3
	7QWhg7v45ez6eQZTIDYwOrmmyhdp8Kzfm0f5IVqKsmuUsB09NotFRvqm2rFJ93t9g2aW
	zNWuC0FIuM+yW0tUfObc8DYvI17vyJ2iikJL80lHupiphWueFq4WkuofttX1i3Nwdftl
	Rw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMGtKnp0oBtCpBHf1qvAnHh5AU/6UN1ZVCgXgy+MZdyBjjXu1P26oPL8zk9zdRufY
	fgIxAKKf9c1uAqgmADIdqukfwtjYm79SbRd3CVWlhbTP4rpfmda5wRf4KbqoE4gZYN6H
	Cw==
	</data>
</dict>
</plist>
