<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	bINvAlPiCIQXAyt5S6wUC5YIxbePHwnr8MfvjcKlBuvAXZTwGk6yD60qguJNgesIJuHu
	/vYVXfN8bU/w4+nDLqWFGbo6/BdwQqgRCUPz6QxaJF2Pr/7+L/kFeBiFaonyGXBTcxMl
	zARTQsq+W+oSH/w4teK6sb45xgcebVWJXI/C8jbNTsouJsI42BnBOoDo0+mL/peLVup/
	C4Hf+GBNrm4jA3+5XwpRyu5efwbhBIWMFzlyFzzHQXGUU1XdxYXOUTZTK312EiP3qVty
	B7AX/CCCOwSqDuW2GvhIgYMjEzKXUj2dc5AuAKIn0hgtGmfNCPZEL9OLoGHcQvTvX061
	5Q==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMGFRvuQVlNkt24YdNKgfg3yAQCmQslPZNFR1a12+ET+hJsRPti5/cBm3Bs/4+XBG
	0gIwUQ6HzqlG0BSBsWnU146jQJEjHiU8Ybq569JR3US81Ez3wyJx2rNtWRPEMIow69NC
	</data>
</dict>
</plist>
