<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	zHdHA4abCfl0UPl2K3WKG0EIncOW4lX4eoVllrfoDT5UbarXW538zQoF1nleAjmeBEbE
	V8MOCOxNJkXrKC4JbzHNB7nJ5nBgGQvsVyPb5Huqtsj1xWWhK4Dhaf9EAuczsTmcJiWS
	qlSZpzEFRKARhvhCXleHu3lHZChWrETJ9Q9ko1c/wzeEx1OEOwbaVJTGNyU9lTnoybT8
	kr+kEZPuKAiLdf3OrgfpMz5HJfR7Jm1nD9/7IMysUIFCx6P5jauYVrqbrsmT1nwJk1er
	VEOH7rBawQrwQbixDwUZ4Xmj1h5z4OgdgBw0fVhX5gm4oqY0bM48T8dlwEqgqCdmbIdc
	Ww==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMFAfYNOkeYoyrd1Dz4r7Qb1vJJG1TFVG5pnN/NyYJMqm7ln7y9gSQZIFGPfgD4GA
	4wIxAJL7YIw/largrIrUqFED2cOWDRDYZcj7NA3sDp9SXjCSTPx5aLTVsU5M+Uc7z8TT
	FA==
	</data>
</dict>
</plist>
