<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	sYNgHgg9W/rL9IklmnrsKXkdn8xO6E4tPX3zm9YMxcvBoVZFW/ANHnyrwzxObBtTkXBt
	NJcxkErbjLtFB01F9kOfwsd5qjTlQzToyDv0Vk+hBcxx5U3M7egXa0/caCHVSFPl6K4a
	mcnLy9nHzHaLkASzy0W5+ruUStPVG6KTcISdSwxJGskLU81nE41eIeiucFOZ/CsD8Bk8
	2FiTKD23/z77+r0IJ8Ys8R4Ufu8/x4K+4WrItIGU6yN78vqvAygWPYa6xy/Cc+sGdKDm
	JkrbMKeRC1s5o/5lC+iuo++Eao04dFGX/xePl9cRqQ4v6nTsCRixsMXjt2Out1K3Jh+b
	Ew==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMAPVqIanNWuyIbb6VvLH4oWtWIfsQa2n5FjcqojtC3H3iL2Y9JmnyTD+/QiasSyJ
	uQIwGu2vhATMMU4sZv9+BItbqKrbaryjzroWD1zc0QltH1QdEHmVQcW1mAHqOBRNQYA+
	</data>
</dict>
</plist>
