<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	R9M6p/HqfX34RLXDHYwtUY5wrEmxkbKGi2FBnxmF8TUJQ8mj/fstyPdbl3p0IWmN3Rjp
	k1h6dAuvc65Vr6ZoV/DP7X9l1956xhAVTUXZ70vvk1UNvYfmcHNIctSxsYG9d6UMbNWo
	qMRZp8Kb7Paj2z420Mt40rTgQOKE5+RTWS5mrzD9JTYVVfuGdGW87NmIto70nERIvZtG
	SqqvtaTzMPXcwhSIcd+riMZ3dqDTrLPHoF53Ccf2H+w/AlS6ZiHYI92HFvioqz21+NX3
	1g9dJRBmfeSPEzdno3FB5yDDgcOQleiDzmwljpXs639UP9bT1PalM7O8aT/veeHmVQfo
	iQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQCArU00azmH++Oue7RC6Mig7oGSSl5JO7LP+IiYODb/sM8VReOBpopEWtvY40DA
	xm8CMH7Ghv02rrmdy5kLtHiBXGbsWjVDBpBACdkfcHUnvsA9YJskvfwPN3S7QRUng+Yn
	lg==
	</data>
</dict>
</plist>
