<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	qhzSqEFk60sOCozS3foCTHCCKpNjBXtlLPt1o0MbeYDgMH+iMOrbQ2He4BDTUIfwcLHI
	1CsLk5TZo5zox7HTnemxN9qsk7GUBlMc2D8QkYDPQ1sM54u/BY+NATFjndNMlIzUydTF
	h9Hc40X1NxuePnweufxZ0BmEga/8VsCwh7xO/c4MTcUa2b9jXTelrTLo4N4WxbrASEqK
	2EZhhfRxosWnk/9H4mfm0FNR1R0TInR0Ad4zGpU8LKwxi41hH33DIYMBk6pUY7ijOxvO
	6Lhhjld6UJ+f3I5EtJ801BSqYzhLaDZpEP+neHxTZ9VAcXojbGTWXgcBsFFG4WH6PJ4f
	5A==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMHRE2/+JNMoArq5LrYQk1HrJvtRuMmrpP3XKlz5Y73NiNHRwODu/3kTTix2VFl4h
	QQIwdoyb/4mDza+qdF5toNgCMQma7GKyBx+M1KfktE4eqReZOJt1fp/wDy9wcmWBvcZr
	</data>
</dict>
</plist>
