<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>overrides_V53_V54_V57.der.pri2</key>
	<data>
	YcJ6xqnSb0l1OsEkejAn86WMM6oGizVDbQPpBE0uDrl2UXMkuEPaQ4akUkqq4eQbTCcz
	XZrK9d0Ad6gNNjIN8+KqJLpISIB/y72L7IZ/oHEd2pCBmTVdcfv8RHIIMcUbt/QCePqH
	8TDfoMgN6hTzsM9PmHDZMctqwTkWghbj6Rq8fa04dZZ1dx6Ac2xRPrbtVxfTos2GwO+/
	TbhfwNOySQx0gEu3+9boRG9kghQ+Iatc2eSgjMRcqTl348uHoDBXTfWNE4cJJXRU1/+t
	HKaP+KwNs/9ChykNhnbKaqbbKw6MJZbPpLtTRXJDY9Lih/uQ93mBQD3wWJ1W5YZMOJMD
	dw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMHwMckjV5JOPu7eg7LinHFg6Lz1+UrGwV2GtJ9lEBY82I6yCO39l+ysvsLKbmqVp
	rwIwUEFJmN6TS7fJALCmFUQ4+KcihyDeAR0GlQNRSFCSpqfIaOPTHFafDgGmmftoMDl0
	</data>
	<key>overrides_V53_V54_V57.der.pri3</key>
	<data>
	MGYCMQDbPrg6TRxIF+1aRG49eMpEv/UwgVWVFOzei87yJC3vx4lpfp/CZkJqAkEMcqMZ
	MIYCMQCVwH7MSu8Ed3WzeEen9mUpxNzXBSxN7KnHrkyI9jbt/+Xn+QF7iyC0Jih3bTBL
	osY=
	</data>
	<key>CBSignature2</key>
	<data>
	r4P2LejUEqFEl9NXKqfQgYuVkd+pmMSFkUu50EZdBbkFDQk9+aHgaA0AzkBQ4HCDqS2D
	WHQwn26MMNboaYyDD+fp9uaN4rEEmrJhH8qJIcJS0iQMPAvG9EaM0nDABDksgXK7gcm3
	/6ToxB6UCMZ2fFEofR9ztlMSZ+IJ6kEftpj6gVclQ75hYthkn2uxJLDrENBLJM4pHKyR
	1wkCSxAxzIxwu+OZxOyOVe6ZoAOVncRxgitVMXueEVikMI46FN1qx0ztxrBZbu5Xhljw
	MsGUxI1XIGKa4QkjrKkCGB7bL6yQ0fizNz964BU7icSIT4K3PAME3o4kfJdplvnkfDyM
	yw==
	</data>
</dict>
</plist>
