<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	eFUZVMCqVVyJ1aeQ6KFnrIi1WmqpVGLDvvaL33I/klHhK4z2ymLCrugEjMZLH1d7FR//
	K8vIC3rq75cU4QHUEf+6NKGLxhUmYI5Hl8qsKYnYUanYNdrNr0pdfdCfMH5mbiylKJDy
	kRuSLLhw1t+4qoIImot6XTmYEGR/iGjDdUUaYIDLOkaqpK95nM/y82Wp7l9EBGPU65gn
	eAKO4JtaYqQAkBeJVEmgXSc8ig8uRqijfYGfv/2ss6MnwPn2lUVWSEHIjxZ5J5cYyAOo
	SwAXFUlC5gsDzfndJpyXBR4KN5mBnH0qLq/BfPE5tSQTKb57Rf7dFb42uQLgvQB+UoZ6
	2g==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQCHJyDkiXlzj8e5glX+7CuV4x0UE/N9TEEUwhfNf8e/Zc+rvAqs3CdlDCwgEO42
	Rk8CMG36PgMFfJutTf8NlmtCL8tUNAVtJiQfdmn/7RRO0SRGgPkVga+X74UK6XjdO5h+
	xg==
	</data>
</dict>
</plist>
