<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>overrides_V53_V54_V57.der.pri2</key>
	<data>
	jj/SQDbXd1+qz6ShQV5pMhoz3SmHzOZ4gZjTVxnBkD/SIR79tTIN2+VWi2FkIxS2L8ky
	EvCFIumV5EVu2/qvy99+NcDWbeyXulW/lW9y70hAVTFiXQfsJTh8LF24R6YOb5YVbCY8
	I9uD6PGxxSYyNbBw+g63FGa7m2xAoDukpXse+aZpYe37DLKVKe61b+TLmMymDSl84Sbf
	+furnLQeFVScA470VwOGs/BVXlvpGoS8KZ7K++3qPSv/zfRQKCy9TmabmFMCWCg+WKx5
	V7o3D+QLtYT3x3CNIq41aWEscW9SUO1H4f2LNdCY95S8x5Q9amVGygJj88NblV6JSY+N
	SQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQC+KQA4qNo1UAhDj2uyqH6AKIQbEq/AAHHaSMripquVPmMdRQud9g4SsnO2HItV
	ALUCMQCH7KAa7skSfT6DJIwdXF8S1ZjVpHPY9YL/DYN5BmGQacJGNQBuNM0EXZk5LsMi
	Xf8=
	</data>
	<key>overrides_V53_V54_V57.der.pri3</key>
	<data>
	MGYCMQDZkjFEV2ketWho9ZAK1ofFH7M3IBveev0E3WLhHCggqQWcD2ZvFTEqZY/eiR+E
	Ub4CMQCjw29OsqIaUyREmDnGby5eu3msJJrBgODHVY371SWOHCZ76kC6aqrRmt2h1m3z
	E74=
	</data>
	<key>CBSignature2</key>
	<data>
	tWi5dBolFv3H8k1cPeCmMSjAyb3tQdpxwXK2hBj2/A9OomQxmmMERTKbEQCwVsQT9bmI
	Zl6SYWJcntS7HUvnxZ/A+V+9ZPuQyzgPQilIJVPcIYAGicvFNX21iIBe0L8xONyd28NH
	+gtLjcbX/k+ggwcZPvGQuFlJwizIntjw93rB9Az1ESH+jHo10gQhU9yuPmpe/mqXKPTr
	6LC7WF2HaxOUFWPVGY5qeazIRtGPyJJz86XwD+mXJWzNKZNaKoIa8gZ95mNzLQrvf58w
	/QfGoTlkkAl5BrdNFBBywe3xjmGBSgAOS8gudb4iWJmFFTyci8/FeiSm1aw0ZMOa3H/5
	ow==
	</data>
</dict>
</plist>
