<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	eBcW+6mMB96qFTfKM76/3qO40r8rJhomC1p0zBL4ROSc4Qf7hpxQcz9kdNxYE/jB5wGc
	m9joxWi+b9X0ikVdFYJtnCq5htRUCXmV3dU3Zx21EIqaHi1Ge3ZoTl17vhlE8Z5cVcS2
	y4sr1NVhkaiTS86f0V4CzlnuwXBMacMZkBMr+FEFgX9nT87kRjxu2aYJBEoul9pDtDCA
	E1F/+oo25T/OcjZ0zPzubhUp86RzqFDCAPLPHTdJLKdN7TfFBRsqI9U2fTL59oqXCYZJ
	pOCjSyyMm10LVssxOhNv6JoKKpsCIti9fekCFxjaSN9+MCiuHPzufDyFWYqi72VYkv4f
	og==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQD5jwIlATtp5ne9knrDt2c+nQvGFg17mvB6xT6EyaW117aPhm5WbM+Y7eo9OAjK
	fm4CMA6JFPi7tRx2hFf9UxxZBwa9jpUbOxnQQVDPI0OiA+oND9xxDwS1RWhCNrsHQvFT
	gg==
	</data>
</dict>
</plist>
