<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	cJ5UyRDFd+fR1cxnNTd0m3tB0mKr7bDb0DpPMYrrS4CT2Kfw5d/s2PNlVM7puwwyMT+G
	Ri8eZz5Aczey8OWFPlXEwtiY0CA9Fy+LLKu6Z0dHtjYdRgKW8Mo2OMR8s+pCJBlWkBbJ
	8Vsy6qIqW7Ue+s4GIGieLAxKHL44rL8qtntulbQ9coDkDVqeriX09BUU9OUKBaMkXQaO
	tejS8k52Gpx8CyJigyxO9n3/qBpS+XRfgOFfzpd5KrzC70LWNKxw/EdGoG90xv1UHqHW
	zY2EtTl5guCogkSw4QO3xiPZuitbHmlEBc7rBKoHxxVHm7yBUPR78Dktd7lpXQITaaDl
	PA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQCWdBfZlyWOD61rtB/26lGeKiSeKoQhDNAUxX+PmaVoAn6N3/cIHdo+pVP8q0mG
	EvoCMQCQ/y1CyNRBNayYwabrumoEXRn/hEcy3XO6CU8ZLwh3DwtzoHTuAUVyfxdKNAzY
	uZ4=
	</data>
</dict>
</plist>
