<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>overrides_V53_V54_V57.der.pri2</key>
	<data>
	q64YHkPqEJW5WvQlE15z6ILZxbpxgVhxVfnUk8jfZNiB/JIZ3k1rmqj3ivkKVB6/5NyC
	uEN7971PxtnEgkLTTVNYHrMoTXtUsC2P/5tHDKYc9QXqiye8x5kf0OomALrDZG5PhLM9
	mSiiUnMcOti6IKElwvEsGq6eoqn/Qye66hDIbsXo4a1RfHxbonsP+3n6ILd68erajwGQ
	Uekttynu7yOlJirzRF8V4y9bXQpN8us4FUHyPzcMUP6Xmo5e1nT7pSWJCXltOB6sC5tC
	Lk1ev9nPrmBKOXYiBJKbBmZCULxUjNAfKwbRnvenlNMZvU0XP9LJ9tohAGgrxUVlbnfQ
	7A==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMA9SQqlLYLCqJ0Juc90zqXyvDYvXTsEMCR/3PtVKavwyO4G+bx1zW9xai3Tb//2a
	6wIwH1dCGYvF2Gc1N8ADYhUUITfkbnfYBP/Oa33Qnx7HMlLlXy6z8joVh9Ad8TQhCz2d
	</data>
	<key>overrides_V53_V54_V57.der.pri3</key>
	<data>
	MGQCMDxCfeJSOS3aA/8zUp2mu+Tzvlbf9rh3zKClWQMBP5JRYTGpCu/fkChUfdMaijaz
	MAIwY6rBiL+anz6NVkkuptkvaQuc4ucIzP2D+N/ykRvBdjYM+N65IVGZuMn1rWwS7X+y
	</data>
	<key>CBSignature2</key>
	<data>
	mOc2eirpXxkcYCaWX3+530uAXdMl6fSHZXg5s+ldrkqqqXblyQT/jMge3Lq+7Jqlq5Ck
	1IDu20bMXwbpAhz01DHjnwpOxi90D7TdROgVsV1doUsNGMbkP2jAXYHbjfB0DrJvs2Pj
	FOAsBzg8wRNrVw+rYbc3dKqn3LihsQTpqW2nnx4PNzPzYRyuSYRH5tGw5xxGZNUvM2Py
	7IxHGMJu3HW3agzYB5ea8XN4t3rVMv3aAiLI+lYHHC0tK+A7Tha4RJZaUk+3bx7vi7hs
	jSLHbNQ4wgnlfUn0MVIRePk7VHwVLrFqkGAelDl5IXyVLI3dEmeZyW0LuTjVBUCLfz+5
	Hw==
	</data>
</dict>
</plist>
