<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>overrides_V53_V54_V57.der.pri2</key>
	<data>
	vDSgfmGJxpIsOLMi9wRqSkg2kCkNNaELlUjK5iGw55oF5VQ3hrqJyefmK15DBdmRnbDv
	e0z7Q6aOsU+By92m4Iwm2z047LDcldRugWNwKVYj7vQ32pAh2lxWHkE9WbF+cUhxH4OL
	JbQ7njm90qrNrgHT8ZHxlljTXjQKVATqQCH7Kke+5Yh3OjWI2aew24xf3FqXo5A3AYmy
	oXi87cVb2zx3StFphE2hr5R6Q21ZMNmdsnvpK/81iVv84mkQUPm6x7cH4KVnIJVP6b3O
	20C0EXkUq/FpnUPs/1yO05LyCZvV3nClxZQ5NFZ6pZUmybiPEbJE64afqCVttfCZwh91
	Wg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQDVx2MEn6EFVMFKMAadGWvsuTfSiviYM8zXTBs8vUwIgWILr1v7j8DqnuHK6Oi+
	zAsCMQDdKBmnMYpZvZTMVFyGstE2VnOXkUvWKkB/+ctQmTPy+Mc+KW9RgSDKwYDw6oyc
	1ZM=
	</data>
	<key>overrides_V53_V54_V57.der.pri3</key>
	<data>
	MGQCMACd3VgZgyoDIYXMUsdt/+HJMTKyTUccQ/QhRWOPB2njXbZqlmVedX1jCw4K5auD
	6QIwSIKPFbgZfqAlWisnOGypGa+sowi1hyjUZn7hGtgGhnqinAwVkhUPFWIT0sM14Nhr
	</data>
	<key>CBSignature2</key>
	<data>
	Qf/jDz8Ux7Rm1zouIXXb79O6kktB/BnmvWbPmEsVO0zqvENcTPeof0UisxWiBWQmAsb6
	eyI5PGcNhMvKIlyGXHe0kpjyCOYlgKpV0dv/0qTFXxUDjjdq7sLLc5bW+x4s7ZbOpOS/
	RhgMcsLQ9Tf/jtnHyTSdfg4ImKDPsKNxLdwUA+7A2vIZlZqlXhZPgHuU+/mFcA4Zx8Al
	NiefyJOlrao8TJwCp+psstdFX1cc+AO6mghUrQrhtOOVFQXkKspVUEWAnmKWfkXir6QT
	0AXf/p6vujb2wt9By/Gulj7nzOCD+j2YafDcV02M0+P+0YJjIkLO4bF0yk5a5qF0QkiG
	eA==
	</data>
</dict>
</plist>
