<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	AJsk3Aawe/dwzCnM2ZsTX9LdbwPgZ+sWdoGTsq2rDk+9waTtFwR5mtv7xBEPjuHDlKX5
	lOA4xJOqYoJeL28xvGM86fLNQO424dH2hzL/X3lV5WsGhGE11u7glxUTnfbszl/spaUp
	h30yGVdWnMz5UwER6vhhJb2tP0noj3ZGuLX2CNmUPwVZJ1mTvCI7tFmjCFsQDe2QDT9W
	SPZNIrQPehwKzEpRDHIt0crSq+3vclpy+EXTBxnwvWaZAuXzob1W5qSE+yka18/Ye4LB
	4Jgw02Xk8yrZ+M7Qf6y1fUKpRuGpnf6f7IwNQB+It+DCCnw1/bnLYhYnElkR9QqsUWzO
	ww==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMGVT7h3QlQEWXYV/d+Df8cUpfo0nRluyj7m/i6V3hoY6h/SFppS4FvKYJBz7udCY
	UAIwclduVjEAMkpGDRJjoENWt5oBNt6VbCw7ufQmLWuyG+MrNcTeeet6BXtgl24wa1w5
	</data>
</dict>
</plist>
