<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>overrides_V53_V54_V57.der.pri2</key>
	<data>
	kCwGUlKsJ09Zo2ZrI9Coqwpw8aWFnw20b8QeXKon1LJX2WvK+UdUj9k6zyZNjJj7eHOz
	SdzY7Km4FKH2N6ab5//TCGxZxOcNxkd+Vb+MHwuVnRirx9IBFh4DMdXSLwzQQAWtPYQC
	Ecbm+6uGUsAmHtiBnq/3q4q2Tg+uqqn8dqxiCTR65SMgiUlR+RQ6d/a3hK6dsk+LtiNA
	07zb+nO7ibKtoIHUeHvurg7QEf29lQ8VrWAamjc8Z0ZQt25+F60UItBS26QTKIeVAOXN
	+kF4zAXZK943avSNTNZfJHJFMzgWCY+A6XzWwrwSnMQrvYokGypE06rGLOqI4HiN0jAI
	mg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQDOLiDi8emF2N7KXKt0l+2JQw3z00uDz0ZXjF0iwvSxyzKbWjXV+tPurqIJ+MQm
	EkoCMQDlEzLu5dzejN+jziBu7UYuiJuS3tgXnUtkDxK3w6GNbgLLhNRtLslXjyVzC1kb
	JPQ=
	</data>
	<key>overrides_V53_V54_V57.der.pri3</key>
	<data>
	MGYCMQC808VofRLj9a+zFCRnfxIAzy6YBGu6iXVNlh7Gf8duwQpeEf2F5DwozRq/A0TU
	C5UCMQCRNVNu2C8XUxIl2jz2Z09LqIxalOLYb/0b40uQWd2PRwGWtQ1CIB6Eh0JKgxjI
	xQs=
	</data>
	<key>CBSignature2</key>
	<data>
	rRwu/iw6FEBEmZ4Sw9/92Yx+qPL4dFajb8brTtr3SmFNY+nTiwwhrotsW9UvNU6YCam1
	fInJ+608gYBR/444H8ygNnjxVK7wXTsZvrOArixA0tgbd2kwqzse3Z/6wrBOoCRC2V+X
	YyHaEnHWJOfgsasjgbfFxJHNDy9YSC7D7PMRiPxRtSe/TPPY5IBOAUAEua49nyTqg/EX
	KrHnFEaIG9bPlo88MZh70a0thExfW8nurGq9vYQbLjCyRXh4FydoZH0qz1EkDkI4/Z+t
	fI9A7wrC7fC+Ad7vqIP4ZNBD3aqcjXefSZUkpShM7eEttmJGUDUM+BmbnfPaYxFH8rYr
	Lg==
	</data>
</dict>
</plist>
