<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	VCLwMc2hNDwWyPcXmAOeh74yGV+KWw+DPIay/IkKoXGQO7Dv038U23kSr2RW8JcEcLmN
	w9bJ6sIcBdx98G47kDU1Y4AqQPj0Jg+shuK3OU8ImlVRlyAGwJlQwU3gnQN0fakSQ45n
	sy5aI/0K1Lz678ctj8iXBWHOlfL+SuISWNifIFywQICroYuHWU7eEWRtIhq14h0634fR
	s8TYDJSD1cpSU1dWIZUJLukIVxLbKcD9NkpMXFP7tSDrcQnw87TokL4Wk+d6GgGhqIbA
	zfeDjiLFzKtvwXc8WLPDOpUp5MA2BJzP8aOf+dS6gRN77XpgcOBLjf7x4knLDnhGLOd3
	Mw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQDzUBMTxIYRsbqsdnanQpaChSCCuIdjBg2s9eB20HRrIh1NtpJh9Zg+bu5jdu2d
	grACMQD1GxPI+A2/i+jE17P/6MzKmQbq8g0HWgVpvQ6GoAO4G9BbEwBkckbb1a+skDKE
	ppo=
	</data>
</dict>
</plist>
