<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	xRHxBiNj61PUAVoa3pyasNnzhPLiokR8qdjFJrRfnbVpL9FukY5KgB3FM2QZeF5xMvTH
	Z7W8tMxcbKh7CtIb00NSVvbwbcXA6EH+DAhOpcnFxwodIbSng9GhIa+4/u1Z2acpDMs4
	r9WAcSuqhi2mRdZ2uwQ1izfMd2+ilVwHDmY7KYCg51TW11+pxOEdyUt/V6cpuWsIBTxq
	i1kd39X6wIjid/8MZtxLc9CH2tNGzEyrKd70vCNQEdCzjA4CCdfXJZlL0SUOCHc9qQ86
	pDYmG12o5kzqrP1eiIAmJgQcljkcLEwDroMiGjdTE5TuwmjNLkCoPESMS2dvAJHOaNzC
	7g==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQCyw7ZB4t6ukWSSVZqh61mh4nrWyaH9Ge/aqDeyoLIyq7ahSrMoJl0Nk7tPMZjI
	CHcCMHgppeBpafKia+R6UA/UWLQQuRGQXgDQsvWNo6KhpP5x6bcttzcIF9o56IMyxABa
	Xg==
	</data>
</dict>
</plist>
