<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	Dwdq7l/awE/gXW6BeO5AFSfd32WDfelgCUXiveyKbQNVDzBrgjUf/kAGCfM/bJ5GDcmj
	mYcDLpLXfXp21OZYKXl2wxxFqOp1IBcAfAm/sAg+lPV2HPXFmmW6m4l4HBUhXHeM7d/I
	jK9pByb7Na1N0tUDpfuFieoKs5kEV735Qr/kEPcjZFqB7PXuOx6wHrlBulJiWllr5RiI
	8MiM9fHrqh/FF10L0UT/UxtN1/7TDx1w/izrev2lm9lnss1RwmcujkcGdtgbtfOgfqok
	N9BAnqlJIvzvMlx/OvgGHKSibQ+F2fVKV8iwNzk+ig0Xv3NqKoUIqENBQAAXINqwqUqW
	8Q==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQCQJzfYQLwBx4vFt7irShF3b/C/Q/K9nSCpoOY5N+goSQ4ywYisYXsGZFvwcPCR
	zMcCMDJeKecQUob4g/YgjRfIDMq1HzGEfQWcg2+vF5UrWQPnnUolXiHa+SLldfNrcDPf
	7g==
	</data>
</dict>
</plist>
