<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	o2smMEBQgB/1/U20BWI76s7G2A5zZIkbgb6kMA3mf+a3lpVnMHrBT5exDEYTJ8mvyuJf
	RwYeuVcngTEDqd8+1OXs7olfsoTv57CuRiEKsIO3uh8bCwCSXsOCpj8K/rUCdyjS8AAD
	2BnffhaE9P7oJ/QTDI4xwyvUxCbDaO/YDh1uhN3Zy6M1gkaF6rKnOl/K6sf6s2dAfEfr
	yFFalvl1EhEUczGUrH1urdThXlAEpahTKgwwfCOpukiEXGnXgek+9axmXME4joKRwLJG
	pT+gK+HMBXJ8z/AeTkxNr9Z1ZxDF3RTZTWj+Sy16zSIkk2Iv0YirnWGZZ5RqvvCHP2i4
	GQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMCxQRvEzBdXKgalXWTKGOoRHPJnhBZ3mksKpnNAo3/csoodr4l8p59X+Gn8nqJ2m
	eQIwUTv2io9/7H+IB6627siuAypVWZHOxaX8zom6yGUY5Txoetg1EB7oxh4X8aTP7+D5
	</data>
</dict>
</plist>
