<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	CEwoUU3gmEwcxg8z4kiXdD/fvMfQPGvNH/8OWwO8OuSBl0X34PSfuvhpx8ZxZ1AaTiEU
	W+cnDOwNIgt+dqv9Qs6j8+EU0sCcrgF82hdj7XcrUJZaq0sb7vYbdgJRzlY07o1ZWwja
	o2FbwocgOnpT1af0f0aai4yX8HZZL5vaGumV2xzMoOD8nHQ8noBbnO0PdZbGSyrCjiqR
	2gmGBTykv5aIPBy9qO9DxQZ6hRxwqCzPQZV5o5hZ9Z6mzVtnZkbYr5iAc57yoE/8iZTL
	/e0Ie26pKpUqwFa0Gx689iC6FNin5Q7TG2v188tPQb52i5lQF3S2AXW9LSXjo5rpqlWF
	9Q==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMCUOxkvddpcXr2j/lgrKNQWEOoXqwhg23rLMVhdIwjQiM1tBNjlnH3obMqj73mFj
	lAIwFwHL9boOw0Xy7ExXlKpWfWjes3NekBAfb+2xxExil5XtNdpWAMw89aEVKHWwHEPq
	</data>
</dict>
</plist>
