<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	nTm4Ei5v4EjF1OQE6JhC3Qc7tyBN8KIt28LxoPTFEvcztVAfuUdkJMsKAhdLSfj9qt1B
	KfltnaTqc5yZBCfhqnie7mCGJ5FHw+Yh0Mt4q6av7x+PkrR4fdlF9tfs5HSVhIKN0oav
	Zqy8l0rRfFc0P4CAKYySOycgdhBRuu5U/eRc9b9TbszbqdzaHIiyvpOVAimhLMmE2iWa
	5diN3fenN93SDpVlXmoARUBKTg709polmPoK5+xqjWXcL3L+GrjN9u6LL9spKL4W8R62
	z3xIu4zjuAqGzXeA0lZSPCuCe/Ef/Nm/l8ZeqiHjBERud3DPcXvoR4ITXp9Q9rcNDWNp
	fw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMBfaNMesnOKmAeNdGJnF1VpUdGrLzVvZR8BBGePPKaP3Hpvgjd55R/i9WuaPnrwC
	eAIwKhDMTp213JpnkRNX00/OY/bSOo8tX1e30tyEAi3NzlcEGErkOtjPmitfEpPQOXUp
	</data>
</dict>
</plist>
