<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	0HxC5tG+gZIzFJyORwwqAtltiZnjBv2V0EKAFFQ+///HP+8X0V0DsotcKHZJGaSWGPKx
	d2BApI4QHjFKF4CRsiRgB3ZK3NAregNbVsT20X4XiqGB1pJuowUfZhAQ1jOMy15RKkyf
	pWbeCZrMWyQe1/nQnf/uSpDhhIe/ajy0DEjvY5FJyRserdi3Ax6ZRic/N5Jih669qa/A
	/pXX38hu6BVc+lbxrq8QqrLp9E6A9cvuT0c2xpYUcx4AFicCsqPlAkJoFoIxOTQxqvOb
	VuTnu/uaIAEo1D/CRBTf7qXzzYWYZSyhkW8fbudI+xHE//u4vpglVK3vu8Q0oRh+4n59
	wg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQCtc4FRu2Cs6JxwaSolKa4CpflNo362EyZkxXiEDxXgNt1MMXj20JuwMUq1DFbT
	91sCMQCJLioYj51CzEdPsllzvcR3Ti+I22FmfGZ81R5fhnMOVfH5vyUXGtktqyek6rTE
	sQ0=
	</data>
</dict>
</plist>
