<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	w1TdR6foy9EzKtkFEqRwh5pXuURQcZ3v7EFabyjx8rsnTvLwFW7QiyQxRl7cIkdrOEv/
	/QmwEx/hS3hkolJuwO9Sj0TIsUBfSIzHia7WAUND7bKyslQ5SGwilUhx5qQxkkl5c/BQ
	lbbe+RieNwRxCUr1Ukwnb+F2aAgbP986QwbfhygLh6NgJDZ2s2VplJqWH5uEjWTK6vSR
	8DUx5jPnG2IDgG3oXLOKvesZgtEI0M7Tng40+eSEzmot0FemUL8+T8XzzCiUGDJiVmgO
	+I/thSBqGRFbpBRF+mY1nPfwMEGMCLJQF1ISDFBSWTgiVrFzdczA1jWX7mm2euJ39v+X
	Jg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQCR+ntsZXt3XKs0YwlB7aicLeh2kCQoUgfqpP8dELn6oo54e64gZHBM99pkKFbM
	+0YCMBE88cnAi13xzI/lu35bvLGCdfkpbYMGR81Mz+1RD80TANQRBHq48OfZPLbSeizu
	RA==
	</data>
</dict>
</plist>
