<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	5cnaiJKz9WFjgvvZut7qJ++2Scg9103c/kLvT60G2tLdn23k3Lq8A0NU+zfTJKGYxYI5
	gu4l3X5zODnj6IlqY0DtqiXSSXjI+fGbGPPWZaQuSxmr9u2b70sFJliwUUT0vJmoHvLt
	1Rol/al8lh6GxcDkGB++M/VkVTSCLDzsovyeghhx5x0JKzTlIeUdZnKuRqmbOMmhs1wQ
	cMHB3Nx0DuHhN80U6tjOsqr2Z/XNeEqFJnVwOFod27NGUGfX0pFvgfRCWos3YitX0VNa
	jgBKfFIdPTUOpXU91rrUhhpDqZ9+hhRrlaQ6latg7mEtJM53anqiuY/Anau8wxPQyC+5
	jg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMCCQeH99PQqg9ls6j2aycCtv4dCq2pkK6vacyK+L1iNJ16GyagNl3RBrcwSYpbdj
	tAIwLJS5C9eEJerXtaR+XIp+cHI+cUJh7IWFnurih6IV+ave1836JVyqaKuLQvtJwlb1
	</data>
</dict>
</plist>
