<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	bO1M4NJ5R+6VII4bU0m2HICHuoz+ZswIR/wRG0g6YZBCdPvEGIWGXXOE/lhYGmXKUqN1
	ysGQ7sbOHnk7+uTpVSMC/RWIOzrDjhl//fV1RLv+2xv2eJu72Gzq8sO4YBiJWlaA1xOH
	ECHxI3UP7CK7oKGnVdM1GpZ775tewT34d1Rk8ei7jFqw2i774mMFTMkrT3EhNqoGNh4s
	FTC3igWogGMGwJPlgc22wfHf+gyixrllzkO9l6oZIMShXMwrABcJAt0GciRBQO19KkhH
	MvXdOlNgXwyACHAv1A1uGPZIOnPHX/gYXU4Fz4Ln7/D+MddRkRE1rdMznI3zEyz2aWLv
	hA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQDxEbzWqQ5SWLEs1ytQr+XOxLlbit4t17y1PdNQGdn0dnBtqNH80dPriiklUREV
	NFcCMDp8P8DYiMXRdm4V8UV9qZKX1EHP02ZzThr8DJTTVAP0/Thvr5ojBjdZAVFrbg8K
	tg==
	</data>
</dict>
</plist>
