<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	KY/hjWAR3DFgyUhE9+4ZnMcK0YNhKLk3lilXwaivYQXIAzIO5ANmEldNNvuRMOAUIyCe
	0WiYE9tP3EJL6xBZ0K22HtChFRJGXx8abMKXTcWJfNhYccn49nd4xs+3s2Bi5/OySXLs
	DGU1zKxG0qQKNTgpq8lGFyZNwUSblv//B3MR+uIPj/QXcS96fe6np94bbn1q093G+abF
	P5EQrjKwiVT8F2AFx8kCLNmG+1W1F8AcV664e9rREtrqA2bIB7K2/lKZNqs6kQHi6Wc7
	7fD9/nZiOv4Vyh0xiZZTTLtSUL9N5vTk32KzAJNQpmS17XfNU4Wd05tPo9gb1Bq4rsx2
	3Q==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQCCam1MZE39mMO41v2C4Ul4EaOiLIg8ZOqcG/pY1Z0u0YUV20RRtqDhw05easr4
	3RQCMQCMmS3CgKsMNe+OMg9GCWe4PKMb/eOVEtbVaHdMlTpzDCRI4wUArZ9qRHC9BhrL
	qw4=
	</data>
</dict>
</plist>
