<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	IpQ9o1WPsKrQ+OUCnzDI3qkvhs0M1gDvOsoZZMhhR3TorUSwk32uRzsxTcdUrCeUZFD9
	syucBA7j7hv+RiK8rcg3or7C6WkxWqeGukkPdnaLzgTEQ/FlZ1PkzAghFWggZuL+xPYE
	Q8lHv/9MtAmBL2RSQWzP8UYAt2izXdttJgYdY07KENazpOKDy/i0ORT7ku+WC1urR3wS
	YkRooYGNszKcYSZzCrzxQ8W8Co2xn5r9Duf3+XIIjWwLyIp6UllTy5E/95d5WIIYhGrb
	ZVODeUCbvGjUH4qjupvtCWueDKVOycdLM+aCcZv2mGphSSKM8GhyT9WqeujnaF3J4EQW
	PA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMCKWecEOHgN1zOofOdfJAUa12/eJQgo/rTXcdcoBCLWmaBw3U7UvXhNe8bwc8CiH
	MQIwRbGLbcxSZ44akCyI8vjRhc/bWqjRmaqjNM9lAXjMYw1b2Jxlossmgr9v0DgmTnUA
	</data>
</dict>
</plist>
