<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	vEJ6PRvfrz2qF3dyeVp2aMX6Z7OfOl/aAJLlUm9c4f2wNB1T8jaKuixaBkNsB1XvV/sl
	S5QYyYDRhnyy1eGKgexl477zM2QQaua+o4soqLrrReP5Ze5g74QnZfUmr+cSSjYmQ4qb
	i6Vx4d1aKKkHpd4gc2EEUQ8Z/foLddi6XYkIw1SKuxk6yTytGFC1gM8PhL+fzQ4bB2p/
	kKz4ACRYr615Ya6xZX14RjhDZcgX5msk+oscwvOo9OFSzCzkRpQqDKNe1QL9pG5VhI8Z
	VoksJS8vob6ax85ACsiEwLeR5PmmbNfPB2B1uZmPnkc7SMy3HtpPkLsqYv/GThrmcuHV
	TA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQC6VgAiGpJ757j+ZAWXq48/UnwOLxzDTmOXt0HuX2DUWdQT1BAXC1PY8KOGw+TB
	RckCMFnz519fPCYHvfOYNC2JKXCMG9XYDiYGsHiT/p3mXGVGEkt6+zeHRo17AqbNerHV
	4Q==
	</data>
</dict>
</plist>
