<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>overrides_V53_V54_V57.der.pri2</key>
	<data>
	rliXmqFRXh7SkfTPqnd8NcnYGHlPtIW9xXOwle0yrok+arzhHq1HunyK4kptJD1p2p7i
	ARPbxAZUmorKWw16NXyJ7o8iVLrStphF8enSkOKGDBsbJ7u2PORIggmVTougaPassay1
	wNy7o9f7ls6TQ9P///5Kjckc/UWFHiMWAcXIdNP1DSEF/BpvXL/jUAufXXwSgsAQzqRF
	78a09Ho/FW3iABnQF/p1JkxRquPDOa1NhkNe7rJ8UpiE64VE/sgis8JKxsva7P5GsHP4
	Gs89+9UyXxk/85En+HAaZ0vXucchIfttc8WRvgapc8Ku3E8NWHYy6IPUJTy4huxzFxOc
	lQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQDPYg1D0rX/+V6h+Jkvfg3+jxxGtw0j6z52PDwlIK4x+yq0SCYlBsuIuNlTDsA5
	ZtMCMFTGErBWb3WYV9FEr0YtBYZk7j9N/x8QMedHMjMv58aLIhphVarU+7/LKSCYe3pb
	ZA==
	</data>
	<key>overrides_V53_V54_V57.der.pri3</key>
	<data>
	MGQCMFrVadYRz80y6JvhRqWEIKXdHiZZh2XAvm4RI7wDBJAT+4f4mX3YoAHDKO7MdPqQ
	5wIwSU9VsIUpMsodfEq8NIlkggaerq1zxvHsl9PNQo6KlyThJvZ4bNxuRyMl87DGOppF
	</data>
	<key>CBSignature2</key>
	<data>
	3Yn9S0m1nwDzoBBsNzPB2kuSKYQ/3mx/sAL+E7LDfHbpd6p1J+ohswcyZKOhcbnXOO+8
	X5ql9ZL6kJqX73+n3/hVLCoQgdb2EdUK8VtDKe9rBR3Lo35/l8677taDL3d0DpNNYkVk
	E4sReUkUGgeezA3HOpBpKTUqYSyfJ/a0E6BOSj9kWC+ldBqkM/uYDieoJDa3+piBV64M
	jnMCE5TS9EMQ/rYqbx7/x6b5zyHi+0cypFaTzNPm+k2CGQ15IUrK7H1wumejxmrqK91Z
	+ZMwiHcFJ2alh701DHAwHBdTEASp63o11tVApoLxf7hjeNeLGz2D2e11JNzUyNPK068b
	ZQ==
	</data>
</dict>
</plist>
