<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	1ctQnKpLT3J8v/VmgatnduJ0Tl2Sy+FXr9/hwoA2OZ7EOmgIbOYZzzhgsp98DGtJ7VO/
	ttaHf1YYRnOIzApLWnMkBu04IlwCVz+6VJmcZKwMKV4EGaAdOuarf+g11gsagOPRII+l
	spwR4W+z2fZx7tUadMemwuahcGVu3hjrS9jAp5b6Glbz7V+R+iYOdtF3f1+BKMalsGFY
	qwhUrb/D7tn+tXmmxBEs0cgxo4zWbCPR7O3rYtkSUXhhq2yg8vmzbWYjirYr8ASWB+tU
	txLFs8aorAV7Mru276ze7UBmFkk/e0eif71sjf47RGJ7+BqOs2dRbEI50Qz0aLC9HvIO
	TA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQDcbUjLwSOmutfFiI6sQIvylaHgoa2cNrhy3Mv6H6fxtwy300Ka4t1rmW0YWLfW
	+jMCMAtApqo+uQyJZKNR0EEc5gaN1JEjiVaP1KNCaCAlAd85iNdGP/vVx8hebmgR8aoX
	Iw==
	</data>
</dict>
</plist>
