<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	VBE035kIlyuiDpeu7JSf5ehZIZNhm6u6Ds2x55tpAKK9QMHzC++oVUoaLEHs7sDiZHlA
	5H9xTrpeJAxnmd0H/x1KQ2cCgW4LQ/FWHRiKTrqEiiclzpglI0Z7kfA2X7YsLIntoqJx
	6czanDdXPPW3ibnBvio7xM5vVroexo/vUnEiyNMNyJxCj+zdiSdXXw1ysL3G9O8LWONz
	PeslInV1rf5/IlcEAypGWIKXwoqhRLtQneXxMZhgPL5vgoSrvuGl2+4vrWZyQ2wbtjWy
	jK43iiCn8FxKdMtYhhV9h/KpV8qgHWDJ7RDsJcJXxrBr0tyxW8XrMoONUP5cNy3hDMpO
	Uw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMHmqZN7Gux72CItPtXpc1cZzGgs4SLgEIg75u5miVfjwlSIL33AUXBJLq9UYQ6s4
	HAIxAOk+/TeH925RvQn7/NotkvE1/9yINI9yW8APrXhFAj8DrT65HSapoKW9ECgq+vVY
	/w==
	</data>
</dict>
</plist>
