<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	LQynQx3929CMpPMw4atKtMFGrnw1pgMH8YyRGKEH+AMPd7fXA7PjqeP7LQSnJOJwP+Me
	EHIZjC7Mp2UbAV0sRMNbm2y7xbgpJnUcyuR0pli23bkp7ypsDAzDx8RfSZED58pieIFy
	T/VXEKQR9u19zln4S/X5N6LqQ96gEMhnyWoV0C8V3vOtbzy3K3D2kCNUxi1/NtSgMVUb
	VHZ3P8FM3dscVgFZPkc8Tcves4VquPB8sNsRSNTFf0nCSm12CLUeDrCTiaPUJkZBBlMo
	uKlHb01gviTVEERTdznG75WhtWroKGl5Nd3gYqOvMoMCwlYpw//oWMHhMBUoWj7Lv4hv
	og==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMCXeeiQkIDuahTLr27PS+IivSuhO397yVfjsdHdEbhj3f6SvmTh25TKEZxIB/WsM
	9AIxAOGqVolbpR2hOK2P6yTOavAiKwZIPAdivJqpasJwy/XMJUbUkJ5X0RyChsasOUQb
	/A==
	</data>
</dict>
</plist>
