<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	YZRo5UuPzkCoSxmQSkI2nsEeUszpRR4zkmzeAinzsGAe/Fvt6tfHaeHE8al4MKonYuvM
	BNONjLIoJOmw1ytAR+jxfYDcd6X0nffICFwl2jjb3B4clpIHKgD4QeKLZ1inuzEoDpwx
	P3YIxt5pHYKQMOnf3+fydCLafDmNn8b/9+3ygn6+OA6Vv24+4ni/QdDsxn3RTvFQiS0N
	G4fFhw2MxjXTwzfRvJvyuYBwFkCwuD6PmMmSQkMQ6BubEOGQQXSTMPpjc9qGF6xmrvbh
	pRzHXniSA3qOEtw6aKJghTPKdFH1WO+8zg0mdvLiKP53nBOrtBHICL9Sku6lReFgq2id
	uw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQD9gAfcIhrEuRjn+5pYkkvWqCHYM6Rla+HlhVItnr5HN3nF482eIyUlnrelpPcN
	+f8CMGlsLcy4Opaaq0ZDmWRriKbAicrUqwZ+uOFA9D5r4Cp1umP//CKe+kIf5p64STzp
	yw==
	</data>
</dict>
</plist>
