<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	QEy4u+Z/9J4zNY/pkmMw3JDlK7YiTdXPuRA7IGOZJ3MW17QZ+VmwwZ/hhZ/APwbybHKw
	G95OP88P7dUQ4gqdBI0bxqUDVf75w+lkXjG1RtL9aGvPNnPFC6aVOqEgidem6GTnAcYs
	JNgdyCcJ+8rRofHbaFJ5e/DTPn+q7GaQ6e+C93fWo3oTYJB0YvDACN7qurWGEGMXIsi5
	bvR2KiLyjE/jsrxRDmhEtL/7zutbF1jvWEhdV6qriFTBx7V/vYnCmoZ8955oBjsh6n48
	8PuN96PSyZy0DC1VZBOQb21v5BdNu/LZBCdMaL//DgakSE7u5y+g8E5ew4cF/1N+p7yt
	iw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQCtUo2ySyDgmUgkYmdyZvMHGmC6AnmW3f4Ntw5QQ0M0K03hejeHa79sQmFDPzue
	2S0CMEakWyUqjPZdCnhI9aK9BAbfHanuuzW6eKfeQ+sGnLiT6NoKzLLi+laSHDVxgquj
	pQ==
	</data>
</dict>
</plist>
