<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	dfxdjj3u6OFzoIkEJE9RqWFoBLXBiB5EYLs+KB40Su+82kIQUEXY+JO7jcw0Ki8vRtWa
	E5kI3Wbdqijhse9RU75hmkUQSsII35G3Q2meQHg7mlVDMy9U+I6l4/+LwF0A4XbB1M+S
	924vR9CXF45bgivqV5m+knOAnTRTTX9E4dL2NY799FoHdOC3CD05j3eyQCV/nhEdJNgC
	y4tsoX+IStMS9haB7BNTmy5xZJCSjEQnjXUtQh7eN6DyaEn8TEJGCMti94uLbw2venOB
	Fpbki3e0Wpdip7vvqPDEm+eo9+nsx8DEEx3phh2p/jt407f/sMpGvpO7QLWIOMjtcsxS
	nw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMCzb/3MiW6MqFiPzdZJhhU5AJmVrdD2ctW7/0kl/5K4qdZRvJbxCC6t5yZUWsTQi
	jwIxAORfMiHZA9Cl04q/19eLZsx5z17ndm1Ldye4hMAvTIipfTVuEyDthQMJa2ue7tB2
	ng==
	</data>
</dict>
</plist>
