<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	jN/hPwj67+E4pqf9lc6vJPJ4lKj5KdzrURQAmJdMSJdqq8ZGMFukfsvnWH0U9E0i5kuJ
	//APQ0FkkKKyR1YXgvOp7AygS5z0SKYkkVXC5aB+sDr7PzC9njWBw6xeuPwhBzYZLo/Z
	q/aKYezDQKQ7bhYbAxqZxX92DUQSMHoim+HuJbk3xPqpuFtngbQFToE0W7FdnrXcdbAZ
	xurE1tL1pVKgIi2Hf2mIcTxWAXCSekQEva2juqC0Ir4GRFgqrzXZEqWZxlQUkCTezNn2
	WFURa6eXoIcJ0T22NHTEbVt2W/sNzrEgou5TVMBaKHt+kuWOqrZMr9v10LatzCItOKRw
	vA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQCInCkmMKrRtEgbmlkVH/XWIwXje4sQ+TcSyS1iWrUYz+KqjTKjzSfqSBX2JgcH
	kKcCMQDXVMFQHn3pMogxJDezqODxXTuTBXbBwDqOnt1surbwKLFxFMpYNfdwYTKgCTXV
	4Pk=
	</data>
</dict>
</plist>
