<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	aXk8auq72Ckai2JCLgoqc/z1iytK/FWgD0odWYSqiHzvotLngPE9gST3/HMqHBkXSIu1
	zyuTBQrTbwNR08oe6fCku2rFA+UFwYnC9YIOrLbUGPE/F9rI013XsyChA8fPkr9CMS+X
	G3UNJ4KtoC85bQ9JbMJ7OnZrtTrpi0bNycoxjbVXvPVoAkExA4AVpxqAvyYFJh9PEi3G
	bQsZDAQJLeXrYtWTNnLM3/u1Vsj92sSpzNttnnCx2s09ausoggAYdzSviO4+NiQObAx5
	QBVhJ39eypS1VZFdqz7UYCteoy1YbbM7tL3+iAXTPc53UoNTTLHLQXuFBfHNXnD2P+6y
	Lw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQChk3X5DJbIGyeuArF1SwhFn6o2dqMtmT41AS1u7ZaOUlJy3/1Rscl+IPIl9E+K
	T6sCMHBIpmNRRo4w6D7m7PcyXaJp6VOBvCV93iPXuWyQ4VT34gUU1vnZFXbvKN2riVR0
	Mw==
	</data>
</dict>
</plist>
