<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	Qsqz3EhAzutz7ws0SByTqdFqeiu5YQPCBlK0O5cN/H6HE+Ys7NtDlWiDuzwdTCtiQzfG
	sr65v4Y7p3gOe1rX5N0i0scr4JAEcQqMneX/MYqW1JpaaY5hGlHaEkF40EEw0A2oupOf
	t1nh91JHQKC2NlpGtK6ydoU+UmqqZnXoWnktvlCztEpFt3Av+ZS2QCH/wMQqji50aHMW
	55FhrOkMU9F5uGLYJQA94GvB+r12y3PIreK8XQkdsRt2qQxXJKpZ52kN2ArOTSdZ9iAT
	/bhcQoeYYpws5e/De62gIw+viXnZlxvEmbEK9C1QDPlooets+nMDekrCnrwNIoUDcmZ1
	Rg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMHXMhOuJXuxHyxKG1C0qyaV5a/JcjSnZi19F4Sj63l0/7+T/5fdJ/LQU/JroWOWb
	pAIwV+iHS3NFizHP3CjBzyqjeGEEBbjIG7DjI60ZPyLHqaYS3+4I3JTcYzErjjR4749J
	</data>
</dict>
</plist>
