<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	Zkdi5TrCPMJcS/2wmDvsxqwq4S65h/zW6vDcSXMGKqxIAPUobiCtjN8GKPt8Gx82LW4B
	mSWwxHCC/+6moImSz6ULSfZSY3RXO6xGwe7rbxVuTEi+ssUtOM9WoK7kaHSEQc0cXYQ2
	AvrbW8zmpAPhXtXP6SABQQmWFCk7PoLkk/fZ7QXMkYuAnCHcdIRNPaH16yBHC9SJPByZ
	BjCgPpmf7as0Qr82TOIq8omlkgwltA45YuajDNOp+8orKsx8GoOf7RdGeBroWOqaNBHk
	hNh8UlE+H8sWkbIhYj5ogKX6sMKJr5sVQgVTOy2Z2Bnw+rQeyo26vGj52ABobXUPYQaV
	gA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQCTu3BT0NW2cWocMaAte7cralp8EwdQmtnlBtHlyE/inUVL3f9EhXWno/fUdOhp
	o1MCMQD18r+kE4wqjQM+wUKMwxOAuQsMs2t8ugCodXF7B+lu8cXwWdQq8fMhC77o1XOq
	tQE=
	</data>
</dict>
</plist>
