<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	j05DskYG4/V3Wuzi6dE4YlRyjxxwu+Pm5Oo6zsPsr6u4QYiV+PQe3plJCK7fOngDQmys
	VY/zTplAE3BzkWokj7svsr3wSi8VzltJ88oyO25JkEVqVuAIF01H5a5hH2Ne5JKR9AAI
	zkMH+rU+zMnmLo6pK9q2o0uwMSrMAnUqi7WUfKKtS9KbRvxfdTEQcc3iFbSIMDXEP7N7
	oEIrqrEuQNReAsyxT1sYGKSv/k/oWWFdSddg7flY2Yn6o7MjhDutyIvbs+Njg2Tc4LkL
	0kR2cFZYVkJajtOS5A3+evdHdyA47PJGPAXzHXqkvvaAyDZNVGgb7DNJgRxZ2JIfrCDU
	bA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQDd/joXabLEHviNc5uzxqx4pP8+t+NMgl7/usEner4uKfBzVH9UpKS88y8LC/+e
	vLwCMQDmrqzwAe1IuXzv2yAlEEXcMc+LR7jzoK7j9f3aXLt8bRw3aLL9+4KQT3x9P2tl
	kxU=
	</data>
</dict>
</plist>
