<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	6alqzQg8smhFhAdZNBgpF5+zooPq92DjLE7uj81voPf5xIuO3nExIZAp7Q95Acf15CoS
	YLbH8RhlQX0/LcMaAY1aZo/Usq4x3m2CUeGdWnjtTlwnG8PRNWgJS71rtauixKBYytVo
	Npaz8DZgHSVSYJppA3Kgh11iVHuwzgZXnHJMO2rTCd2/gvbQG3IwdVb0NeHDhBpgDm41
	BfZevn3inDmcx5MaUIbr+Z8Vkhgy/9rocoFT3wk5fxcjGqgBFAsdv6T/Co0DJXb5zp55
	I+6jhHPzTFf12DXzLnmhGoiE+VruaFeNEvulWVqUlRcjW5nP/QHXCu6f0C/HGW9vTmgP
	dQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQC8EcsDUfgfZlqMPLHTYqvKUWwzC17pmB3MbkJD9I8Fegf8yeLt2RDKrbR/+f/y
	O5YCMQCNiQysApQZ28R5lRWgHLBPiUsz6OH6NblKurHBKSW7xjZmiWhzKRO4mJLASjKh
	uOY=
	</data>
</dict>
</plist>
