<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	LJoHmF8BMR7TyQ8Et0t8COzy8bY8oLFaGF7bengTTwY5pCmQPeFQZRn6sveXaV8D9oOF
	SjRswLhgQEfieg0ZiRVjyHOBaLYdwCBca33hd/FaPrfyK5rlN5RHGcfrVfH2kq9ovC0f
	fvIUPtgej1i8jsHtPvDRcrOn+AqQDml+THRnR5iBrliVzHcm/ErNYoC3uHh0Kr9W/9zl
	2Y1Rr9JHLdLaSxVeJu5MsFcJ4iz6HbPiV6qu2CszG1F7Y25Jzy3D/6IvTcCCOnRf7T+x
	ytYpuyOUlS5z+0oDZwHpFw5XOMoxTQUrB6sLprpn5EOU33OvAmtkHzMef9AdvPXpTWo+
	eQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQC/zdHgD0uawC2LO+M20JOQHhbo76d6FRTxEAvIgwMpT2y5WtSD2pM3n+Hz7vTk
	MScCMFVhaiooi5OZCcOIdEeLskYhF/sZZ+nT1xW4ascYkH5gAf0MsyIdM4B+hk2lPTzl
	cg==
	</data>
</dict>
</plist>
