<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	dC4EDeiRCjBFmR4RcJozeOBzaSidmNrygwmiGehXWfdmcuNLjZrFejScCx1x4XHeByEA
	viENVKf2uQ1JJDZGNdsGM9tAYR4E9YT5YRtrRJY41o54DFurfdPqjdySOBYZMmAYrw1+
	h/g+GCG7fIPUm34n/6T/nJy7SbcOLOoQMkHUWInnqXNpvbsIMOeVPCT6yAYu/H0mkCi0
	8P6HsSrSRsjup4goFm/yZakzowMpbYCbAaOChsA/qpAZSrlTyi92MemFarA2fuUXTD+j
	cqFrfkDzpxuUHSmb+UOkHOJx50SkHkAJO9VDusQ0X9kpigIU7bcLkncZqQL/HH66eDOB
	Uw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMG8wwmnB6mWJxRVidW/xa47vYbIHaWhhBlSdc/xzTvnQO+C3WZjEHD8HS3SoDyMJ
	AQIwfd/Yb8gWg3E6fDe/cTkdz9RbIlT5LkJidqMlt0h4X9CEsuE+OA5ioGULo3G4IX+Z
	</data>
</dict>
</plist>
