<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	ygNg+59lZ7VTyembAFGX/dpBOaB83eIZ+lXBlUF0tMrblvvJiIxJuBZHQieEdqE0MD48
	xKucCf3z8ZdZlTYHErYeDXr0nix1inUxNlIe6GfSJ5TZxeJwSihkXySbF1bMjEBOWkvJ
	EkxT2aAf9CfGJ0M6uLy7DLaOtfnY9Efs1/kr29cS/tHdH4bdE/aZ0PAvLa+ouXZK2hL2
	EgVje0lvbKIPFWiq1PYBcme+3sQsIGhkMOgSohuphDQdCrAyGt41F3TAsdaTWa1F/anj
	IYuI0HGcylR7FE4y7PRobH+Dp2xemmvxFmHmOedUeFPtVrMcYYQIJ8MJKuzEFN+7AE5k
	WA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMGvLIiD/8bdlCG8vJlR4oJxOo2oQY40PUybwXnPvEyWX9Xe0ODjCtdXh45IF/5Cr
	zgIxAMlN42CUeUJdbhEvEy6SFC/IiyZD0sGpLsxSqICqVyZKrh8/7LrsAW4GzGDp9SnL
	2Q==
	</data>
</dict>
</plist>
