<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	xTf2x5PztZVhKMFqVamsuDZN9tkmn6hYRG8FNFOIrxsIy3o4HHa3cMBocFKvYvpjVrl7
	MAJOpKMp+JhDnHO3JQ6hEtd4iG1WdxlhP2Y2WRy3u7h3szQgLzg4d/28Z5GJTkrvDBw7
	xXHogfdChIzX/73dY9grJpc0+6S5SgXeK3xurXhQHYd8V6WLjzB8sw65FXBT0qiyj3yk
	IKVq3PAmOyqxUag0efpDV11fR9wsfTG8BNKPtFRVt3d2HrHsE3yEHMhSG8dEe/9q+c+g
	pyObZ8BC0Y90yNUi40a9fbxPHIYGSQf03rNCC0zDZ2PeYotHYzSpRGu818HzcT4HyZbV
	RA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQCJ2gSsLbM4eq+nPOMZgFY6PaGleZeagfZ2YJTr0QbgE+N08eYLueZ8FccDipIU
	2ZoCMGedWceha8VW1/Ls27oHZ54N7SrM2CiPWhLVMMC6w6z3euN4dQkBh7ae/mvvvss8
	XQ==
	</data>
</dict>
</plist>
