<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	qCVNn9f12OvbgQiG/wd7GhAyx7B6eLTfvoemb3CFTbJv2Z7s4WxcdwKUtUmzRatXncEK
	MBKmkpdjmK19rqa+IphhK1bq4mgG7liVN9DfYGXjhVeFTT9pDAVOWRUR1NZ1mDqhMjUy
	0MjEdJxOh7BeHGgi8aq3pgeM1KtnudUrKzDiED8rFcgrV2NjKTlPTRGwCTxj0OHsg6iZ
	R2O4QoIgXjCH0QuRbMHxK9vq9FxlcIYhcpnHFGaXLRhulykw+sIoAduiMW37Dty0lQKH
	jLPF+QgHrzlrvFEmzm+jF96TUgXO7SY0I66mFbxmI6stwOV7wVhLPgJ0N+5NjZ8LyFIj
	gA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQCL8bbX8IJdMtzvVLuD87oi2BXpuEzWcPpnCtG3owm/mlP+50J7tC/rz/M6K+n8
	67ICMQCi9R2ck8v7a972P+lhjmclxUaBRhIoz8qV4h/U3Nz2mROJr9aiBmyx87T2JOeM
	n8c=
	</data>
</dict>
</plist>
