<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	S9Gr5FKTUqk32WVuuBM9Ko2QwAxnWl5+nvlOAfWEj82yBHBSQW5tFrhw3PhefCXOkPrn
	FhnhG6sCGIx19fS9jWHNW/OP4ANqD0LS1DWxa6wJfqa4pSLub44eeZG0Uxo+48iUqbvJ
	CFn9wWueqrR2ObggDsxLH1+7tgA/HluCjmb1/pH2AETvhoxc/SDv6+6A5TcWQpGZw0D0
	2Qn/BoTig3iaObAiQ+88i8BBlY63J2k/q8aCtaUFJczESwXu02w8RNMItDsl008UdNcF
	dUlDZMl4yr2ZdCMeJK8ZWK5O7seyhZ/88CsFJbLnKNvEbsYOqxfmkTN2HGyYCKVjk7u2
	8Q==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQCBmK1THtbvrJcDoyygJHREpvNVLEbQQIQ91KddBdrQRFV7znLzIKVyWP0tgCDd
	gskCMQDbRrBQXwHoVIotJIJOszlaaNbCDFb1SQKvKz/WhXSGelgzwRbMoRQ2HOjTs42F
	BXo=
	</data>
</dict>
</plist>
