<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	Si7HlUat74tp6jjUTzBLpmNoOO3X5WW8z2oVsgbbuoEyqJAD0qO9LLEpRan+3xJ6MpGv
	GPKJ1bygQCKM7uSxvZTJwqX5RxaOHPRFzF/BrRmsagImIH4UVz9qOLyNVFCp0O7S2vtV
	z5taGqwlstbHwpcg+gGCPcE1Qr1tFqBijCpOsjoRMUiM9QOX1vLCwebsYB7kmpBs9+Yq
	sWJRSRpf9k6DCWVv3BfODijU30h0DSYO9k52vksZUq/R5SNZwqcd1ZDH3bmgKbHsEDhH
	CSi5b0QeQRtnrGdoczVBMeVzbCvQweLh95TT7NEf3/JZPwW5MNlChd5jAi14GdlVVGKK
	0Q==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQCMY4x//CtwGvU9VVECMw8GfCHfrccHIix91EjqZvvUY9Jo9Mm6vAWPhQ8zYRtb
	Ht8CMBPkbPRmHGO4BzYFvJROgg+4vBN9HS5vjQpway6A2IhnswGqKhxNFxgPgV5MGfV3
	vQ==
	</data>
</dict>
</plist>
