<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	s/Hr3ucmy/EWQNVUKiiKRehbwzODBVBchtyLryxGAxR2plBpcq6GIJiEjA6kLthvPnS8
	QRtcYoOxncvUDdH2W5Uga94Lur116rmUex7CRdBYh7aZvx9l9mHYWBTElgev8zXAnyup
	LiD2fsP2RgZj+uC3sbR5ZKgxAgQ/ezGmliaNTpvVJp0n8fXsnfOY306HcwCYoL4njs7l
	Iqphzqu4RZxyp4kzu/naRiJfx/99RnuZPRwcsa0dic4tGRkBGbRkniwnqP2Bo6o95K/w
	mUCIwMt2xw1AIuo16WetozMyLuBYuiuOi9WAdbRrHpyeicOuDAVjjv0WCjObRRUh6pbV
	Gg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMHfephipk34CNznrKSSumJFmtN2AeQRgARzppNFuzNQLnw/3jQUwmFLY/lA3fISy
	XQIwXRU+azzxECTsOQbuzcuqdwOQf20RlYGggY0IHxVTnrh2vEzZQ+o2tikHLFJTBUNp
	</data>
</dict>
</plist>
