<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	15htXVeXRRTT8kb/13uPJDUACI++uKXjuHR41PCap0aR799S0I2UYZ/5dPDaUnugEQAa
	+mn2UqERHmbSwjg0IAbS1eda0u44WUDhK4eojP5x9vViP/HWemn0yVDAQSyI5iMS1QtT
	GOLc6tPRjBPIfutvTIRUAPjSMoObN6Mlne59hsGGJA/HOLENyokxYQ+hX+xaPtslZxS5
	nNCPBmZchCZ5BKoVCPknTgBYEdIX2sy+e7zmBalChrsbVRMk4/dhO0A/a6QMbEl2z+0l
	63OgyLlxiw0wY4Fr2q5jIIgzI5IMVJgLPiIy7Rlbp0Wqb+vhbkXi+RAe+JDqZ7tIV24W
	TA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMEdT420uNZZCGCHXMGeP9Su0pnGxoQUr+zoP1gVCynXXnesHhoJSK0vxWmR7MWxI
	oAIweXRx73aK8DaglA9664mc1CaGQjuNOHWUGydH1jg+nv82vm0vYrXK0N1mEBJC1HJT
	</data>
</dict>
</plist>
