<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	UQo/4siJBt+6pVXscxRJkGJgYasUi1V4aVlBWDRHL8hldPw0WEPIzvEnSb3pUq5b0g6h
	AgDc7rvsoyYGqe2sxbBwIZ94G73PB91/nH4LM9ewLRdrfgiXoiCgaXuHx7sEmhjhTrse
	MKup75qZm+cGiVejjkge0a5RlDbEwCS+ecwEpflmNyH+Wc6wO760fQqLlKyZV2EFfWP+
	VR2qxcMy45hSu0ekvyBKCklvlMmyUdgTF+SB17kh2DmKrAErQnjp7hSUo1om0DpoCL1j
	F0EPEQRkLTv5OX/5ajm/4/cqCJOosBwSHrUv+DC3/f5ivsGsaRXgMUVWQUBXOZHoUbCD
	vQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMD38WxCd/Fyeme4N/XZKS63PPABtHr+cZREyz4tTAtooZpklF4Bw4wWsWFLNjuXr
	6wIwakxf+u8sGmmUvZRW8ja52bQr/3KdKMo7L0L/NHhED9VjJ3KknolgYYIgCqcsp5vL
	</data>
</dict>
</plist>
