<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	51zFC0R6XJsyMfUnORTyI+hM5dKPyT2fUKy2hzjTyLPJpJ2d5cL/6M54sQShzwswbhJd
	k9YSwveIb2/aIpbuXL4Y3aKd5c3wjTPOP7ZF91s7EP/b1EWSTzYR3Ld95E8xdF3r8zTX
	SRTcKtAXExrAsr9cuf8ai5YqCa+V+V9yppePgZraPrzAB6vmHT9NYzAIVsWsYj/d8nOP
	gIo5qijJp3k49c6YPClZ18jn8g49hsm+KV2MP5zAKBmi7YKsggY8An0IHXYH0I/wv3xF
	Lyy/bU9VUiY+ty6R+bvuSfnGRBnjFouZkFBJk7TdvT9GdC6+FH4bbpwJDaZntwUMnQpt
	iA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMAvCivp3gyYnTRMbPxQlWdo4t8K0DMM9sgBP7p+W05gIXIiGX/y4WZgHAppGeLBI
	EAIxAN2swPwg+9AmOCy775I4tMiMyOCa03tYZXmajLN1Y+kFECq+1jeVpGi1F1Gk6kJJ
	Wg==
	</data>
</dict>
</plist>
