<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	yJ13+KdvU2fTcqml7DAqy4iskrUaRFxnl4CE5VZBhSrH2/5uNW6d7QsnQ24Q0XTT3cs+
	Fk3cm0cDwGwrd87e85SVQWLlk+8Je0HDpTRdeJjwp0R3x/5EtCo5u6oGggsJXctIEHf+
	6gMbwuITWdIo5x37swpNAoPE9DlD0UvtquXJ5qQ/4I8Sq8EFolXqpflK27qruSebFdRc
	tj/NJsOL+lV6Rup5Vc1a//LX5ELG4YhRUXVIboyL4cpR0Sl3ZDZZOrfX93Dl+LtHj5WC
	SCvkbe+rOYNkLTlPW+2YgFFXDW8uwuBDv9s4wuYoxDMk+5gAmFdNwZoxAcDfpN+nKold
	jQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMBicZMBW1DazOn1M6H5+qAPmidO1pkwS+cwaq+FKOjMLR1UQQmHH3oR3yGa+XYVh
	GwIxAKuagvfmvkgrzKMQ27Zi+H6GjN5T/JGPvm9v+d/wIW/UVt5HjWjzmcC2mMrf/qH3
	Lg==
	</data>
</dict>
</plist>
