<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	vnoo1tbRww1ItYCa919hN3KEwsPb1Rkd8rOqY6XCLq5TaxtPAW4Co0KXuz6IYw/JWGRc
	hv2YALM5P2RC4uk8BBi9jAUMrSNlVadPHp6ZSMw+3Ee9iKhrlYHxTS1FhSdoGbk0KXQ3
	Y9/LdioFrzqhjg9L4qwDT7C3mEcnioyBJ7fT+P3XRvhkKBqhEqURPLVday/JrVLq7N/s
	gyyr9/DINhLk7FNdDnJPyGNqhIsmu86jATQxsEKGOANeuYr1+80XAHEBUn+4xStn5U8u
	z2B4f97tj8LIt8JIcGLX8npliUA6/bs6CNFEIKDMpdbVk3fm0QnqUhM3HtHzWF/Zqwx/
	xQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMDTsoYWh3fK7mCDMX4CSqORTs4m3/s+cK2ASA0qyj9mRwEv/XFOu69xfjx2siciO
	SwIwNdASZ3fwnfAHHUE86+ODXstA9EceiyMN2PqujeWFiuGg9VXUzfyy28BM+W4yCt+J
	</data>
</dict>
</plist>
