<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	M05+ffu7jOOphyStsWiJ4Uc+JIh311huQ3KWgIoqdpu5NC+V0Gkculicm0Q/Nw15Dh3p
	1kdKc5HuqIfftyuENYwi1K8lNF4/e0ITZJFmKm3Q0DzN5RzYRVc9Ktl7hT6lxCul8UHe
	ZMosP0B/TPymnWTzR4zEAbnwNIDDOjoftfQE3IyBWRO8BPWbaOfaPaL5L6gHWaD+eXmF
	JeCit/oAzv7CJX4JdDQKo/0YXNXqqWu41jdzW/gHO4NKTjEIvg2OiuiFS0GUA6Zs9ktl
	NV3wBXLXVqw1mfzVJ5zSyzdqkAaQw7Gn7D13jrHxAaTNAaB2n1iiZVq+a8pvHXwAwG/h
	GQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMCrpiFJ7ajar5/oHhL7P0z3DVJ7SnWkxXipgtPCnPnkiK7UYfJg9LuIFc6h6UZ2Y
	9AIxAPXUNUZ8zl6hgEVo8QUVC1q5Jw+E7xz8bsOFAkVEcwdKtpetmHwZKmXJ36t7t5Ue
	Yg==
	</data>
</dict>
</plist>
