<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	WAxGHAvxbdHp5hu1kq3e2Kql4JAgWtsgCUAhSDpRlter13gZP25HIb7qFp+VlmENcbbH
	wFdu9fssNYgmibQbSqCezlwWHb3YN331DWNu6dzrBjRLN7wz/4+S1cYPP0YOnCY2VlsK
	hMEKb9Siraa7romKoPC0A48h41yS6FECh5s5JrUtr330RP6ILg5gRfm88nVRYrte2rVV
	LBP2JYcCRGgyZRyV0gt6fmziZdJO5DOGjFRvtujNP+39DIcuKmx3Wx3X8jeiPr5kzoPS
	YlXoTmeUYDigXvjLTkX+PwH6qzXEzn19MKAYmkiqi7C0sr5VmAlmguKPl77ZBI/HaFpN
	Vg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQCx+RQOoWmhM7AcOT+wTcXA0gLj/4GEf6/PDOc7iNTA4Xt3UOWsY0jKhMTU/axp
	H+0CMQDU/xLm+yMu4aJyUvKgrLkmmgd+4Ppl0f/aOunhgC98mr6bKh92jTF0rvNK+Jrd
	6Gs=
	</data>
</dict>
</plist>
