<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	thboqCNrTJxJ4xqWhi3UBaL21XgnY3N8O6z981loB2DxNqpH4FH2yYhWNBcw+5PzChvn
	DXPkn9y5LW9eWfA8Wf76veXMXmKBhRxcqAWsfipqpC4whY80NywUxFZQiQX+OMLkVP12
	YuN7chScDFGJ7m0qSOr8IFWa8GwzCtQo0junx/k8AHc9H4tydo8/17HLlwyFLxK7QwSQ
	Z2nJ4YgHTnE0atIs0LY9UpPGkNib0E5a6rz5xZpgo8d1NYbfmxsdgnFyRM0ljgx+x1Ks
	/LIb4g8BjHG8RitaHUbvotmWme1kOgo5uhKGcqrxtXs9WpOfjJgBY2b2tpQSCCgmVODw
	Tw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMGvAYoUezfqWI4JJ44jSfGGRdTj9lhXtLw67/ulmBDivJSu4np4rB3pn7oOZpNf9
	tAIxAI7XZR+XX0VegdglibIm3me+deBBtdeWStWhaUqoHFcWD24O92Vc+H3ZDX80vDJm
	/Q==
	</data>
</dict>
</plist>
