<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	0iNiEzl2EuBPeDt2dldx0fW2oYgN+HcN2jkwBDSzOoNCUZqfeVwIbAds5qBeixv9Ixxj
	8nbP6Nb5f+kVCLW/t04Ff509Bd7SS8wbhJ1cS5TrpRHn7rLfGAIOzs2h/L9aHVpvMdl2
	ip+w9ZBZNR2VlDYLDaEBxK5eEfL5gAbMqxCiulyE5gY2iJ5llgyoF3e4EQ26NPdkGBgo
	799L+PDNegAojqzwIl7+AjUSXMh87+N9kPyY13qewHU7+1EH6a1mka39+D4aSJAXnbRx
	ll5oJKm30BJZKlYPPetZkZEvwnzpucyQNgJWskYIj2M67H9rfiNa3UJgfAanFYQqD7F/
	yw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMBh6ibnrRYRGzFM1ISlkdj/9rSstivJE9DniWeQMJ/LKgBxIjF2IzIs9z5kYJZOC
	VwIwO+QFHOODqm+6Vpvp9pkYfe3iM1esx/x/tNcQkrB3jLzO5PEIt9cDhzHI5mdeL+SG
	</data>
</dict>
</plist>
