<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	4YaK2jZN1qdVo2y/OjjYoyap66uX0kPW9GMycI+KS43HPsP7px3iqA8aGR9l2p9YBH7F
	ajsMrd5I+PMd/FgQpGHdejAxdL34fhdlqUZPq75+ie++8KMrm4wdmTxLVewuNxTWWtrq
	G2hJog28giXb6KfHj83Pc0GD7UEbQVNXPc2OeI9qz4Oh6R4nysoH/1/DT8kbGKRXbJXT
	Qjk/qm/RA3YczCCiMb3uY6Bxr6s8UO8Yg5X1h0xaOeLgz5mLUdD/qNjW4wBLtaitfTrk
	VTS8yuQL/orKIGwKOfIytFvu2oCArP/2/yMjVmplBR2knNi3okXylA+JwNbbEYFC+8Iu
	pQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMDEe9pY8zCyAxziRN9P664mW8Gnhz+gDtbsYx+RRkzuJsk1wCZ6tHrE/wyOKPRMN
	2gIwQr7pzt4mVTtv8WgGfKfwNPUtKLILA9fi7e8Hjcn4H18Ps59+0zuZBDSqORgJ2Pa6
	</data>
</dict>
</plist>
