<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	UDTzuDi1UVxWAtkqlxHlUlOWRUWo6YnouPquXAo4CDg+7DOk62kI5KOFNj7Tz5itPEjA
	+iZYHuhiGF6CRyg7za+Fhts1JqiBzPbn6baGexIzNDwyWYNlrkF10tqB6+MB5vLzgefv
	vvw8Ar4xa2zIywyr3osuyZKvdmk3cy8HeWLyEBgeCvLgVlYdPK2JST8TOXUFRXfpCSVW
	o/psPtBsWWjzCoJ+Hj1q9Agaj3lTbu7xSeaXuHecBQ0ShYYvGLaAR5O5Qen34tYYl5Iu
	cVd1DlZasG48Af09SZC0HlAUQqF7XxSePFOXjgaQyuQdqkzeNh4eXjbkMlqmk3ZsGkZN
	9Q==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMDffCWdjpZS0MVyEDsHy5ByYGuLiaFODPzQUfFZKp3/gW84OOigZpa1w/pwM+wpX
	swIxAMkobkw2aAtQIRQRLJOX69ZiLmx//cU0r+UHVbKRGRNGpiZosnnYV/vwCW3rqVRO
	TA==
	</data>
</dict>
</plist>
