<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	Po6yucVpn1P7ii7p1ajb1gRWAqeeXOkHvqHcXi2h0ZwgRb1+ixZBkFTfSubu6B1La5kD
	wSOOBYbI14CFtEovckEfGe6/VNpOLM8P5vzmrJh3hU7N5I296vuDBZoInUC5jn9L8x2g
	W5MvVTLT0t1oxurDGZdvr3MTpTRlmFId2jRNam9sQU0vNg3y65szGOeBk9t5s5Lw2iiL
	6/kY8h4j7XvSgMcyGkRwW8TBDFOgYw+mfXJ3F51Ny4uto4dA4h5TrpqxBzJOAz+jLEeF
	C6XRgth9GcteQ2v4Q8cXDLW86IgjTjMRmH0d8pOKygrxQAScdWbJ6ewn7wVSgtEq3vcX
	RA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQCS5U7jF154y9kvGsi9CJwvG//fpoCqbkOSFC1xLov16gEjKxbsvWAqspFB0R1r
	0WMCMQCt06MiqmADeJrx31j/kJlrzMQD4BGkPsBt0F9SQEVWfbbXy36fTYvhlh9AXtVX
	zDE=
	</data>
</dict>
</plist>
