<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	aa1qMl54aG3Iz+EE0BgAaOqWTU0sgefGscyX+ekYRmBO2+N9xVDCVSgIAw6etQ/LkNEN
	dWlCSA85t9AjwoqPwQpuuY5SjxuUK81pejzkg7IYF5h8sCTewWAywi70x/2BF74iAT5z
	wTPOq0iIPLQ38M+nSxR0BFUibzo0Pg0SgXELSrU0navniddm3lr5+ELsvtUDs2XaJ8Zz
	FBqzAQcywa7poAiFe2UD1OTLpmZ/E7wrQLcs4yNkefkQoXvX1dYnNltVHRK9nXRjtSOZ
	wtxgy7GJcjg8RUOXju8FAUTsXjFqX72khG4FaAEDI7Ltl20q43rQZiq1ot4Yf4IU8udu
	1g==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMAPoj7lcOpLTOoThROujsb9RU/Zf673Dc/DtTDN00in/5GPy1nrddvAYOj4v+bdA
	ngIwVj6QbNL5e/aCP2zkY9AH1RQKMon9pJ36yHLAKIAJ/e/MOfVCdOyot4yDEDjbVPnZ
	</data>
</dict>
</plist>
