<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	KdSILNuyFeZg9a3/3OXdToFaAVF1z6FJAfOzDB9Nl3WKX0P5KQzh/fkD1FkOxw8b7p8v
	XsFmVJ0mCsuhpvEw7FvszMlXsghti9/SXHa8PxPT2oaj+3IZrZk/IPY1p2IQBsI8rJOQ
	mYAOK3nB62ISGfXlcOLFQKT0gAhSBxqBeVC5FEaSHfIw9aCxY9UjP7DqYWwQHd5Tfn+x
	z3ItvsFufbk43OprYrsN7hbCX9DMMFw5wSxi1Hejy2yrgXSQd1szOUuF2KCUfQwXx1SS
	ALg0oD67u3FROTRh9f8uyfGSXw/4RITekwfR0yuDsPJXOKzU1Nc35qjnoaYAgNSI/uw7
	Lw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQCc614x1R8YN4Gx9wVf+CspNDf8PeUdOg+cZbxSQXeb3sRdJqU1JMgza9kw6WA9
	zlUCMQDX9Dq7N9aPKxT2Pl3RiLLeE2UF6XbIMDYTajecjOebDQe6jXZUKygHHg1PCC7T
	MhM=
	</data>
</dict>
</plist>
