<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	foDTYqAg1cMEBHAD4cI7aXQ8Wpy6bDI/I4kjB3FsGMjr6nWqCJ0M9ebhdwkt3aAXTHgK
	P94r9jcjhby97pR3DRTMOB4Df1US8922SGM7+4tGNx0oHKsd2IZEA4WpQnZtUaXE9KZ0
	q/BMeVDKK/hsNrQxotzH7gW0FEfdafygyX7LSjTJ+8wZtGP5Xf8JA7le45gJ3lQp4FZ1
	gei6mSNbN2xvXBcCFAGx83k2dwBxzA0Cxea9o5fmhO91T4HsuuSaUqAp1c6rNCKcyEmo
	FgOXK7W1A54/XJ8DDIRJHHFyS0ji46nrcJ72Hr6YIr0HhVZq8qLISZ06oAtwGo4fPEmF
	sA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMHd3O9aJxZTNTkJfkO8Onkx/RdDLW7zds/xbjq3YVzjYsslNd6yacvp7qMel6DrU
	SQIxAI6whBCYZPdCUhRHVJ2josxHh63rnhyj99N7wgp+cSYvcqSCc5aE5Xz+2JFXuZOy
	Hw==
	</data>
</dict>
</plist>
