<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	i+CTJfF6AKwfveTHbWYSILaXnQx/aKr58oI7JpD78iIYOwNqECOU+S0j6oEstz8OfB9z
	VesY1YCpFnKPw5AmXaZEyUvLAF9MbTF9MKztwChv7BlChIXVzYLr4sNqVeDpeipMeNTs
	EDhtEjsbJYDrStLRHljFTqX0GarjkGBCj3UTC8qQ61tuCabCYmWbKszcdV2H/rZYAL2J
	wCkj154RUu4j0D0Ts+yNRJiDt0l7ldc17/B72OxavxFAwd2br8sKQ2VPfUqPPXizffnE
	RWpjZfodluOj+/2GYb1aVZA+k/ZSFs+XnD8NYTLd1+GX1t75y9TMYbXM7unjc6NSdRiG
	oA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQDV2mtTKnc9uNCIUV52RxGBgbgccAaZZWH+RNDvFRn5F1r0bX/cwi28D4bFjtZ0
	VHACMQCYe+ZCjicR5+FhnxdWGVodyaW3Arz6hQ/vjJSxB0n1SCTP2inCimx8l4xYD6es
	MPA=
	</data>
</dict>
</plist>
