<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	P4eNTJXSLUBZRhHnMT+jwyIz7qgdSFOqhpKKhFSCAwrv2DUGnZ2bdWmVOQxwmy1BgYqL
	5JPi1tnkshqxCNGFB7jn0ukW6J/HxuTwMHrQyxZortcjrWOSWDVx1QpPRp+6V8ZL2QSF
	Q3K453H+2tDfJmJljA5yBCHLmr6dXmYDvwpu/Dl6FBXAK7pq7OoNTLNvRLSl97ErSLdv
	QnxHhiUCKYrF8Gla3lYv67rmF8NGOgaxnBF2ByPi7Cn+xWRv0COAoBQk92CzsjgM9x1b
	oz26Tace5w/EwjwoD6CATOFEBKo9auB1SnwHshNzbxUjX8TK3v5Z+rIpMS4R97NoOO99
	zw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQDbuqy1ga0UBIV/MWlF4N+MnNGn3unoY7+kNdBRwz3XP/r+bX/MUE7v8N6tYISY
	dfMCMQDsjXPQRNhuwO0Mes0CkJIzfeFZ3zUSG6YQR5VFcnXZPTfccCOxLUc+gtWrf0uI
	nPs=
	</data>
</dict>
</plist>
