<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	tc/xZtGBJ5oL72rxTwO1QLw1zEgbPPo/rlR+GLZKnNuZgL1lnn23d1C0sIPNMv/HMFk8
	xT32l4Yf+oSIWq6zFujMf3M9y4Gyr80gunt2/OloIKMVj+e0n3RE2Y6U6Md9brR6JB2D
	zOcwdEn3U+v6y0aYdP/ydA5HRKw1TPB6Hi4M5K3aSBk5FB+lvGgTBXQFmgnjXz4tXwc4
	tmC6uv4hqHA7vzh1kBqHphTxCJnb0DnSvnEUozT9kXjb8hakxMVagUsj0bv4M/S5l/T5
	DlWfEAvQs8DW+rnnMSMNDn5I0+P6brYrGvIIaNNmfWg0LWqFFyZWwi0F0HTc1obcraub
	sA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMBPhJm8BEhqyNaLL1ZBlaTon7EDJT1BzHaLzy+OtfDF7DOWPxZ7ec6hPuuKppmDe
	ugIxAKq2MEOgWo12MG9G/A8Df/LYtL/wX9QyWTttfT+Wcrr6/QNKpHxDJFB6yzOViCWz
	3g==
	</data>
</dict>
</plist>
