<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	HUl47jRmp9WlwysUhJcOht09k9OH4FeWwyTIHv7yEAVfG9YguXtCYfvMOj0SiYSi9kCQ
	NatIhZ306ZYiS86TXA4jPu7BbndiEjpJIYPC6GxF3orE7dj6QyzzGB1IMgWg04JuPOP+
	4JQ8sz2wOYfmBnx3HejAXefxpFZzb1//H7XtBPdTvY8YBLuwtREx27meTGwRU05UfQsp
	A1DtUmn87Lw1qss+vGFhe+HF+M3KUN2wjAgykufAL/AlrBJDJ/eiCV61VV2i7ETa8O6F
	DAr9Ab6eQwKCTgcVcwywCF/WXzreXKvzq9XcC/IVkvNmI6vpaokmcF9fkmRyjbD3cFG2
	Fw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMDHG0d87loWt1ewXB6LTyFEz/UEKOHHxNP4VFzSgt/EDloHdlQ5JP9RgRcEfvA8b
	UQIxAKwn/jJLr31hJG1oXV7gnIuv+RGffImCvQXnbcn0NQ1weuq4p2MBjeuzqvhpxW+M
	3A==
	</data>
</dict>
</plist>
