<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	A5LHXkjz4KHrwRJbRdg6wNvnj69ovdjEu6UBnYKbahy8DzdPGjIh8zYYLP9xOgf78OvY
	pokv/Qw0EIU/6oN7VjcLs2WPMTASOZiPy3Tq2T0TTGl0T4vsooagIviu8J/MYl885wwD
	m1xttsLeIe5B74rkcQm3k234qLHqHgdAoyauFxYDo2//GQOL8KAiK7TDyMeUqKpgo+UC
	QKsEdLOhd/gJU+qMGt1fe6a/42dbTkjsoAEDXglaE/Faww9KfBI0FD0WKpb3XPuqGgUn
	y/9kSfCL0AxEylYxuLjU2gTPhajA9apMMcgRS1zGVYKBg7g6nu0ZSzcCOWwQXS7n/Ty5
	gw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMBITRk1AhNx+cwVwIav30I1SLsvviTQSL8+eSnZ+ZG6iR2j8GfI7/W8pi9aa6uAe
	WgIwXfjj5oB5AJg09EcZy0dTQ7OmymgwxAvwcS6JPRRA1lkJ74ZTjGIKnZ1fv3XvZUFP
	</data>
</dict>
</plist>
