<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	aafXwNLTgzSXM9XMY2Or51RFDt5hWSGh/qcWZQyox4n7bpfdzDMVYCNa6gHxpOG72ss2
	XuCLywY6O3YDpjdOAgdBvJfFc+RA9BpJ4S4zMnX2VzZg3wgCuj58XMs6u8skWqBYOJ6S
	WE0TVKgBdt0fsurFsKgqVnDHyuB30pNRmgm0XDrP1Met2v38x9eNPPcBCVpcyU3x4jTW
	q73uQBUj1+cgNTOXa5m1HOum8LTEQQHxEjyUczyaPn9F7+CFp02SJ8hQ26xaJoqik8BI
	R5mw+wzyLl9IhZMUFY5pPRgwmH7VtfIZUyAdc8eeX0Q7E1jrdSvvgh4gLzidkIZmOw0m
	sA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMC9fXBEd9QybX/8VfsbplmD0RzmHDPm389zhWeY9cQxLg9wdj7FTcSJfM4WDTI8W
	ZwIwNhH4XC7McUD58Hqy9lArnZMyhCE0q2LKnqhLXEgnLKXGH5qY/w+16pyORylrTc5B
	</data>
</dict>
</plist>
