<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	orCWWt6hifP1LvlObaazm6y9MJhUV5lnwtXRvJmmtlF/x6CxnZKpgVFY+xPaaO1oXoAS
	FuQjxpCSZ2uc6D081kAo4k59Uqurd0ex4LtfETp7aYLOh3ySqn5URROiTR+MmJU/kx9B
	bY/lfUG6S7xObkwe6fmSmXiRtgsIsTjnk/6SVQgTRjrac9B66UxXQsQsgQwKVnj4WWSv
	rMpJ5aoOk3iLnpqvls/WwLvj5YxJjve1N1E2HH/yPuf2JE0Wq1d1z28k37apaBJIqSMU
	yceju27HJLEV+Y8WxFcOncD3r6AeC1JphGCl0fvvoDw6m8dUt8zS7hQ7ohkotZyUeEih
	pA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMEqQdG/Ky7yyrGkiptM76gsswTTi/o8JuTht8dna1HiXSbzl8y7pLT8L/mlEBEYJ
	NAIwKwXn2GGv1sTEsUSpvNKHCWxXM0EqVRty44RpkloMuTHrOwVKUyC9Tos/AdegWYfM
	</data>
</dict>
</plist>
