<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	ZJVMJqRYa4yyHi2rBcXeexwrT6DOMhMcizzBEh4W6a1xOtVKQzJJcq3OU4In8Xs4qCfc
	qNy5h8JsnImWeb6wfOUTH7p3UG0G9xcOzM7Ebmf2P2FzcLUzTg29dUjwVOAt4nnhnAAU
	p5X2rhGRAKQGkFSIE5DBIyqnKMRyM0l6liuqjvjxqXu8P3MVkohE3o9ORsgGT1Vvrsrn
	vlK+UeGmeN6koh5jo7LKvKiYWI//MT66TReLOawhsjGRbVIqZAPgfsYE6TQuir7LAsoR
	rnV7zfOIEKPbkEhdjiJMqthMffj4fsba57jRWqQJw+0HpM7MQ2HqymiqnaBBW+Gej41Z
	CQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMGRRenAUH4T6wdXP5qRo5VITld/qn3GPjqG4kdVvMZ8VJ89SKhprnrhx3tTqvg8u
	3gIwMUUNf+wRPReLbpBETXzGHWYqAN/yd/31jsnoWF0AGBMWkd+uiHvGQDxKk1wzE6dM
	</data>
</dict>
</plist>
