<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	dPEvYyernyLa+ip6exhdOFEezUUXc2ZM9u1xuWF3zLOMpjiauQ3aHJ+cjXfh2DDsbt++
	/KIAytjolZj5BgZVTSNWPSCEcPiuiWFIaNc4CyCmF6FqEJAwVqiadcPOGNv65Vs5o26a
	IypF/eovRd+xEy4hwf4nuhaZhS5UmJ65s0j/0Vygo9ARqhxyk30XGo5FeZbuk/5Ws7O6
	dHdHfet5UdaM3WZxvFjHjgN+qgBZK57Nas4w2mDO6aeXLxJxe70dJegeG0RZ45k15acN
	6sqoNdxBAF04xWlKNmitDKNNnu052j3XcSW37edaJpYMKci3mUznoSoTdiUgDALBPwnA
	Hg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQCuRcfjchHTj6+CfwDYCm/DHO5C2xzlToPd+7yijT5XygG1pK24qFiK4T6/h614
	LrMCMQDLVNhlK04TfqAHezrzvr4Kbh7iZEpHAd0zSrqfXuXb6Zwr8ENSs+c0gbh+nKou
	SBk=
	</data>
</dict>
</plist>
