<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	XxxGhn4/PPY/6srzk/8zu4Xerf1f84xlZZ6pG6juaypPI+chINNOUG14xYAPxW8yypC7
	YVRziKBBB3c948yh2rd1YUmO0JnPAMCyocVbhG48Hylby9VdmjYcbRk7TrZwQ3LisANs
	Oc9hv2R4+F9kJjI6jDms+U/Lu6Zz+T/BdBZYGnyCMk91i4udajec/04CWmITABPRW1s8
	oYgfnciKbdwfv/7rZJ0/E9OmmFhSp4D0uPjWJOT9XGdkWUunukJL20FsQ1VUHa57C3uC
	lNucidyJHrXwtjFyr7gO1DL5SofE3HO2Aim1Rt5xd66nFFzDT+naRfGZxkJLYrW2nUgc
	uw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMHACFzvq2S7/isisBKCqB0QwuqEHlqyZO/3itBJk31E5Ohzk9ap1zZHcGRs+vTF+
	8wIwF3EN7h0zDEycz1ahXZi5IQv6yGPA/C+HaEV0oT2DVsPy61NasRqdGMVCEkAkjei5
	</data>
</dict>
</plist>
