<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	SJ2FgMqbknmo4TbBsJX6Vb1LmS5vooc7aTbooBZ8kVgnaqfOXY/Y/5jUdLpXmTpzOYnj
	XtRk6yIjZowE5IODKmcfxkejANfRrboyYFlruq6BtAKSVpn/v6JlE2bcUw7zDTQ/bDW7
	4r0r/mCteTOxrUstksbJXc8GpE+u+PoCHI/KF0pnh820yYpw4zGlgAE79j2AJIa3J0zz
	mh/cZbjQxQTmJjTl8dVUIYyWl8cPnHBfxyj5N/0nqnRsQrbM+krrTBJOIqCzCXL6gGf1
	moXE1joRErbk05BSo+vHIdcKYQxYAVCxY+JVAoy9Mg5QI7RRm9560D7lgll/AFqSf9Ew
	RQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMCCKPwehfpTfN2XtvxP7Y6URY8gcvqjn2Mpvt1IdK7AQka3acwFkkbSgDeB8Wwdz
	HAIwDI8kwgWs685LwVpzXcWXxFQBNmlyen408tYgqRG1C3sj5gYMWngbXJleweERiWcg
	</data>
</dict>
</plist>
