<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	xv4gMFP8BGv2fDzJQeRglJeFwOkd45YzBBzSDXeQLb/OJOrMgrPTsOxlj7XaK8Z0MJjB
	mBgLCwIAeU962kcifUV3NDZfjJaJ3X4Mn18DoD7omDrivTCHI5hVLz2lXEc6FlIdliQi
	mJ21TmaXkKI4DO3HtkoOJ21WvRkMfzNHXhfBjFQft6fI1SWTY8lBrPl5GoH7vRu0FEoK
	XbXtY6KOMWLUfSQrRPg561HWw5lBkQVnoi54lmqtbE9g1IfCwb3LBwzCYP5rg+NrvBJG
	WdTqgo8XG9zMbjq1jqJ9kY4rXEGvIY2eMacqikNiZ6D5D2qaHHIlGH6WHCbAB8xm6ibz
	FA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMEcTU3NWYx/hB31uHBaC/krZbtJ6PwuHqa48LQv/0Xz5GQNOEzvpPAOZFw27kaH9
	SQIwV2ixBjkudnNX1Xz038ybnI7akg/EjY6MJic1X46xBsSgYJ1HtChhV2oZmJkgcqT6
	</data>
</dict>
</plist>
