<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	E4Y5CK8WLbg/aDwdVgEZwJasKfrw1hKanZ2QafF8IlUttHPrwdRvrUazLG+YJ99JyTro
	qojlzLiQeU/3keG+3hhbWFQ3AjpBS1HREBN8ea9POPq3Xehx9fCdA2O1sAYmTc2Rg9Yt
	Q0EHE9v6kSARQ9pTOrdXp9s/Qa0h2LXUWTUA/D26b6aYXFSt8ttKvbQuTfdKoxyWfT9i
	W6Mf81FuRWc5r3LhgSoCV86SR8oyiT4JYmfAJXlVovk1KVcbToY8cCn108bEt6fM6EeC
	V9DD7usKit8+skiuhLm9Vc/15+XCVywp/nTZ3lq7Y5kw4XZAk55ivMC+QoeYOMTRj0y2
	sA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQC5H9S5f3C0g/wVhi8SKc1/Qf6/HW5f71L4ZZbqMgkPYL0DfTppzXY7HeuT7QuX
	oHMCMQDRaPgnXqTojZOIzpJPzkotuhMOyY0kMU9MFof4v2/SXEBHoeYYUz1Ya2WAuRQm
	NUc=
	</data>
</dict>
</plist>
