<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	frmduPDwUbj+9oB7QMXuoef77v0UgvaYiP0hGch0rPpEDHjKzqsRdeyxcFKfLwvBhpi+
	dOT+ZYZET2/KVCbRwE2xcXmAIFpIYSOzjvMtOEwkHcPyXxQ4nM25mZ1ILNTH757WXqJG
	yN8AreZ3RZgOrL2JqdTBXcx5B85fG/moaBF779X+Qs6x/m7dGUvNJuzpyZPUBHsOC3BN
	j+UdNkEZ3fPmahu0dMTEoF6cHtxnxPhhtSMM4BYOkX0oGUF4n5qIRtTHArK50BidCWyM
	JDP5AmlmpR2dweJ8GAlKR7fy2uVImZ7buQtDVylTKtYP/7jjm32jnMhP2jmmlvFKWoBp
	CA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQCPPCya6L8dirvZ+JUXQxLmR4Enl4NMXH2UZDKnpMPhlC/OG12lQLCqpPTYQ5iJ
	4HwCMGe8TZSzidYyLIdMpKE9E0kWaCioA2CbsJsRy38laUAI+EYVUW+HWtywNsbGAb/9
	9A==
	</data>
</dict>
</plist>
