<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	AXwbhPSB4jCOEAw1yBrVn+dfeZtou4rGXb/WXPAcCR09HkNb3ULr2M4+1a6Q3cDF4UrE
	CvsFTzmMdewQpgZDUK98BmcLeemrmPU/Sr/BuYH/wVNmm9Xa2FVKGUQRD6ujQZnUUVSa
	OcjAZ7FjT3z+sU9wflTMgVWvETKlz72WhnP934yGyjDqhDhUzSpDbhUf2J2B+b3FLXTh
	HkmPelPo6YfMvL+xNQT73R5XLQ3oQrIDFxWZLgTobFvDgX/zaPSgVquZkGINBbm3npVd
	tO1hfG1zR8PH1DlMsaMaGETAR0nrKzbwrhhgKHMiwCILYYBaL9C8eooqVNejgLNmPq/V
	7A==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMGQG/SqoZLtJaE3AvmiU8CMPS1duawSlNrYPCQ8ij5DP+eWUUxVmfD0aoKt2ZpMW
	VAIxAKPC1JmAE5wkNXGbYwc0vJS+RtmJuNJJf+sEQ+0K0i2DEdUIqH5xPHZc5B1XRga5
	hA==
	</data>
</dict>
</plist>
