<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	ZXStO0XuabhStXe88lfgkATqjnrlFGtxqtIySvF8RS0aUSLjTHb4d/VtBk6u3Dmk6a7C
	zp+uoUy/z0gSQTfpr6madzmxZGE31x3HEDSc2kh/kQ6U3qckD6BXaLRjqM2rC20fRHTg
	pisB2Kj9o/8HfdpOu/aqN6e9G7FcvvneoF/UTnKamepMghupeXN4HbgTDWS7veDkS5qZ
	W7Wud6ZkATETNKSJojoppg9Cg0a5K/VY/e/yQtGJmNQEhWVk30JF8lsMB0C0xRvY/BtI
	zlB5zRyo51PKdfa58vNlpDYrrh00bKnd279sHk3HLNwEJ3O0PPF5YlUnYojcxvUc94/Q
	QA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMGJZjxu8SWSoEnwb4oqQk/PEciUK65g+82mRPhkI4oqylUAlrUBZnzU1Z74LPzhe
	sQIxAJlq91WqoHZYMqIBNgdkD2qYxxXaGohLjtp2OQFkfCksv5frj+TunCE1xFuUO3SO
	AA==
	</data>
</dict>
</plist>
