<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	BmVEb7FGlUrxGrUretWrSuQ9XIw3L7w2A3Sms59cfH0LWuIaMu3emKhuOM+A9lZiKZyS
	9WRpPcnR6VBrVG0PJocxbpPqQEwnZXPRs0f7rnplApoL7Q09ssc9M6UNDw47rtb7sQEo
	EcTvi9hy1fEecW1bGHC3FKhainJuK6J6weW0+8byvdcoMDDjJX4u9WUsJ0kgyYNtmCHa
	Y7W/zS6XEGrWthhnrY4KAhNZKeHWRdbC1qaWnEp15bP8AokJoRsEbL/12y+S23fOQLJz
	aRovdGnvV83ygKvFuHTXpyZpgRVGUyCJSu6ksA/qsDrGO4SIhO6sQDHGh1utqwAQ9GxL
	cQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMGk5bFGwuW1+Mr+zJJLHs7203G123ohZvUpfVaG9oXKOVtsHKbG0e9Lb1Kvubmik
	+gIxAMpESU6/C7g9whB07hnBb2F+HQFzSmFRNf7CPpQNVT1fW3JVjbeFHlCjwMInyKi6
	WA==
	</data>
</dict>
</plist>
