<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	NIdLRppORawPyWXbXPGdElExNHgHPVl/OzWMvSCQ3xpM2Oqvf2WeXFbVtGnIDWyRdhhV
	3ev9FxY0Pfrr8tmqxFof75HSU5TFAbMMJF+jcH6NcATfkE2wPoDiZp7m0BTZ6fngrxnb
	BFRDMOQufCJz0Ido8R/LankXnf8GLNcjP2ARBYCrXLAaGmKUTl/Od5GhJVgzDi0zwDh0
	gRAP03NwJH/8G1Q00wUHbiJtRnTzz+OfJn5xqmTbGXGfL3KvgVK+dIs7F7LZ8RX8vAop
	bSGyaxUsqmyFiaEkmdjX8YMl+hKujS0Ru1qXTDzdvwaicT5k+lBkoIIS8ykfv4yh3dg1
	bQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMFulFiFsdjXf8Hx+La+LmTHPmu+3qtCehwMPfAbNXdGlLl510WGYz2xMzTOkS4WU
	CgIwGrfVDgPGGSAAI6Qarqk6VvxCu9WLpv5d299C+TtOZenjaFCQyB/EJLnqo/r4P8hV
	</data>
</dict>
</plist>
