<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	XXlI/GetGHo2ihlKrFjAMENbdRoG9UGpskjX+nlouuwc5y9ITyfKPFtsf9YgNIM4h1Rc
	Y01zgK0lG3bgHBpgRsICMP6m0nPqxN+aeTljH+VEtksSj8jGJNyPyZE92PKgdUw3zdh3
	Z9MQ0HyRROBczpaGj7H+JHvQsiDp4AT22nLbnybdwwXBA67ejjkF+lXDzSPLQz7M4t1U
	kmBmR1TKaj7/wYIDl77y6egr1zPogwflTy0I/QaaMuxGvUgoCXuF+7p7YZquporZeNYb
	8cx9eU2nzmrtkM6jfdXG6jG57ILoLEBTkXqCSb2rI2d2LzklGbzAz5lTGqwhDhe8cE1T
	Ww==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMDSSK2Aw8rRmUTXAXOyks0VxFLz/IxTlNyJMmCRKuiIkm2gnUPORg8eT5Bq6PBHy
	QwIxAJLzu+BJkNShNNr/YwMc/7bs9lvPOOMUNnuMS4JHK0wkGaO+lwOwp7wCl6gov1gm
	jg==
	</data>
</dict>
</plist>
