<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	pY3yHz6AG+fi1qzqno1yGcYk+dZRq9EXIEpDUG1P1LhgOMdw6n+FHoyW2mRBaMYOlThu
	oAE9Husgtm+IfnIpjCwxJMFMJilLSC53UV/GXxH30ur80Tsp/oVO11WVUhfoCsV2oz0b
	E8J5AdPya0fYVNvhk2usvvb65aSfNBbSZfYNWobNoPeoCLZlWSCpOnUWEyqhdX3TNaEX
	WzM3yzelbAZuWhdguekfV/53BYSrRy48BAAVGHoHSSrg3nHhvmwgXhlmaZkrS3o4ui7g
	W/EiVvh2giEH2crPveT2eFLru758pAW+5tX0UQ8E9hQKe4JTuNlz+CnJNjXGeThi5EVW
	iQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQC0k59iIKV5bAw6tTrEppo+ahcPhwboXEwS523nVZRa0LuvABbm1qutS2JQwk6F
	LRgCMDkQ+3+7/apS3C7inD4jdT6qV0PQTyoXmm7cqeLRGuFuUMYmTgGmJ7b5UQcwfoDq
	Dw==
	</data>
</dict>
</plist>
