<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	qDp1OMqDr5/9jtF5eZD/f2Vj4QfbH3Ju+ndwV9hbjfLvtMd51073dk8GzeZTvZYNp14W
	1r/5K1ObckmPp9oX34QTE2K/d3juJcbjlF9yh6jvly9qnaOquLZd8S9awZM+Yxip5iyH
	+ZbtRTP8kREP8wktYvdzD15VlJ76EwdLVsd0i98Wa7yRBDV1egFEmRSpubmHI6FxYz2J
	JKA4vdzrU4oUeLfNzeWjLAARvwHifbU95FW0eQCEsb5pPttlSvW77sgkKziaDsQetMnx
	z+OizeweEmUkMtOQ7GhgncMdr/oY3lnRiIgZJIHOuMO3v8h9Xc6KEYx3itD7yrNIvcAl
	mA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQCsmowuRnasKH2xLEPryjjg5Tx/fJwlwuwUeymXVrPx7x3qZAur1imYzyF+Mk5B
	FXoCMQC3KK4TH8EW8f7PKZFzFYf0zIqrezzrG8fnP9S66tSDKLGWA0S4rEY4XA1KT3QC
	uXA=
	</data>
</dict>
</plist>
