<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	zNvtRiqtvNp7e3WZKdP2YWVm0jWspCtGbkwKK4RWIAU4jHityFUM5H5JtIZcbqZk8KqK
	1ltLhMsJkuPQkm36PAPNEKiGNd8+2EqDCV3YB2VBsIlYsNeWnnrJ4LT0kRTqf5nCJ5re
	3X4sWz1St751f31Ku9FBdnPBcAWVm7jKVzrYHKGjGUBNixNx302weApvSqa1DhOZTyCX
	/SrAb7OliCllVfDOvPyWzigOqrXc+OYDGlYQi15EWu9obH0orPh7uQeOifqEggs/nJUj
	Oaw1bdh4vc8Tx1eKCgAHAOaNE8pAxyFEr1Nk9oAcmLR/bgWN+6s035YeYrwZ/S6Kckck
	GQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQCYDdchU2WsmJdsc9/ULTo67toQOycKTbsCxXAecjFLy6zt4yFYyfbTB0EzxeLf
	kM4CMF1RhYiEVzYgwbK+EMHz9clNUI3EjzwQ1kmG8833IWDShOWZPyn5a9qhbJO6DVEG
	iw==
	</data>
</dict>
</plist>
