<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>overrides_V53_V54_V57.der.pri2</key>
	<data>
	iRp7/F/iAJhyjJfSeZAg6y0m3djXUK42NT0irkwkAQ3evhIwky2cTHhQU57DNDPY2aHi
	nNJcaGZSY9yegCtpbJBnNNJ8QWI9N/0lsFFlPYuG3vHeUkMpigyjD3lhXwgnZqWbi9Mh
	rzIVottnnKUK9fG+BuxrvCBaMeZObGTIOvFGevyhQJbChcuJRyXXkI2Q6Te492vZ/tcO
	/ajZXdydAP6KSegFLytfIEVpaZnpnQ0Y5wbYomUsGmJdnKxQxEZ/7rZpVcWc43ubwzT0
	NsjjYnlpbRa7gsD1QCjVlWhTiNb3sgDkOdjSypwxRL8XdK4XFkUriAiceqCoaiSlsT33
	dQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQCgwBCWkkezVqPLUjKuRf4zaNpSX4uOZKwkCgKhKUOPvlCXp+9+yunX0TdrMNjx
	isQCMQCTB+W0yq0+ezlh+XYh0c91AfE1ziHXdLvhQFPSo3FwGKPs4oS2dyWsPw429fFY
	/FY=
	</data>
	<key>overrides_V53_V54_V57.der.pri3</key>
	<data>
	MGUCMQDNcB5Jj4C9E7TttfmMGQywSIdeDtRgrupj1ABXa/Ohn2P/KKcUYankmV2HEuWH
	PH8CMBbslolIGZC0ec+HahrwsaOTUNcvcH4YGHoOdrrh7e9Zj35evZaREfEyEpeR6RVJ
	ng==
	</data>
	<key>CBSignature2</key>
	<data>
	FWOU781bt7qVspsQ2d9TU5X58d7nMkMoCbc2vFjcA4WlJVdHkjzoAMa7JZeZYIe5vpDx
	MbK184qRNiOMKFHD0bWemGRv748mEXI85HbAq8WxYo2dpQ/oZ0dfAucXiE+5GRX9Nd9j
	wuL1HU0u/vSSBC0oRk0rtFtf6KaKCPyiV80F64pPCgvsygCawAEYVqZir9gHadBGYULS
	amyITYxo7aaZNGkJnu3VxBnRWxtBcj8a2gmJxd7iZ26+P3aiuvt3fvIffD1xOeCCowuH
	c0/59u0BA63KPp6JmnsyIhg0xSCaFsqMnoY07zYFsJ/eUhto1bndK1dGfbn0H4BscQbX
	rQ==
	</data>
</dict>
</plist>
