<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	AOmpYXli+r5lKBWqKfSw9MGTNeXkm3qhU6ECSyIlaXkLT0No6d4Enka3pUojBCOLeL1I
	dLtJllfHX21sGfmLE9TCRdrVDaqzWOZZFNjqq180Pi2wYQroYQbiMpUgYQo1cN8zxI10
	R92M09SnSZw3mAEN+tFg21P4Vt3fgAlMtH4Ex8GJ64VUY/E6Wtk50GhBR/7LnrPdb5ZN
	2wrxvQAqvFnXxeCqFYEk4WMoygk7jeS49TUx7uSqd5dbmZRqYe3O8VJAOlFB+z5TjshU
	Xkq/8WgAYrLfaZmVEYFK+idKInppv55S8Hq6dVAN8ZciGosDvInUWtNYrNZymwEj9Eha
	TQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMA4dTZbXUOnNWDyizIvxHuh4v4q4zaq9Fv/hiItF4w5Amy3MzrO+P6fDTGvHycQj
	dwIwOFhJfXcltr+zp+qgkDcWaKgyE+4nsgPmMhMHKSCiS4vK24lqEo5/vLjXc1TqS74O
	</data>
</dict>
</plist>
