<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	gVqYPGPVTvrvmC2VQqAKpRzlfV/oADDHtoeSGRXgFvRyorc/EjkfkOTqvtDjt8Yjxk67
	ebQQg2SKyJSFNKtJ4dDufjw3HRjqPpDdT0Q8MzZCldFZ0dzpCHkq1VvP7x0e6Hbgncud
	2LveK/1eqTiNYfavWz0zZA6wGSlVB3zuLC0zyoGVU+rZT3VY1gGV3VUofji75NVUtSus
	om99WYcPET6xJ+cPwhPTrSKKyuNr2jyupTpe37oe6yTf7W5iu9vCA5IZrdEdrQNR6Lse
	REeDKgoFaKrs3+gZn99aNWRQdYfjye1OnKgAFtWhiOS2POdm0UNvfn5slbl0kvpvpHNi
	8A==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQCeu5NMVyekrY+BwN5AHdeM8oGLFynPxitoep6tkV11Ud8+fc7cXMUJroa2STZ6
	Ev0CMGXESc6+/lrZDChLbwkFzXJLUZ9shKs99Hyu0xnSJuDWN3o7dbVST7BpOORMEkKA
	SA==
	</data>
</dict>
</plist>
