<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	CyF+Z4M0i5AVPv0XAgmydQdgI23a0LDI8AAtvaIwXPnP2fgLbo+bvXpRQjN/UcM8CRY5
	S0l9XU4sLPN2WqzlquIpYnFZUXuSASHeymn78afUxR+DGLgz5rM0Mm9P5etAuEJ8TRYm
	TevPMBBEoL1ph5q2d1TeGs7ajcP5KvxwF/Yuu7u1hx7lng2bYq3z+D3MYvDttjR1Kh1r
	1AMG0YtUAsH7PT3gM6HhgDAMxqc01M/itZ5683i4Eole76jeDjNUMPi64oprYYVwCwsI
	ZrvmWzcIOTQ0dmmptrgWMKKYhjpNUn8Z+y91F8xs3NLAbEn8Bk/fZyWB59UHHgImDeSx
	Tw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMDkttXZ0wE46Sf5O+tPW/sE43R34nmHnTMHjl0SHNv4/uRjEfe/IVK1TM5Ge76vK
	8wIxAMaYDGRdT45T2tZswuoSIYF1JlHJ8kdsyF3d7WttaMixpHSk7EuR3k+g7sB4pgqr
	XQ==
	</data>
</dict>
</plist>
