<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	HwkEt47z9YbhQA4mmDQ+dIBpZXeSpUCaFfdpb0qkddwJYic7X9CZ9KiIakkrELWxSxC1
	3OKvfHvP2Z0fWxdNn+IDQ8hHFFWWoGBGpVUa+QRizlEKC1TBeCXdfX7jOGmyRKq+UPJG
	YkYhTEaw1i6DIfwmfSX4PxsxqoLaOmau+SfG4UEILFc0y32pxoCCI6efyZEIIShOZcnz
	tC8Aq2qoiq/2+2WRy+CMiCMhRJBUd8ldFthB5IPXBhuSZFuSoEd1ZlArPoZLRVqzVmQK
	G/Q+syFr6Mj9OMEh+ozRAwE3A1ZEzEO73nmhdvtEVUUqZWxOmIzVRi+lr9lcneFiRfeB
	Ig==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMEb3Fb1idi1qJz0oJSEQ+u4yYBrZ1RjV16hYEqlGDKbWAk01R6/LdKt5klnwKCDH
	TwIwIrAevTpwjqPyeqdG5uyIXVULVrkfqYhdXxnv7fgHVY3XcNt4/0mczNUAV0As0siM
	</data>
</dict>
</plist>
