<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	kRyobV5EV1vdFkkIlV3SqOdla2Uulc2ppp7xxI4xf59hWgGLt3ZS8ji3mAofifFFpes+
	c7UcM3PxD08WDZ8J81RQrEU+6q0riIfZ+w30DUk+aZX4k60Ng5miWmDlk2zAtzUjEEHA
	V1r4dbmhoPB6E3VoBXLI4nU510IBiPTxmIY2wE1saBFEEz6rnZZfGQDEMZDmgoUqoCZw
	7PQoOd0V/Qf2PrB9jC6jicYiupLMqaHGXO6ba7rZyhDCiTrARycfm83Z1xQJNwjFPRGf
	6bB/X4y83KotZElhP56Ul2meuRdRzVFP4DevfizpwsS1k7WrVu/GqSqNWJpaU2mCFMfk
	vw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMAqN5unSSKQ5XMPZTA/0ExfCT2bIZvJ9WJkAgedWSkx0Q8m+jOwJlA0XNi9NlfjA
	rAIxAIh2qHz0uySyoprsi4BWK6q8Vqi9nRKu0jbXesXO343bDyLxBt4wf8RHcfpNqlyk
	DA==
	</data>
</dict>
</plist>
