<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	OxUTwu0+XOlFasxFe5EuaJzp5iJv4JuRckk9Yb4K807irw6Be+DRHnPPXz1dVYsge08d
	gPn5SajdgeTnb56bmQEC+NFAfj9C1voRZwIhAAXj19HJbc4i5EmtSin51/tPjHZct/Bg
	li5cJsCQyCbJOQ5IZ4+F9jUBTYfFSlRkc7zJL4wkBKNUDQF0JPqQrWF3N+2X9WOnGIzy
	1QRseaBLQUCtAONxc5nbYih3EQS1l/hN6Ztx0cAX8058tLKaE47olDASZdLSNQWChGfM
	ALjze8+KR3vqn1wzry4t4xGAAvmbo8mesT1QnNWhSzZ+cI5NHz4vN7rYy6TnJi8Q7GPA
	ug==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMAV521+QDiQ/A8NSTbfNkT7+oCtA+QRlI8TBjtbKD0Kr2p2YGUJTUQqWhBoakkSR
	lQIwFZnFeDexxr1U2CfxizX9ooyO6Ihs6UL+61OYfBXamVbgu4NkoOoa0LqyklE5udoV
	</data>
</dict>
</plist>
