<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	L4NJDaQiy+1GmWdL8qGAAcp2O1XYoGi0sRycz5XOrK3WU9w9H1j5/gjUEGfzUFteRMur
	nw3k1H1ajulCoA9FYZXdcqt7npbF2QsJ9qMT9JK9J5yMGBSH2POl9ir0pcfhoLABvK1V
	5S2faDOB6ZShYDu5iaPgxCEf9FyC22OENE0XzR0viPHKABRIx99xKRttGmxP8fP8Lbdp
	cq0hUatQVFOUGV7ss+b+irtPMqOwZZhPcjxvARZzdHe8XoISAUwmqxHx+1lR368YRzfk
	KdFdQqNkdz20Zcegb9s6Yaa6GoSblCcddieXNLPy7N/FtW6ZJWt1GZV8PN2rQDcPiYuK
	TA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMHE2Du49U3X/qPv9w1ukvUiBVvUmH2gSq4TLGDRBaNKBrXRcNTtUc2RbjCBGINo7
	xAIxAN6mInDCVIYrZNKBWH6VBjATQik8NYqNOyCc6QbaNBJLAX1m03PVFzX1s8fR9MrV
	Ig==
	</data>
</dict>
</plist>
