<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	P0JIdwk4lHxFzUZF5/cvugZ8frluFdoqnElRevDNzqLcWpkdgojzruIas5i/c6TOJzsl
	kEAdKAhRHuX5t2VpLc3dHjI+mJmo5sm1waCuK09dOfpV9YwpmHUkT4gopL6ZrIAHw8Nk
	6wY7+AA8yfy0BBjkW7AdNFxxUUQNlPVbqg5JZ9d/6xGt9Uvf/WAevuLocHGh/s3pN+QA
	CrZt11BV1GGTm1SuBDvWo7SUgc0F+R2u8ML88dTABRCP79EURkKyy6zcwHB5+ASDmdZK
	FGcNzKvwnHrJ+0P/MxruSHNXLu2/xAUVEIQfEfr64Db+uOx35USmhXCVRj+dr3Yv7yDH
	JQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQC4ocQQyIcV8s5FFMhWaKAaHPaAsjZylEgLdQ2ZPU5B455XkOmXKBub8c24udis
	YbwCMC5YA3frY3bqAdnMUoZVjpqXzcS9mNe6dRvg6bsD9UKl8NqY4oK8scOSfQVsA/BX
	2A==
	</data>
</dict>
</plist>
