<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	WmxFmtels44ba0P/xVzlycqskm678AX1Qkz+PXqUth/O4fpe5foLc9KhmM6mN++UdvWy
	0hNYElgF+zBb94r4W4d9k7+BjADXeLYYP2W62XEcvudaQ9bxl/phKwdR/G5c85LQVlE5
	ymYL0ixA6ywTbvBgBf9+yPFzHwAJbOWnoRKbsHm2PtxWaJTOgHCFudf8TIrM5uvP36g0
	/CXjLafMhMYMNyvxIufiLHazPzOIKq3IcdNAK6JUXE2odIaiXpkw1a4MpFI4TMILe00z
	jtUFtvF+m78vf67x/kFTuIk50CWSsPKpHG67bE+98dfAH2j3eNFn4dBR/MFCPaFVBWhz
	Xw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMFbZHGCPOI7n73TwOWkU3IPgQaWr97HsVEA0ecjMr7GH3esEOQ9uq1GwSyuNYgxL
	hwIwE+7STxFasPwOz9TyPXE5Gz/HE7qHCTHwuyjU4TFJyCrS6xKyiQXv7sq7OqZzM/8z
	</data>
</dict>
</plist>
