<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	kFoztnXgrQt+/LV/5z/HSdSuRFNp3dnZBW/a2SAt5htUWGAvLo59tPjtMgNTC56F0UQI
	ZqAWkdGMLfpv8RAzgHBNwSqo5iy1qmHzeZEhtxYt/QT4Lyhlz0SNaIZx6uhvEP17U4up
	aAdT8yLiKxQjZPB2WVN0lFJY/npGADUKrWf7hegsJLNczcIYYx3EHtE4WJO64pD5jtZ3
	pe0cB/aXWTz5MzrmJ+otPlGjtLDqFGuXAm/q7KEb/dSD1FLdzVnSeUI8L2B/UVC1dJPa
	UuUeoA3byTtRMLj4NmShdMG1I/FBXip+6m259SNFOTFn52uCpZisSMLfKHetDVyeY5ZJ
	dg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQCqo6VOIL0pqswHMs3EaRqElQPZFHZ83UmmPspDAI/QB09nxeWpN0c11NqPPBEY
	hHMCMEg/dAsTfc/bZz453wtd9NyGL7FVe7bg1SLyN8wOBdtg4JFf+P5aYJD6If9+X0ut
	Ww==
	</data>
</dict>
</plist>
