<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	DI5GJywwD1w+EZ5ZQlVsTwGB0ZfuRMQSgjHwnKJY2pKrW4KRA6B49F31hdXO+fZVKO3t
	zucKV4rdVmRYMHSFZl9Bb3iXlsSmRpJffYrk9/h5YZBIt1YSzKORYrI8pL1sRLId+Lu9
	puQ/vzMApjfLTatIw9/x+qciu9/knKO5fNVzDjcckSwsLi7xNXqN80bOuUzqxWXOFfhh
	F6CVDhdWALDrkYkCZPKRjjEthsjVlTw0bSBPYslOymDphqT257bGmfkeNXxFtBpz+U96
	JuoUNXTRn4tLE1T8CDvUV7BiUMb8KFVikBy4X90etpzuqJFUDkTRIRBdchBcS+0g8czH
	tg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMDjBHM8jfh0+jBn7ZjHOsG27P+rjjSnvL/ebGcNd0F+FxF54G01kU0EmkfNCiOIv
	9QIxAN4MYRW7/Xn4uX0+U5dgpqksSLsYwkCLZXHlkyOOXKejLpUFlhMLDp+tG+JNzmwt
	Cw==
	</data>
</dict>
</plist>
