<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	hvIlzSDPk+1JL8+j27Rvjtx1mBZvJakXWdCK/mRm2A+wXiD8gFFN6Iir3flb5WiPQSve
	U2HgapRKekBKkOb6BLLGxrm1Jp9fCQRV/SG2Ux0MkJXKd2pwSnjXV0BaOni6+CnjRX5J
	1yWo/pVRfOPrbzHqadlqPGdEW/aPJ+mFzPJW2tMQ2GW81p6136m1KZm+kFUiAQ22YPmJ
	K4LSpB6LjGNdrR6Bqc6YAZTwEV8KBgCNyWOHzaOxlIe83eFZog//CTC6woLiaZBnvUNs
	4126AUa8Wcskhzltxxa6AjstrWMsXnQkrlneuBTp8kROeQ6wzIekjE8XJZdeIstMXMIS
	1w==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQCNK9eGoeln7WNLWNECaEXt7oln0vtZKa4dBIP5kXdaEYHpXKX/ojac+yM9vwfs
	KWECMQCZRY8vynHl4XGNyMj5vA13sX7av5bg/mgO7R75qrGcjgG+ysq3CSopc8gKDoV8
	uyw=
	</data>
</dict>
</plist>
