<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	AjDME9IyYVASYYO3mg+q7721zFK319OABU7PPLUdb45vmB9PxQsL0oMAOI/WBU6QiBsF
	XCG6gz41Q5OgTkO3DHDi3gMYm7SocgH7dqC0uO3KbxeIFAfGTrlFGzUV0saFD2PI6i5V
	Jb8jX+Bwr9jsvBIiLfQ0ap/sBEErQz22hzBB5e9e6uQ9Efxd7iwbIwtOiyiLm3ff9AOL
	SevEeer7w1iFL93gNxJrOUROUrgG3Yut/5mDojSLTNfTTuCNArRqZHDx1LR0mMLo17Ud
	Isj9xp13LzB2cukQbCKv8Vk/L/VZETfi6g3J5eLOyadUpTCMZrq6Bb24wijNjU4HEK2c
	gw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMFTaBFg4MSEn8Kt6KtZDHmuaQrKpEIJY1taeqKwaIC3KkphX/PWZ/FRoVGTEDFKa
	+QIwbjdjIphXtdZODWr5T36DkXIUbyDwYKR+jw85B784Fji01DilVsy4ly6A6FzFtjTG
	</data>
</dict>
</plist>
