<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	JVemKCkjMAu94csL6NBFYHroayILBd8tZiTsgDiMRNx9ePL9YBWM4KcXfIp4veIst28d
	CL9oaUSe0fOMyqRM2nsura+ozYPl1r07UhkzZUK/ti89rSYY3PSC7fSUK3LsCTjaSajO
	0TSo9Uu7DCk0WF093kajQQed2zB0AHUo5bNC0x0F7LSmXGx0jCq1y1jwZXWyXJPTb1kZ
	HZ1axeFlx5rPRSV+4WTYPro0cAR8GhU4A7IaHx9ValR+i/0xSXUT40G4glsSGU7y2/BF
	oCE/E7pAuAUnoeSY7vUELjZglvlCkLFOUyTs0LEFKsCPwDaXZ1pCwl0OGbCQoE1x4nTS
	og==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMG0BGkCmK3vgFt2XDd3ums8TKK2CMwY4LHsV+hPf27gUt6dl88r0xyhRXqXiAe6z
	pgIxAImIgsRRwsq2TIysVKn6BRjm6Sg/Ozd4URknDAIMRchDSi3N2yL1Qx1n7FicQOCb
	8Q==
	</data>
</dict>
</plist>
