<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	h84OwW+QuWhF/zNSxp7Zod5Fq6Z82HSvi8n+F+XggG2COCoWF6jPpM4ZKNsmco1LV8L9
	pOIZFA8LHXKRZ1JiEHLBB6hrEUnXDaGd9hmz0s35O/nLICWHprfJphkUlGHSG2X5nCGe
	ohppPFooUd+sOlWFsQkrary1tLoOFEvPybTDePQ3R4qwRs/Pu0E4DGXfrBEKVZrgTlRX
	dYA+3MMJEzJnIUycZaHbDuXPTtIHsEu6quUX7/N0oT/4bHxHqcRvs21pMWFSZfcvsAZQ
	CBXiOdVIlhyzeDCDLPeggE8g54g8h8ZoxIPf3Q7Cuw0/74Y1JVbMSdEvbOGs4dNhzLhU
	pQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMD6Ot4L3poJXRfZnNyrWRqVbS5B9BW2CcO6coT2RULduLBx4nGUSCJ5WB6sXWe2o
	2wIwIlSoNhLWZwcS4N+IFbvjuAh8hZs1qC7tFG/vc/LApu1jE1Axmq/kt5RrVa7NAC4M
	</data>
</dict>
</plist>
