<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	euPHx7lc/eNWYC+TRvFzK8M2RyAulSgU6n6y2xIVHIKBCkSXAYaUa+yGgHCOC0WJ/8SI
	3cn1JvGnhSH9ZJCLDkYJ4eFh8Vn5/zgzHvrJcvk42QUYsiNpJ6yZ4Ci5oXnCbuy+jMv7
	y+OAYHHj7r61+uC6vkYarmXspuUuLnNTLLgqrShXF41JqwOSeTLGTV528WUmiGe4JaDM
	lOSXWnoSAi0MFtna/ItJNbq6gxWxBU0MBpVmzu3KG4ETLjyUXyONFRlx+7FsgNj3hcUy
	FNqHrJNnQnqVNa4lh3P9RnAa+fH7Ql/xEYJW/xirXHwD+O5M+bPw2Sjr93D/Q0zrjZDk
	WA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQCf6W5E9vaO21SgiQxs08z5BfIm+B1gnUXrf0kbJozuiQhTUvQ2aAP78FSJPTiT
	eakCMGsONUB5ODcZHnRvIlwMR777ov78VKJRtuJyvsYI/dsFJve1ogsRfIGDMFGGBkcN
	HA==
	</data>
</dict>
</plist>
