<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	58zrkbE+LiNvfwlIrqVOdi+/2f3SRlnNfKd+pBZLanzO/ivAGj8AC3ahtQmn7RPsRmtw
	TEOCwmi7ow7Nj4n05ObRf+YW+FmYVl6b9YKHeqZ3bAV3Fble6JzzEkn/4FLXhPOWlhkX
	f/yukcXyqZr7/2cEJEvIPrIIXMPMRHbDmZehZO8WCNrZPJPozWmqtn9niItP4Ib6Fact
	BR6otByA2/p4OkngxCc39qvhUqkEp0x0TZC6hMBA7PbAKV/0tW93C0Joe5ps6jEIFC5a
	FQbjZ5p/Kext3QM1Zwd7IFTHporODt7Io7nqwbBgKYXHdfID1x+aXchr24Il3qtxKYIv
	mg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMBT2Kl52VwVJK/0Gam4bWnArDytEf4evMkmYpIpE5qsD/Mtq2VZl/6+EaoENFgrq
	2AIxAPugDxB7mxzYFa3zlDNZSHhlLJlk79uHZefpilDtSDTGsnRRxLkdQvVbFjkpTcHt
	cA==
	</data>
</dict>
</plist>
