<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	1qXJA6aYmj+++aOjJ+LzWPvGzENIof2UHe4vaKVboICAZextPIjCsSFI8D6D5v5rP1D/
	/eLaDeuRPCuEzO7zKtch2AqCt8SIC/SnDevcDAzDiqw+dTN6unIo7bcExaQ04zphTYzW
	gBJarboLlYabFNpPwCEn97yd3ZrY6YmdkeO4/AYNvzcyIZU4o0rrc9CATaGXnTYjYXh9
	llHxk35gtcuLRRF4CxkNsQHk7AGyZinB/2TQo/DrfGL6MeGIJghYdu5a7xUe2kS8DyYo
	WYmVnEVkYho3P9hI16cZ4UzuuYt7mJCV9Mddk42y+u0dwbalGe8S6mSQyG3fAFVaNMfn
	2A==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMAwRg59dZfDgPGqjyST5R4oqzO3BYIeV/7Nn7A9g98eaghIP+0WcREfkSbopNgOJ
	cgIwHOSZRF+K2OuUQzjzbQzdCDZGH2LJdwXkTH+GFmJc3VGjEv0aZWc2B2owXlMhHT/f
	</data>
</dict>
</plist>
