<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	tclJjR79OPpPmLRFr7pNXtZNUIJP2HhxEP38FFXCOJ3WYLHyEr0NYLyeUFhvrnvXLIcU
	FGm6+QZ9nbd++xL1x+iSCmqSpxO5z1yin7aMLpnREgtdalJJswFDa9/lUr4gs21t/ax5
	jhHl1ZSTu7PEH8tMu02bcdvoROspa77oekZSyRHBwVW3//+4+X/U1l35WgeQKbHKN2yY
	ynhxNn3O9vZL78bvQSwSfRUQM8HT6FmSEyCUueXq/cKadCDU/nB7rnGbUjQm484exFGh
	oFWTtXKX0CFmvJpjqrwBcJyJpjSYHKe6yZPQ33RdtBlKndwUwVJY+KVhHuxYyTtpY/B/
	iQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGYCMQDtL/3hkoWm8To4jNhxX1OyiS4nfWYFYAaRjJcbFTdv4AgE4aPRyiBkkl0fejsu
	R4kCMQCoaybLvSecZ03gJtr8T7Qnn+KTnkiJ28yPc2B0s/ptalwSyrEKyX8AWxC7w6/K
	xR8=
	</data>
</dict>
</plist>
