<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	WChFmy6LQ4oQXD1YXoIjI6slucE1wCE4Sf6x7j4HJa0tLnRwICsy5PuJqoBpEaZvtbf4
	rLP0s9ZmOJRf29A1ke3gwwmflYDz+MdUSAyptYshGReqxiFxgC5rquoHGoP1Usy+16BL
	dqhKkAEdR5sQAy41kaq054eRG6dCfcyfdnqqp6GO5XDeP+PyhUODXemDYHIir8VQR1IR
	wIAa8pcg2vXhm55f+KZBOrfFsVrbbmpxHOfyh+SiIvnwwNxOyguGpBgXiSPKDCeW57Uv
	gck/VWVlczvIEnUNKnOIjsl8APqF/r6+a7rYWOG6xBPexYs7oBbD8FOHuothMm80J8JR
	8w==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQDJfYNHOePeFJrfjtM6iZ5/ukA7JPFVobOYp0ypegwzH3AA88xK/VuMlf8/gDgv
	b98CMGR/WtnQKCZ93C7aOg0jOG8J7YAkmp944VWyTpA6w0f47zjRlfcybzEIzRDainpH
	wA==
	</data>
</dict>
</plist>
