<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	ffmYM5DeNUrQCgkBRBqc1MwXbPww6lwMzyXGKOJzc7fgd+Ere+siCTdZeOQGh+g/Xvjy
	xvoX1lRk1c93jh8NmLy8LnMlgNlC3OkijXHwIv3jaXXLCvvUEgYCIJGOWSqYx70NGGc7
	RXlQmg5YDLHmaN0MQxwXtzXfsMtbmE3LXFy7fxqWQbx4XYm30omv0L7WNMXn3oCYz8RP
	lFThwS1SqCvdLVWEnRqcgED5y3edG3GnuY8xURsqy/IJgr2bqOx6TDxPqCnvTEem8xKA
	qHMazBKXXoQhP7uq+vStzvxxczc/KDHVUZBuhbSd2fIhF5NQGq3emRUHJrHtrrPMaC6P
	KQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMDoADexC+M/Zbby/3g18Ods7lvqqF4eGSCBK6Sa1tpm9TeG6rL5YDuKqgZ97ECSi
	VAIwEYGA0CQYmUUetXWqgnJ79RPCydTdZSng+WbfDgw/mYM1lSbOorMuqk22+0NDR4Wf
	</data>
</dict>
</plist>
