<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	6wF2GUPIu2Tf+O15KCIl3tbMEx6dOeFQSE398b0SqAlBShavjoxZmBiDR7j4lmrVDDv0
	dyGYYJwQBSEo1Iimt009HVv3XW1ezhNtydy2cGOciSk+aKcJcp/PhDP4Y5FTDg0Lrn6k
	+FVEp9lfptfzGW1JjgsutOyp5D4uZV0BRDAlBBGDeqgoPXGL4bE6k4uyO7HohwBA8PbO
	+d28qN3zhACqvnLYMBtQPnuQLU5We+QOs+Dt3L+WlEsInq1f3iDS3/MNE0q2JzHnYM3O
	4ue1xTgp0huFxG/ETj8KuHMf02Dv9kkz78TkP0+rUVAw6uRA2o9hMZ7jqpXWXnaWxVcX
	ZQ==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMBkAGTJOJfdCT/zZxUd7MtA+KfK1Q4qUkZopBZLWNRqDJ8xZcnGdS8sM5UikJ6K7
	zAIxAOo/DQb0HEyEiIytXzldYVodfSins8byWK+/eLLaDLaeZSx5uugosAoIvKajlq5w
	GQ==
	</data>
</dict>
</plist>
