<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	yUo1736T90R0/WOKQPslgj2uBuCDs91dAGwLSR1nr2HtxEn0qWx2Wyz4fiFHpCd8JrSW
	0wGyj+P+0lMx7uxjF2+BsUuohikGOUHFDvtTQugfVIfxl6mCfQBatSFFOtocAp+/juJg
	tIRSEKCT/zxtj0xA0EEqaodlC67Iath3gILHOH/BpYMDtPBigppjBzQjvQLTUCeSi9hs
	C3NI7UoctUY6AyilK1B4TvClRr5sTqw9S7EzYR7Yey2q8QFM8F4halpdmGo4CIBOUB4L
	cJ7IKYMOVK18ntvEE7mJ0ji8xT3lJNR2cV3Rd247cy9z56dmoNeGNw8mmjm7gpDcBrWB
	AA==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMCt5VGEGPRVOcsTd2JPiOzujcE7mQw+k60HUHUDQdgcChrUg7DnCxtKiZ/zswKgy
	jgIxAP1zdqlB3JvcYJ78vfvcuCh3TgwgPEtT71WHemBvAppnrVMBYEMkogHWleSpVW2W
	Ww==
	</data>
</dict>
</plist>
