<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	5MKoJmCoqsv1RUQwOXzTvAfj3BPp7DYLkvi9uV05hMxmNnpbgwJGeZvvwFB2e31daP0R
	0E6XBNFkUeK9Sh1kbc4ZMeO36GkRh7slDXpshK8MCmODI3AbvxaWzBIUhPgXnogu7g22
	yAmUZFzVEQePQZQ1GDffQlXINfwCdNv17ENYqMbMhT0FMkwHoFhihv8fyFJhFAyG8npJ
	FB9GBPJqc/KvqscgklHo0ln0kfZo/Dsr1fnnY1TS2Joc8Wxwe9SCEDf6KAudG1brrHme
	ZmG8sYQ21ra7kNPNC39nBN1wYrmfFW1+WYENM98SZwgAmGUfTwdG1oU6ESx6jPC8/hPC
	Rg==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMC4R+UmR9MMtkmqhixTQYjS8CZaYbv7/hL+qQEIMNXwbawOhmolJ3cEm2VtDrRx0
	yQIwf+wJ26doWSHwP7+jHXRzUNdkN+c0KkExuR2CcqBlIkPF1RGK5nraBRuQMmoD7qew
	</data>
</dict>
</plist>
