<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	3is8hCV8pIkBZeq87/TneL7iaiXETQYhb5yK21k7VCXoSpz8nd7wMRvm6ODOr1STeB6R
	np1H9kUVOZYUoUkEPR2UC9AGEcUZCWtUJvk9seWaZ78N5PVW8jtchBHaFA2r0cqPwmbT
	gaHguU4V7K/46dJtxN9/5brCDV/iDeGbQYUKpY6ct3+N/soT3WnoQ5sbS6n4nAZ35iWd
	Nz0DjGHf5BQbD2CGffRHWcoYVLKKxhkGMoyNYyOq2THCocuEQFW8yWGyT6n2+2CFmr74
	IBqYP8slU0vjuEcuy/P/cY/KEjyPyQporBCrMthnaqkv7h0w+op5UJfWy5TAjEIroCwD
	qw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGQCMEzgpGshwNkDPepimUG5GQFE8O9WlMcqBHKelPGK5uy2XbTRLu+cWL7EZ00NEgaY
	AAIwBpv1K3zUNwxYs4pnrM3e9TAGbSI6kEtZAS7nF/LEjHLvTzjRA1CXyjzaya8JOTU9
	</data>
</dict>
</plist>
