<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSignature2</key>
	<data>
	Q3eaKHHMlH0/PufX1Y2FqGAPNKNRGGxIpQ98Mn7b19jFpVDTrM8IGB0wZmzoX8vZKNcn
	dWdjceZa/oqTQ+GlzhwxyBYnPuBeOAHSy5YHOEArJM6/wfEDtT6fw+J1yj9Kda6gtumM
	PtXp2ltNkPhR6VpI3UPKj1B+b++bLchopbg1JP8TgApOPeZRBYzNr4dKDUU5UyQqhEVJ
	f6fGG3PxDnObT+gGZb5oEoOgNVJC+BRbLDKbE0MB/5CcWjPqa9JGZWX94xl2qr657DA4
	GQ9VgbQZ4RzmIeKUYb+fwVc3r2zJcRduFj1yh0OSzQPryMB9y0uXdb5mGXtlM6MH1kD3
	aw==
	</data>
	<key>CBSignature3</key>
	<data>
	MGUCMQDqpyFdi3aCx4RZeWnTJWCFgI0/vGreyqrqMJh0BmQdbE5N7FdiAknCyEHve4bG
	cfUCMArEmpA0NODuIXQTdhKJ7ck250lvJYHeFCJvE6nPhNihrG9K5iY1XjLtKZteKU8c
	pA==
	</data>
</dict>
</plist>
